<nb-card>
  <nb-card-header>
    ADMINISTRATION <nb-search placeholder="Rechercher..." hint="Tapez ENTRÉE pour lancer la recherche" style="float:right;" type="rotate-layout" tag="rotate-layout"></nb-search>
  </nb-card-header>
  <nb-card-body>
    <nb-card>
      <nb-card-header>
        Lignes
      </nb-card-header>
      <nb-card-body>
        <nb-accordion>
          <nb-accordion-item (click)="initialLoad('Ligne')">
            <nb-accordion-item-header>
              Lignes
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              <p-table #lignesTable [columns]="crudHelper.crudObjectDefinitions['Ligne'].object.structure.cols" [value]="crudHelper.crudObjectsLists['Ligne']" [lazy]="true" (onLazyLoad)="crudHelper.lazyLoad($event, 'Ligne', isLigneLoaded)" [paginator]="true" [first]="crudHelper.crudObjectsFirst['Ligne']" [rows]="crudHelper.crudObjectsRows['Ligne']" [rowsPerPageOptions]="[10,20,30,40,50]" [paginatorDropdownAppendTo]="'body'" [totalRecords]="crudHelper.crudObjectsTotals['Ligne']" [loading]="crudHelper.crudObjectsLoadings['Ligne']" editMode="row" dataKey="id">
                  <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                      <col *ngFor="let col of columns" [ngClass]="col.style">
                      <col style="width:70px;">
                      <col style="width:70px;">
                      <col style="width:70px;">
                    </colgroup>
                  </ng-template>
                  <ng-template pTemplate="header" let-columns>
                    <tr>
                      <th *ngFor="let col of columns" style="text-align:center;">
                        {{col.header}}
                      </th>
                      <th style="text-align:center;">
                        VIS.
                      </th>
                      <th style="text-align:center;">
                        EDIT.
                      </th>
                      <th style="text-align:center;">
                        SUPP.
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-rowData let-columns="columns" let-editing="editing">
                    <tr [pEditableRow]="rowData">
                        <td *ngFor="let col of columns" [ngClass]="col.style" pTooltip="{{resolveFieldData(rowData, col.field)}}" tooltipPosition="bottom" style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">
                        <p-cellEditor>
                          <ng-template pTemplate="input">
                              <input type="text" [(ngModel)]="crudHelper.editedObject[col.field]" required class="form-control"/>
                          </ng-template>
                          <ng-template pTemplate="output">
                              {{resolveFieldData(rowData, col.field)}}
                          </ng-template>
                        </p-cellEditor>
                      </td>
                      <td class="td-action-button" style="text-align:center;width:70px;">
                        <button class="btn btn-primary" (click)="openLignePortionsDialog(rowData, templateForLigneView)"><i class="fas fa-subway"></i></button>
                      </td>
                      <td class="td-action-button" style="text-align:center;width:70px;">
                        <button class="btn btn-primary" *ngIf="!editing" pButton pInitEditableRow (click)="crudHelper.onRowEditInit(rowData)"><i class="fas fa-pencil-alt"></i></button>
                        <button class="btn btn-success" *ngIf="editing" pButton pSaveEditableRow (click)="crudHelper.onRowEditSave()"><i class="fas fa-save"></i></button>
                        <button class="btn btn-warning" style="margin-left:15px;text-align:center;" *ngIf="editing" pButton pCancelEditableRow (click)="crudHelper.onRowEditCancel()"><i class="fas fa-times"></i></button>
                      </td>
                      <td class="td-action-button" style="text-align:center;width:70px;">
                        <button class="btn btn-warning" (click)="openDeleteDialog(rowData)"><i class="fas fa-trash-alt"></i></button>
                      </td>
                    </tr>
                  </ng-template>
              </p-table>
              <div class="div-action-button">
                <button class="btn btn-primary" (click)="openCreateDialog('Ligne')"><i class="fas fa-plus-circle"></i> AJOUTER</button>
              </div>
            </nb-accordion-item-body>
          </nb-accordion-item>
          <nb-accordion-item (click)="initialLoad('Region')">
            <nb-accordion-item-header>
              Régions / Infrapoles / Secteurs / Unités Opérationnelle / Portions
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              <nb-tabset fullWidth>
                <nb-tab tabTitle="Régions > Infrapoles">
                  <p-breadcrumb [model]="breadCrumb" [style]="{'margin-top':'15px','margin-right':'30px'}"></p-breadcrumb>
                  <div class="row" style="margin-top:10px;width:100%;">
                    <div class="col">
                      <strong style="display:block;margin-bottom:10px;">Régions</strong>
                      <p-table [value]="crudHelper.crudObjectsLists['Region']" selectionMode="single" [(selection)]="selectedRegion" dataKey="id" [scrollable]="true" scrollHeight="298px" [style]="{'height':'300px', 'border':'1px solid #c8c8c8'}" (onRowSelect)="getInfrapoles()" (onRowUnselect)="unselectInfrapoles()">
                        <ng-template pTemplate="body" let-rowData >
                          <tr [pSelectableRow]="rowData">
                            <td>
                              {{ rowData.name + ' - (' + rowData.code + ')' }}
                            </td>
                            <td class="td-action-button">
                              <button class="btn btn-primary" (click)="openEditDialog(rowData)"><i class="fas fa-pencil-alt"></i></button>
                            </td>
                            <td class="td-action-button">
                              <button class="btn btn-warning" (click)="openDeleteDialog(rowData)"><i class="fas fa-trash-alt"></i></button>
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                      <div class="div-action-button">
                        <button class="btn btn-primary" (click)="openCreateDialog('Region')"><i class="fas fa-plus-circle"></i> AJOUTER</button>
                      </div>
                    </div>
                    <div class="col">
                      <strong style="display:block;margin-bottom:10px;">Infrapoles</strong>
                      <p-table [value]="crudHelper.crudObjectsLists['Infrapole']" selectionMode="single" [(selection)]="selectedInfrapole" dataKey="id" [scrollable]="true" scrollHeight="298px" [style]="{'height':'300px', 'border':'1px solid #c8c8c8'}" (onRowSelect)="getSecteursOrUOs()" (onRowUnselect)="unselectSecteurs()">
                        <ng-template pTemplate="body" let-rowData >
                          <tr [pSelectableRow]="rowData">
                            <td>
                              {{ rowData.name + ' - (' + rowData.code + ')' }}
                            </td>
                            <td class="td-action-button">
                              <button class="btn btn-primary" (click)="openEditDialog(rowData)"><i class="fas fa-pencil-alt"></i></button>
                            </td>
                            <td class="td-action-button">
                              <button class="btn btn-warning" (click)="openDeleteDialog(rowData)"><i class="fas fa-trash-alt"></i></button>
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                      <div class="div-action-button" *ngIf="selectedRegion">
                        <button class="btn btn-primary" (click)="openCreateDialog('Infrapole')"><i class="fas fa-plus-circle"></i> AJOUTER</button>
                      </div>
                    </div>
                  </div>
                </nb-tab>
                <nb-tab tabTitle="Infrapoles > Secteurs">
                  <p-breadcrumb [model]="breadCrumb" [style]="{'margin-top':'15px','margin-right':'30px'}"></p-breadcrumb>
                  <div class="row" style="margin-top:10px;width:100%;">
                    <div class="col">
                      <strong style="display:block;margin-bottom:10px;">Infrapoles</strong>
                      <p-table [value]="crudHelper.crudObjectsLists['Infrapole']" selectionMode="single" [(selection)]="selectedInfrapole" dataKey="id" [scrollable]="true" scrollHeight="298px" [style]="{'height':'300px', 'border':'1px solid #c8c8c8'}" (onRowSelect)="getSecteursOrUOs()" (onRowUnselect)="unselectSecteurs()">
                        <ng-template pTemplate="body" let-rowData >
                          <tr [pSelectableRow]="rowData">
                            <td>
                              {{ rowData.name + ' - (' + rowData.code + ')' }}
                            </td>
                            <td class="td-action-button">
                              <button class="btn btn-primary" (click)="openEditDialog(rowData)"><i class="fas fa-pencil-alt"></i></button>
                            </td>
                            <td class="td-action-button">
                              <button class="btn btn-warning" (click)="openDeleteDialog(rowData)"><i class="fas fa-trash-alt"></i></button>
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                      <div class="div-action-button" *ngIf="selectedRegion">
                        <button class="btn btn-primary" (click)="openCreateDialog('Infrapole')"><i class="fas fa-plus-circle"></i> AJOUTER</button>
                      </div>
                    </div>
                    <div class="col">
                      <strong style="display:block;margin-bottom:10px;">Secteurs</strong>
                      <p-table [value]="crudHelper.crudObjectsLists['Secteur']" selectionMode="single" [(selection)]="selectedSecteur" dataKey="id" [scrollable]="true" scrollHeight="298px" [style]="{'height':'300px', 'border':'1px solid #c8c8c8'}" (onRowSelect)="getUOs()" (onRowUnselect)="unselectUnitesOperationnelle()">
                        <ng-template pTemplate="body" let-rowData >
                          <tr [pSelectableRow]="rowData" *ngIf="selectedInfrapole && selectedInfrapole.usesSecteurSubLevel">
                            <td>
                              {{ rowData.nom }}
                            </td>
                            <td class="td-action-button">
                              <button class="btn btn-primary" (click)="openEditDialog(rowData)"><i class="fas fa-pencil-alt"></i></button>
                            </td>
                            <td class="td-action-button">
                              <button class="btn btn-warning" (click)="openDeleteDialog(rowData)"><i class="fas fa-trash-alt"></i></button>
                            </td>
                          </tr>
                          <tr *ngIf="selectedInfrapole && !selectedInfrapole.usesSecteurSubLevel">
                            <td>
                              L'Infrapole sélectionné ne comporte pas de Secteur...
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                      <div class="div-action-button" *ngIf="selectedInfrapole">
                        <button class="btn btn-primary" (click)="openCreateDialog('Secteur')" [disabled]="!selectedInfrapole.usesSecteurSubLevel"><i class="fas fa-plus-circle"></i> AJOUTER</button>
                      </div>
                    </div>
                  </div>
                </nb-tab>
                <nb-tab tabTitle="Secteurs > Unités Opérationnelle">
                  <p-breadcrumb [model]="breadCrumb" [style]="{'margin-top':'15px','margin-right':'30px'}"></p-breadcrumb>
                  <div class="row" style="margin-top:10px;width:100%;">
                    <div class="col">
                      <strong style="display:block;margin-bottom:10px;">Secteurs</strong>
                      <p-table [value]="crudHelper.crudObjectsLists['Secteur']" selectionMode="single" [(selection)]="selectedSecteur" dataKey="id" [scrollable]="true" scrollHeight="298px" [style]="{'height':'300px', 'border':'1px solid #c8c8c8'}" (onRowSelect)="getUOs()" (onRowUnselect)="unselectUnitesOperationnelle()">
                        <ng-template pTemplate="body" let-rowData >
                          <tr [pSelectableRow]="rowData" *ngIf="selectedInfrapole && selectedInfrapole.usesSecteurSubLevel">
                            <td>
                              {{ rowData.nom }}
                            </td>
                            <td class="td-action-button">
                              <button class="btn btn-primary" (click)="openEditDialog(rowData)"><i class="fas fa-pencil-alt"></i></button>
                            </td>
                            <td class="td-action-button">
                              <button class="btn btn-warning" (click)="openDeleteDialog(rowData)"><i class="fas fa-trash-alt"></i></button>
                            </td>
                          </tr>
                          <tr *ngIf="selectedInfrapole && !selectedInfrapole.usesSecteurSubLevel">
                            <td>
                              L'Infrapole sélectionné ne comporte pas de Secteur...
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                      <div class="div-action-button" *ngIf="selectedInfrapole">
                        <button class="btn btn-primary" (click)="openCreateDialog('Secteur')" [disabled]="!selectedInfrapole.usesSecteurSubLevel"><i class="fas fa-plus-circle"></i> AJOUTER</button>
                      </div>
                    </div>
                    <div class="col">
                      <strong style="display:block;margin-bottom:10px;">Unités Opérationnelle</strong>
                      <p-table [value]="crudHelper.crudObjectsLists['UniteOperationnelle']" selectionMode="single" [(selection)]="selectedUnitesOperationnelle" dataKey="id" [scrollable]="true" scrollHeight="298px" [style]="{'height':'300px', 'border':'1px solid #c8c8c8'}" (onRowSelect)="getPortions()" (onRowUnselect)="unselectPortions()">
                        <ng-template pTemplate="body" let-rowData >
                          <tr [pSelectableRow]="rowData">
                            <td>
                              {{ rowData.name + ' - (' + rowData.code + ')' }}
                            </td>
                            <td class="td-action-button">
                              <button class="btn btn-primary" (click)="openEditDialog(rowData)"><i class="fas fa-pencil-alt"></i></button>
                            </td>
                            <td class="td-action-button">
                              <button class="btn btn-warning" (click)="openDeleteDialog(rowData)"><i class="fas fa-trash-alt"></i></button>
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                      <div class="div-action-button" *ngIf="selectedSecteur || (selectedInfrapole && !selectedInfrapole.usesSecteurSubLevel)">
                        <button class="btn btn-primary" (click)="openCreateDialog('UniteOperationnelle')"><i class="fas fa-plus-circle"></i> AJOUTER</button>
                      </div>
                    </div>
                  </div>
                </nb-tab>
                <nb-tab tabTitle="Unités Opérationnelle > Portions">
                  <p-breadcrumb [model]="breadCrumb" [style]="{'margin-top':'15px','margin-right':'30px'}"></p-breadcrumb>
                  <div class="row" style="margin-top:10px;width:100%;">
                    <div class="col">
                      <strong style="display:block;margin-bottom:10px;">Unités Opérationnelle</strong>
                      <p-table [value]="crudHelper.crudObjectsLists['UniteOperationnelle']" selectionMode="single" [(selection)]="selectedUnitesOperationnelle" dataKey="id" [scrollable]="true" scrollHeight="298px" [style]="{'height':'300px', 'border':'1px solid #c8c8c8'}" (onRowSelect)="getPortions()" (onRowUnselect)="unselectPortions()">
                        <ng-template pTemplate="body" let-rowData >
                          <tr [pSelectableRow]="rowData">
                            <td>
                              {{ rowData.name + ' - (' + rowData.code + ')' }}
                            </td>
                            <td class="td-action-button">
                              <button class="btn btn-primary" (click)="openEditDialog(rowData)"><i class="fas fa-pencil-alt"></i></button>
                            </td>
                            <td class="td-action-button">
                              <button class="btn btn-warning" (click)="openDeleteDialog(rowData)"><i class="fas fa-trash-alt"></i></button>
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                      <div class="div-action-button" *ngIf="selectedSecteur || (selectedInfrapole && !selectedInfrapole.usesSecteurSubLevel)">
                        <button class="btn btn-primary" (click)="openCreateDialog('UniteOperationnelle')"><i class="fas fa-plus-circle"></i> AJOUTER</button>
                      </div>
                    </div>
                    <div class="col">
                      <strong style="display:block;margin-bottom:10px;">Portions</strong>
                      <p-table [value]="crudHelper.crudObjectsLists['Portion']" selectionMode="single" [(selection)]="selectedPortion" dataKey="id" [scrollable]="true" scrollHeight="298px" [style]="{'height':'300px', 'border':'1px solid #c8c8c8'}" (onRowSelect)="fillBreadCrumb()" (onRowUnselect)="fillBreadCrumb()">
                        <ng-template pTemplate="body" let-rowData >
                          <tr [pSelectableRow]="rowData">
                            <td>
                              {{ rowData.ligne.code + ' - ' + rowData.ligne.nom + ' - [' + rowData.pkDebut + ' - ' + rowData.pkFin + ']' + (rowData.voie ? ' (' + rowData.voie + ')' : '') }}
                            </td>
                            <td class="td-action-button">
                              <button class="btn btn-primary" (click)="openEditDialog(rowData)"><i class="fas fa-pencil-alt"></i></button>
                            </td>
                            <td class="td-action-button">
                              <button class="btn btn-warning" (click)="openDeleteDialog(rowData)"><i class="fas fa-trash-alt"></i></button>
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                      <div class="div-action-button" *ngIf="selectedUnitesOperationnelle">
                        <button class="btn btn-primary" (click)="openCreateDialog('Portion')"><i class="fas fa-plus-circle"></i> AJOUTER</button>
                      </div>
                    </div>
                  </div>
                </nb-tab>
              </nb-tabset>
            </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-header>
        Géométries
      </nb-card-header>
      <nb-card-body>
        <nb-accordion>
          <nb-accordion-item (click)="initialLoad('Geometrie')">
            <nb-accordion-item-header>
              Géométries
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              <p-table #geometriesTable [columns]="crudHelper.crudObjectDefinitions['Geometrie'].object.structure.cols" [value]="crudHelper.crudObjectsLists['Geometrie']" [lazy]="true" (onLazyLoad)="crudHelper.lazyLoad($event, 'Geometrie', isGeometrieLoaded)" [paginator]="true" [first]="crudHelper.crudObjectsFirst['Geometrie']" [rows]="crudHelper.crudObjectsRows['Geometrie']" [rowsPerPageOptions]="[10,20,30,40,50]" [paginatorDropdownAppendTo]="'body'" [totalRecords]="crudHelper.crudObjectsTotals['Geometrie']" [loading]="crudHelper.crudObjectsLoadings['Geometrie']" editMode="row" dataKey="id">
                  <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                      <col *ngFor="let col of columns" [ngClass]="col.style">
                      <col style="width:70px;">
                      <col style="width:70px;">
                    </colgroup>
                  </ng-template>
                  <ng-template pTemplate="header" let-columns>
                    <tr>
                      <th *ngFor="let col of columns" style="text-align:center;">
                        {{col.header}}
                      </th>
                      <th style="text-align:center;">
                        EDIT.
                      </th>
                      <th style="text-align:center;">
                        SUPP.
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-rowData let-columns="columns" let-editing="editing">
                    <tr [pEditableRow]="rowData">
                      <td *ngFor="let col of columns" [ngClass]="col.style" pTooltip="{{resolveFieldData(rowData, col.field)}}" tooltipPosition="bottom" style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">
                        <p-cellEditor>
                          <ng-template pTemplate="input">
                              <input type="text" [(ngModel)]="crudHelper.editedObject[col.field]" required class="form-control"/>
                          </ng-template>
                          <ng-template pTemplate="output">
                              {{resolveFieldData(rowData, col.field)}}
                          </ng-template>
                        </p-cellEditor>
                      </td>
                      <td class="td-action-button" style="text-align:center;width:70px;">
                        <button class="btn btn-primary" *ngIf="!editing" pButton pInitEditableRow (click)="crudHelper.onRowEditInit(rowData)"><i class="fas fa-pencil-alt"></i></button>
                        <button class="btn btn-success" *ngIf="editing" pButton pSaveEditableRow (click)="crudHelper.onRowEditSave()"><i class="fas fa-save"></i></button>
                        <button class="btn btn-warning" style="margin-left:15px;text-align:center;" *ngIf="editing" pButton pCancelEditableRow (click)="crudHelper.onRowEditCancel()"><i class="fas fa-times"></i></button>
                      </td>
                      <td class="td-action-button" style="text-align:center;width:70px;">
                        <button class="btn btn-warning" (click)="openDeleteDialog(rowData)"><i class="fas fa-trash-alt"></i></button>
                      </td>
                    </tr>
                  </ng-template>
              </p-table>
              <div class="div-action-button">
                <button class="btn btn-primary" (click)="openCreateDialog('Geometrie')"><i class="fas fa-plus-circle"></i> AJOUTER</button>
              </div>
            </nb-accordion-item-body>
          </nb-accordion-item>
          <nb-accordion-item (click)="initialLoad('Categorie')">
            <nb-accordion-item-header>
              Catégories / Types / Géométries
            </nb-accordion-item-header>
            <nb-accordion-item-body>
                <nb-tabset fullWidth>
                  <nb-tab tabTitle="Catégories > Types">
                    <p-breadcrumb [model]="breadCrumb2" [style]="{'margin-top':'15px','margin-right':'30px'}"></p-breadcrumb>
                    <div class="row" style="margin-top:10px;width:100%;">
                      <div class="col">
                        <strong style="display:block;margin-bottom:10px;">Catégories</strong>
                        <p-table [value]="crudHelper.crudObjectsLists['Categorie']" selectionMode="single" [(selection)]="selectedCategorie" dataKey="id" [scrollable]="true" scrollHeight="298px" [style]="{'height':'300px', 'border':'1px solid #c8c8c8'}" (onRowSelect)="getTypes()" (onRowUnselect)="unselectType()">
                          <ng-template pTemplate="body" let-rowData >
                            <tr [pSelectableRow]="rowData">
                              <td>
                                {{ rowData.libelle }}
                              </td>
                              <td class="td-action-button">
                                <button class="btn btn-primary" (click)="openEditDialog(rowData)"><i class="fas fa-pencil-alt"></i></button>
                              </td>
                              <td class="td-action-button">
                                <button class="btn btn-warning" (click)="openDeleteDialog(rowData)"><i class="fas fa-trash-alt"></i></button>
                              </td>
                            </tr>
                          </ng-template>
                        </p-table>
                        <div class="div-action-button">
                          <button class="btn btn-primary" (click)="openCreateDialog('Categorie')" ><i class="fas fa-plus-circle"></i> AJOUTER</button>
                        </div>
                      </div>
                      <div class="col">
                        <strong style="display:block;margin-bottom:10px;">Types</strong>
                        <p-table [value]="crudHelper.crudObjectsLists['Type']" selectionMode="single" [(selection)]="selectedType" dataKey="id" [scrollable]="true" scrollHeight="298px" [style]="{'height':'300px', 'border':'1px solid #c8c8c8'}" (onRowSelect)="getGeometriesType()" (onRowUnselect)="unselectGeometrieType()">
                          <ng-template pTemplate="body" let-rowData >
                            <tr [pSelectableRow]="rowData">
                              <td>
                                {{ rowData.libelle }}
                              </td>
                              <td class="td-action-button">
                                <button class="btn btn-primary" (click)="openEditDialog(rowData)"><i class="fas fa-pencil-alt"></i></button>
                              </td>
                              <td class="td-action-button">
                                <button class="btn btn-warning" (click)="openDeleteDialog(rowData)"><i class="fas fa-trash-alt"></i></button>
                              </td>
                            </tr>
                          </ng-template>
                        </p-table>
                        <div class="div-action-button" *ngIf="selectedCategorie">
                          <button class="btn btn-primary" (click)="openCreateDialog('Type')"><i class="fas fa-plus-circle"></i> AJOUTER</button>
                        </div>
                      </div>
                    </div>
                  </nb-tab>
                  <nb-tab tabTitle="Types > Géométries">
                    <p-breadcrumb [model]="breadCrumb2" [style]="{'margin-top':'15px','margin-right':'30px'}"></p-breadcrumb>
                    <div class="row" style="margin-top:10px;width:100%;">
                      <div class="col">
                        <strong style="display:block;margin-bottom:10px;">Types</strong>
                        <p-table [value]="crudHelper.crudObjectsLists['Type']" selectionMode="single" [(selection)]="selectedType" dataKey="id" [scrollable]="true" scrollHeight="298px" [style]="{'height':'300px', 'border':'1px solid #c8c8c8'}" (onRowSelect)="getGeometriesType()" (onRowUnselect)="unselectGeometrieType()">
                          <ng-template pTemplate="body" let-rowData >
                            <tr [pSelectableRow]="rowData">
                              <td>
                                {{ rowData.libelle }}
                              </td>
                              <td class="td-action-button">
                                <button class="btn btn-primary" (click)="openEditDialog(rowData)"><i class="fas fa-pencil-alt"></i></button>
                              </td>
                              <td class="td-action-button">
                                <button class="btn btn-warning" (click)="openDeleteDialog(rowData)"><i class="fas fa-trash-alt"></i></button>
                              </td>
                            </tr>
                          </ng-template>
                        </p-table>
                        <div class="div-action-button" *ngIf="selectedCategorie">
                          <button class="btn btn-primary" (click)="openCreateDialog('Type')"><i class="fas fa-plus-circle"></i> AJOUTER</button>
                        </div>
                      </div>
                      <div class="col">
                        <strong style="display:block;margin-bottom:10px;">Géométries</strong>
                        <p-table [value]="crudHelper.crudObjectsLists['GeometrieType']" selectionMode="single" [(selection)]="selectedGeometrieType" dataKey="id" [scrollable]="true" scrollHeight="298px" [style]="{'height':'300px', 'border':'1px solid #c8c8c8'}" (onRowSelect)="fillBreadCrumb2()" (onRowUnselect)="fillBreadCrumb2()">
                          <ng-template pTemplate="body" let-rowData >
                            <tr [pSelectableRow]="rowData">
                              <td>
                                {{ rowData.geometrie.libelle }}
                              </td>
                              <td class="td-action-button">
                                <button class="btn btn-primary" (click)="openEditDialog(rowData)"><i class="fas fa-pencil-alt"></i></button>
                              </td>
                              <td class="td-action-button">
                                <button class="btn btn-warning" (click)="openDeleteDialog(rowData)"><i class="fas fa-trash-alt"></i></button>
                              </td>
                            </tr>
                          </ng-template>
                        </p-table>
                        <div class="div-action-button" *ngIf="selectedType">
                          <button class="btn btn-primary" (click)="openCreateDialog('GeometrieType')"><i class="fas fa-plus-circle"></i> AJOUTER</button>
                        </div>
                      </div>
                    </div>
                  </nb-tab>
                </nb-tabset>
            </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-header>
        Maintenance BOATE
      </nb-card-header>
      <nb-card-body>
        <nb-accordion>
          <nb-accordion-item>
            <nb-accordion-item-header>
              Etat Dossiers
            </nb-accordion-item-header>
            <nb-accordion-item-body>

            </nb-accordion-item-body>
          </nb-accordion-item>
          <nb-accordion-item>
            <nb-accordion-item-header>
              Etat Bouclage
            </nb-accordion-item-header>
            <nb-accordion-item-body>

            </nb-accordion-item-body>
          </nb-accordion-item>
          <nb-accordion-item>
            <nb-accordion-item-header>
              Comparatif
            </nb-accordion-item-header>
            <nb-accordion-item-body>

            </nb-accordion-item-body>
          </nb-accordion-item>
          <nb-accordion-item>
            <nb-accordion-item-header>
              Maintenance
            </nb-accordion-item-header>
            <nb-accordion-item-body>

            </nb-accordion-item-body>
          </nb-accordion-item>
          <nb-accordion-item>
            <nb-accordion-item-header>
              Absence
            </nb-accordion-item-header>
            <nb-accordion-item-body>

            </nb-accordion-item-body>
          </nb-accordion-item>
          <nb-accordion-item>
            <nb-accordion-item-header>
              Etat Suivi Travaux
            </nb-accordion-item-header>
            <nb-accordion-item-body>

            </nb-accordion-item-body>
          </nb-accordion-item>
          <nb-accordion-item>
            <nb-accordion-item-header>
              Contrôle
            </nb-accordion-item-header>
            <nb-accordion-item-body>

            </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-header>
        Gestion BOATE
      </nb-card-header>
      <nb-card-body>
        <nb-accordion>
          <nb-accordion-item (click)="initialLoad('ArchiveBoite')">
            <nb-accordion-item-header>
              Gestion Boite
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              <p-table #archiveBoiteTable [columns]="crudHelper.crudObjectDefinitions['ArchiveBoite'].object.structure.cols" [value]="crudHelper.crudObjectsLists['ArchiveBoite']" [lazy]="false" [paginator]="true" [first]="crudHelper.crudObjectsFirst['ArchiveBoite']" [rows]="crudHelper.crudObjectsRows['ArchiveBoite']" [rowsPerPageOptions]="[10,20,30,40,50]" [paginatorDropdownAppendTo]="'body'" [totalRecords]="crudHelper.crudObjectsTotals['ArchiveBoite']" [loading]="crudHelper.crudObjectsLoadings['ArchiveBoite']" editMode="row" dataKey="id">
                <ng-template pTemplate="caption">
                  <div>        
                    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                    <input type="text" pInputText size="50" placeholder="Filtre Global" (input)="archiveBoiteTable.filterGlobal($event.target.value, 'contains')" style="width:auto">
                  </div>
                </ng-template>
                <ng-template pTemplate="colgroup" let-columns>
                  <colgroup>
                    <col *ngFor="let col of columns" [ngClass]="col.style">
                    <col style="width:70px;">
                    <col style="width:70px;">
                  </colgroup>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th *ngFor="let col of columns" style="text-align:center;">
                      {{col.header}}
                    </th>
                    <th style="text-align:center;" [attr.rowspan]="2">
                      EDIT.
                    </th>
                    <th style="text-align:center;" [attr.rowspan]="2">
                      SUPP.
                    </th>
                  </tr>
                  <tr>
                    <th *ngFor="let col of columns" style="text-align:center;">
                      <input placeholder="Filtre Colonne" pInputText type="text" (input)="archiveBoiteTable.filter($event.target.value, col.field, 'contains')" style="width: 100%">
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns" let-editing="editing">
                  <tr [pEditableRow]="rowData">
                    <td *ngFor="let col of columns" [ngClass]="col.style" pTooltip="{{resolveFieldData(rowData, col.field)}}" tooltipPosition="bottom" style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input type="text" [(ngModel)]="crudHelper.editedObject[col.field]" required class="form-control"/>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{resolveFieldData(rowData, col.field)}}
                        </ng-template>
                      </p-cellEditor>
                    </td>
                    <td class="td-action-button" style="text-align:center;width:70px;">
                      <button class="btn btn-primary" *ngIf="!editing" pButton pInitEditableRow (click)="crudHelper.onRowEditInit(rowData)"><i class="fas fa-pencil-alt"></i></button>
                      <button class="btn btn-success" *ngIf="editing" pButton pSaveEditableRow (click)="crudHelper.onRowEditSave()"><i class="fas fa-save"></i></button>
                      <button class="btn btn-warning" style="margin-left:15px;text-align:center;" *ngIf="editing" pButton pCancelEditableRow (click)="crudHelper.onRowEditCancel()"><i class="fas fa-times"></i></button>
                    </td>
                    <td class="td-action-button" style="text-align:center;width:70px;">
                      <button class="btn btn-warning" (click)="openDeleteDialog(rowData)"><i class="fas fa-trash-alt"></i></button>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
              <div class="div-action-button">
                <button class="btn btn-primary" (click)="openCreateDialog('ArchiveBoite')"><i class="fas fa-plus-circle"></i> AJOUTER</button>
              </div>
            </nb-accordion-item-body>
          </nb-accordion-item>
          <nb-accordion-item>
            <nb-accordion-item-header>
              Localisation Drone
            </nb-accordion-item-header>
            <nb-accordion-item-body>

            </nb-accordion-item-body>
          </nb-accordion-item>
          <nb-accordion-item (click)="initialLoad('Proprietaire')">
            <nb-accordion-item-header>
              Propriétaires
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              <p-table #proprietairesTable [columns]="crudHelper.crudObjectDefinitions['Proprietaire'].object.structure.cols" [value]="crudHelper.crudObjectsLists['Proprietaire']" [lazy]="false" [paginator]="true" [first]="crudHelper.crudObjectsFirst['Proprietaire']" [rows]="crudHelper.crudObjectsRows['Proprietaire']" [rowsPerPageOptions]="[10,20,30,40,50]" [paginatorDropdownAppendTo]="'body'" [totalRecords]="crudHelper.crudObjectsTotals['Proprietaire']" [loading]="crudHelper.crudObjectsLoadings['Proprietaire']" editMode="row" dataKey="id">
                <ng-template pTemplate="colgroup" let-columns>
                  <colgroup>
                    <col *ngFor="let col of columns" [ngClass]="col.style">
                    <col style="width:70px;">
                    <col style="width:70px;">
                  </colgroup>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th *ngFor="let col of columns" style="text-align:center;">
                      {{col.header}}
                    </th>
                    <th style="text-align:center;" [attr.rowspan]="2">
                      EDIT.
                    </th>
                    <th style="text-align:center;" [attr.rowspan]="2">
                      SUPP.
                    </th>
                  </tr>
                  <tr>
                    <th *ngFor="let col of columns" style="text-align:center;">
                      <input placeholder="Filtre Colonne" pInputText type="text" (input)="proprietairesTable.filter($event.target.value, col.field, 'contains')" style="width: 100%">
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns" let-editing="editing">
                  <tr [pEditableRow]="rowData">
                    <td *ngFor="let col of columns" [ngClass]="col.style" pTooltip="{{resolveFieldData(rowData, col.field)}}" tooltipPosition="bottom" style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input type="text" [(ngModel)]="crudHelper.editedObject[col.field]" required class="form-control"/>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{resolveFieldData(rowData, col.field)}}
                        </ng-template>
                      </p-cellEditor>
                    </td>
                    <td class="td-action-button" style="text-align:center;width:70px;">
                      <button class="btn btn-primary" *ngIf="!editing" pButton pInitEditableRow (click)="crudHelper.onRowEditInit(rowData)"><i class="fas fa-pencil-alt"></i></button>
                      <button class="btn btn-success" *ngIf="editing" pButton pSaveEditableRow (click)="crudHelper.onRowEditSave()"><i class="fas fa-save"></i></button>
                      <button class="btn btn-warning" style="margin-left:15px;text-align:center;" *ngIf="editing" pButton pCancelEditableRow (click)="crudHelper.onRowEditCancel()"><i class="fas fa-times"></i></button>
                    </td>
                    <td class="td-action-button">
                      <button class="btn btn-warning" (click)="openDeleteDialog(rowData)"><i class="fas fa-trash-alt"></i></button>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
              <div class="div-action-button">
                <button class="btn btn-primary" (click)="openCreateDialog('Proprietaire')"><i class="fas fa-plus-circle"></i> AJOUTER</button>
              </div>
            </nb-accordion-item-body>
          </nb-accordion-item>
          <nb-accordion-item (click)="initialLoad('Utilisateur')">
            <nb-accordion-item-header>
              Utilisateurs
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              <p-table #utilisateursTable [columns]="crudHelper.crudObjectDefinitions['Utilisateur'].object.structure.cols" [value]="crudHelper.crudObjectsLists['Utilisateur']" [lazy]="false" [paginator]="true" [first]="crudHelper.crudObjectsFirst['Utilisateur']" [rows]="crudHelper.crudObjectsRows['Utilisateur']" [rowsPerPageOptions]="[10,20,30,40,50]" [paginatorDropdownAppendTo]="'body'" [totalRecords]="crudHelper.crudObjectsTotals['Utilisateur']" [loading]="crudHelper.crudObjectsLoadings['Utilisateur']" dataKey="id">
                <ng-template pTemplate="caption">
                  <div>        
                      <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                      <input type="text" pInputText size="50" placeholder="Filtre Global" (input)="utilisateursTable.filterGlobal($event.target.value, 'contains')" style="width:auto">
                  </div>
                </ng-template>
                <ng-template pTemplate="colgroup" let-columns>
                  <colgroup>
                    <col *ngFor="let col of columns" [ngClass]="col.style">
                    <col style="width:70px;">
                    <col style="width:70px;">
                  </colgroup>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th *ngFor="let col of columns" style="text-align:center;">
                      {{col.header}}
                    </th>
                    <th style="text-align:center;" [attr.rowspan]="2">
                      EDIT.
                    </th>
                    <th style="text-align:center;" [attr.rowspan]="2">
                      SUPP.
                    </th>
                  </tr>
                  <tr>
                    <th *ngFor="let col of columns" style="text-align:center;">
                      <input placeholder="Filtre Colonne" pInputText type="text" (input)="utilisateursTable.filter($event.target.value, col.field, 'contains')" style="width: 100%">
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr>
                    <td *ngFor="let col of columns" [ngClass]="col.style" pTooltip="{{resolveFieldData(rowData, col.field)}}" tooltipPosition="bottom" style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">
                      {{resolveFieldData(rowData, col.field)}}
                    </td>
                    <td class="td-action-button" style="text-align:center;width:70px;">
                      <button class="btn btn-primary" pButton (click)="openUserProfilePage(resolveFieldData(rowData, 'idUtilisateur'))"><i class="fas fa-pencil-alt"></i></button>
                    </td>
                    <td class="td-action-button">
                      <button class="btn btn-warning" (click)="openDeleteDialog(rowData)"><i class="fas fa-trash-alt"></i></button>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
              <div class="div-action-button">
                <button class="btn btn-primary" (click)="openUserProfilePage('new')"><i class="fas fa-plus-circle"></i> AJOUTER</button>
              </div>
              <div class="div-action-button">
                <button *ngIf="crudHelper.crudObjectsLoadings['Utilisateur'] === false" style="width:300px;margin-top:10px;margin-bottom:10px;" [disabled]="exportUserLoading" class="btn btn-success" (click)="exporterUtilisateur()"><i class="fas fa-file-excel"></i>EXPORTER LA LISTE COMPLETE</button>
              </div>
            </nb-accordion-item-body>
          </nb-accordion-item>
          <nb-accordion-item>
            <nb-accordion-item-header>
              Type Ouvrage
            </nb-accordion-item-header>
            <nb-accordion-item-body>

            </nb-accordion-item-body>
          </nb-accordion-item>
          <nb-accordion-item>
            <nb-accordion-item-header>
              Périodicité
            </nb-accordion-item-header>
            <nb-accordion-item-body>

            </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-header>
        Configuration BOATE
      </nb-card-header>
      <nb-card-body>
        <nb-accordion>
          <nb-accordion-item>
            <nb-accordion-item-header>
              Répartition
            </nb-accordion-item-header>
            <nb-accordion-item-body>

            </nb-accordion-item-body>
          </nb-accordion-item>
          <nb-accordion-item>
            <nb-accordion-item-header>
              Configuration Générale
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              
            </nb-accordion-item-body>
          </nb-accordion-item>
          <nb-accordion-item>
            <nb-accordion-item-header>
              Statistiques
            </nb-accordion-item-header>
            <nb-accordion-item-body>

            </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>
      </nb-card-body>
    </nb-card>
  </nb-card-body>
</nb-card>

<!-- BEGIN WINDOWS TEMPLATES -->
<ng-template #templateForEdit let-data let-ref="dialogRef">
    <nb-card class="dialog-popup">
      <nb-card-header><span *ngIf="crudHelper.editedObject.id">Modifier</span><span *ngIf="!crudHelper.editedObject.id">Créer</span> {{ crudHelper.editedObject.structure.popupTitleDescription }}</nb-card-header>
      <nb-card-body>
        <nb-list>
          <nb-list-item *ngIf="crudHelper.editedObject.className == 'Infrapole' && (crudHelper.editedObject.needsWarningAboutDeletingSecteurs() || crudHelper.editedObject.needsWarningAboutDeletingUOs())">
            <div *ngIf="crudHelper.editedObject.needsWarningAboutDeletingSecteurs()">
              <p style="font-weight:bold;">
                Êtes-vous certain(e) de vouloir supprimer tous les secteurs existants pour cet Infrapole ainsi que tous ses enfants ?
              </p>
              <p>
                Assurez-vous qu'aucun de ces éléments n'est utilisé. Si c'est le cas, vous obtiendrez une erreur de suppression vous indiquant l'élément concerné. Cette confirmation est sans effet. La suppression effective aura lieu lors de l'enregistrement de l'Infrapole.
              </p>
              <p>
                Une fois cette case décochée, l'utilisation des Secteurs sera désactivée et les Unités Opérationnelle enfants seront directement liées à cet Infrapole.
              </p>
            </div>
            <div *ngIf="crudHelper.editedObject.needsWarningAboutDeletingUOs()">
              <p style="font-weight:bold;">
                Êtes-vous certain(e) de vouloir supprimer toutes les Unités Opérationnelle existantes pour cet Infrapole ainsi que tous ses enfants ?
              </p>
              <p>
                Assurez-vous qu'aucun de ces éléments n'est utilisé. Si c'est le cas, vous obtiendrez une erreur de suppression vous indiquant l'élément concerné. Cette confirmation est sans effet. La suppression effective aura lieu lors de l'enregistrement de l'Infrapole.
              </p>
              <p>
                Une fois cette case cochée, l'utilisation des Secteurs sera réactivée et les Unités Opérationnelle devront de nouveau être liées à un Secteur enfant de cet Infrapole.
              </p>
            </div>
            <div class="confirm-button">
              <button class="btn btn-warning" (click)="crudHelper.editedObject.getSecteurStatus()"><i class="fas fa-ban"></i>ANNULER</button>
              <button class="btn btn-danger" (click)="crudHelper.editedObject.setSecteurStatus()"><i class="fas fa-exclamation-triangle"></i>CONFIRMER</button>
            </div>
          </nb-list-item>
          <nb-list-item *ngFor="let property of crudHelper.editedObject.structure.fields">
            <div class="form-group" *ngIf="property.type == 'boolean' && !(crudHelper.editedObject.className == 'Infrapole' && crudHelper.editedObject.hideSecteurCheckbox())" style="padding-top:18px;">
              <p-checkbox [(ngModel)]="crudHelper.editedObject[property.index]" binary="true"></p-checkbox>
              <label>{{ property.libelle }}</label>
            </div>
            <div class="form-group" *ngIf="property.type == 'input'">
              <label>{{ property.libelle }}</label>
              <input nbInput [status]="property.required && (crudHelper.editedObject[property.index] == null || crudHelper.editedObject[property.index] == undefined || crudHelper.editedObject[property.index] == '') ? 'danger' : undefined" *ngIf="property.type == 'input'" type="text" placeholder="{{ property.libelle }}" class="form-control" [(ngModel)]="crudHelper.editedObject[property.index]"/>
            </div>
            <div class="form-group" *ngIf="property.type == 'autocomplete'">
              <label>{{ property.libelle }}</label>
              <p-autoComplete #autocomplete placeholder="{{ property.libelle }}" inputStyleClass="form-control" [inputStyle]="{'width':'100%', 'height':'calc(2rem + 20px)'}" [style]="{'width':'100%', 'height':'calc(2rem + 20px)'}" [(ngModel)]="crudHelper.editedObject[property.index]" [suggestions]="autocompleteSuggestions" (completeMethod)="autocompleteEdit($event, crudHelper.editedObject.className)" [field]="property.suggestionField" [forceSelection]="true"></p-autoComplete>
            </div>
          </nb-list-item>
        </nb-list>
      </nb-card-body>
      <nb-card-footer class="dialog-footer">
        <button class="btn btn-warning" (click)="ref.close()"><i class="fas fa-ban"></i>ANNULER</button>
        <button class="btn btn-primary" (click)="crudHelper.saveEditedObject()" [disabled]="!canEditedObjectBeSaved()"><i class="fas fa-save"></i>ENREGISTRER</button>
      </nb-card-footer>
    </nb-card>
  </ng-template>
  <ng-template #templateForDelete let-data let-ref="dialogRef">
    <nb-card class="dialog-popup">
      <nb-card-header>Supprimer {{ crudHelper.editedObject.structure.popupTitleDescription }} ?</nb-card-header>
      <nb-card-body>
        <p style="font-weight:bold;">
          {{ crudHelper.editedObject.getSummaryDescription() }}
        </p>
        <p style="font-weight:bold;">
          Êtes-vous certain(e) de vouloir supprimer cet élément et tous ses enfants ?
        </p>
        <p>
          Assurez-vous qu'aucun de ces éléments n'est utilisé. Si c'est le cas, vous obtiendrez une erreur de suppression vous indiquant l'élément concerné.
        </p>
      </nb-card-body>
      <nb-card-footer class="dialog-footer">
        <button class="btn btn-warning" (click)="crudHelper.editedObject = undefined; ref.close();"><i class="fas fa-ban"></i>ANNULER</button>
        <button class="btn btn-danger" (click)="crudHelper.deleteEditedObject()"><i class="fas fa-trash-alt"></i>SUPPRIMER</button>
      </nb-card-footer>
    </nb-card>
  </ng-template>
  <ng-template #templateForDeleteReservation let-data let-ref="dialogRef">
    <nb-card class="dialog-popup">
      <nb-card-header>Supprimer une réservation ?</nb-card-header>
      <nb-card-body>
        <p>
          {{ selectedReservationToDelete.getSummaryDescription() }}
        </p>
        <p style="font-weight:bold;">
          Êtes-vous certain(e) de vouloir supprimer cette réservation ?
        </p>
      </nb-card-body>
      <nb-card-footer class="dialog-footer">
        <button class="btn btn-warning" (click)="ref.close();"><i class="fas fa-ban"></i>ANNULER</button>
        <button class="btn btn-danger" (click)="confirmDelete(); ref.close();"><i class="fas fa-trash-alt"></i>SUPPRIMER</button>
      </nb-card-footer>
    </nb-card>
  </ng-template>
  <ng-template #templateForLigneView let-data let-ref="dialogRef">
    <nb-card class="dialog-popup">
      <nb-card-header>Visualiser une Ligne et ses Portions</nb-card-header>
      <nb-card-body>
        <p style="font-weight:bold;">
          {{ (crudHelper.editedObject.name ? crudHelper.editedObject.name : crudHelper.editedObject.nom) + (crudHelper.editedObject.code ? " - (" + crudHelper.editedObject.code + ")": "") }}<br/>
          {{ '[' + crudHelper.editedObject.pkDebut + ' - ' + crudHelper.editedObject.pkFin + ']' }}
        </p>
        <div *ngIf="crudHelper.editedObject.portions">
          <div *ngFor="let portion of crudHelper.editedObject.portions" class="row">
            <div class="col-2">
              <p-slider *ngIf="!portion['LAST_ELEMENT']" [ngModel]="100" [disabled]="true" orientation="vertical" [min]="0" [max]="100"></p-slider>
              <p-slider *ngIf="portion['LAST_ELEMENT']" [ngModel]="[0, 100]" [disabled]="true" orientation="vertical" [range]="true" [min]="0" [max]="100"></p-slider>
            </div>
            <div class="col-10">
              <br/>
              <strong>{{ '[' + portion.pkDebut + ' - ' + portion.pkFin + ']' + (portion.voie ? ' (' + portion.voie + ')' : '') }}</strong><br/><br/>
              <span *ngIf="portion.id">
                UO : <strong>{{ portion.uo.name + ' - (' + portion.uo.code + ')' }}</strong>
              </span>
              <span *ngIf="!portion.id">
                <i>PORTION NON ATTRIBUÉE</i>
              </span>
            </div>
          </div>
        </div>
      </nb-card-body>
      <nb-card-footer class="dialog-footer">
        <button class="btn btn-warning" (click)="crudHelper.editedObject = undefined; ref.close();"><i class="fas fa-ban"></i>FERMER</button>
      </nb-card-footer>
    </nb-card>
  </ng-template>
  <!-- END WINDOWS TEMPLATES -->
