<nb-card [nbSpinner]="currentOuvrage === undefined" nbSpinnerMessage="Chargement..." nbSpinnerSize="xxlarge">
  <nb-card-header>
    FICHE DE L'OUVRAGE
    <button class="btn return-button" (click)="backClicked()">< RETOUR</button>
    <button style="float:right;margin-right:20px;" class="btn btn-success" (click)="switchToSurveillance()">FICHE SURVEILLANCE</button>
  </nb-card-header>
  <nb-card-body>
    <nb-tabset fullWidth>
      <nb-tab tabTitle="Description Technique">
        <nb-card>
          <nb-card-body>
            <nb-card>
              <nb-card-body>
                <div class="row">
                <div class="col" style="text-align:center;">
                  <img style="height:300px;" src="assets/images/pont.jpg">
                </div>
                <div class="col">
                  <div style="border:1px solid;margin:0 auto;" id="map" class="map"></div>
                </div>
              </div>
              </nb-card-body>
            </nb-card>
            <nb-card>
              <nb-card-body>
                <div class="row" style="width:100%;">
                  <div class="col">
                    <div style="font-weight:bold;" class="form-group">
                      <label>Région</label>
                      <select style="font-weight:bold;" class="form-control" [(ngModel)]="activeFilters.filters.RegionSelected" (ngModelChange)="regionInfrapoleSecteurUoChange($event)">
                        <option *ngFor="let option of activeFilters.options.RegionOptions" [ngValue]="option">{{ option.fr }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col">
                    <div style="font-weight:bold;" class="form-group">
                      <label>INFRAPOLE</label>
                      <select style="font-weight:bold;" class="form-control" [(ngModel)]="activeFilters.filters.InfrapoleSelected" (ngModelChange)="regionInfrapoleSecteurUoChange($event)">
                        <option *ngFor="let option of activeFilters.options.InfrapoleOptions" [ngValue]="option">{{ option.fr }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col">
                    <div style="font-weight:bold;" class="form-group">
                      <label>Secteur</label>
                      <select style="font-weight:bold;" class="form-control" [(ngModel)]="activeFilters.filters.SecteurSelected" (ngModelChange)="regionInfrapoleSecteurUoChange($event)" [disabled]="activeFilters.options.SecteurOptions == null || activeFilters.options.SecteurOptions.length < 2">
                        <option *ngFor="let option of activeFilters.options.SecteurOptions" [ngValue]="option">{{ option.fr }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col">
                    <div style="font-weight:bold;" class="form-group">
                      <label>UO</label>
                      <select style="font-weight:bold;" class="form-control" [(ngModel)]="activeFilters.filters.UoSelected" (ngModelChange)="regionInfrapoleSecteurUoChange($event)">
                        <option *ngFor="let option of activeFilters.options.UoOptions" [ngValue]="option">{{ option.fr }}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div style="font-weight:bold;" class="col-9">
                    Ligne
                  </div>
                  <div class="col-3">
                    Vitesse
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col-9">
                    <div style="font-weight:bold;" class="form-group">
                      <select style="font-weight:bold;" class="form-control" [(ngModel)]="activeFilters.filters.LigneSelected">
                        <option *ngFor="let option of activeFilters.options.LigneOptions" [ngValue]="option">{{ option.fr }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="form-group">
                      <input type="text" disabled pInputText style="background-color:#e4e7ea;" [pKeyFilter]="inputFilter" class="form-control" *ngIf="currentOuvrage" [(ngModel)]="ngModel"/>
                    </div>
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    Indice
                  </div>
                  <div class="col">
                    UIC
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    <div class="form-group">
                      <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="currentOuvrage" [(ngModel)]="currentOuvrage.indice"/>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <select class="form-control" [(ngModel)]="activeFilters.filters.UicSelected">
                        <option *ngFor="let option of activeFilters.options.UicOptions" [ngValue]="option">{{ option.fr }}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div style="font-weight:bold;" class="col">
                    Pk début
                  </div>
                  <div class="col">
                    Pk milieu
                  </div>
                  <div class="col">
                    Pk fin
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    <div style="font-weight:bold;" class="form-group">
                      <input style="font-weight:bold;" type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="currentOuvrage" [(ngModel)]="currentOuvrage.pk"/>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="currentOuvrage" [(ngModel)]="currentOuvrage.middlePk"/>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="currentOuvrage" [(ngModel)]="currentOuvrage.endPk"/>
                    </div>
                  </div>
                </div>
              </nb-card-body>
            </nb-card>
            <nb-card>
              <nb-card-body *ngIf="isOT()">
                <div class="row" style="width:100%;">
                  <div class="col">
                    Est-ce un ouvrage enveloppe ?
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    <p-toggleButton *ngIf="currentOuvrage" [(ngModel)]="currentOuvrage.ouvrageEnveloppe" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                  </div>
                </div>
                <div class="row" style="width:100%;margin-top:10px;">
                  <div class="col">
                    <div class="form-group">
                      <label>Ouvrage enveloppe</label>
                      <select class="form-control" [(ngModel)]="activeFilters.filters.DUMMYSelected">
                        <option *ngFor="let option of activeFilters.options.DUMMYOptions" [ngValue]="option">{{ option.fr }}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    Pk Début Enveloppe
                  </div>
                  <div class="col">
                    PK Fin Enveloppe
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    <div class="form-group">
                      <input type="text" disabled pInputText style="background-color:#e4e7ea;" [pKeyFilter]="inputFilter" class="form-control" *ngIf="currentOuvrage" [(ngModel)]="ngModel"/>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <input type="text" disabled pInputText style="background-color:#e4e7ea;" [pKeyFilter]="inputFilter" class="form-control" *ngIf="currentOuvrage" [(ngModel)]="ngModel"/>
                    </div>
                  </div>
                </div>
              </nb-card-body>
            </nb-card>
            <nb-card>
              <nb-card-body>
                <div class="row" style="width:100%;">
                  <div class="col">
                    <div class="form-group">
                      <label>Département</label>
                      <select class="form-control" *ngIf="currentOuvrage" [(ngModel)]="activeFilters.filters.Departement1Selected">
                        <option *ngFor="let option of activeFilters.options.Departement1Options" [ngValue]="option">{{ option.fr }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label>Commune</label>
                      <p-autoComplete placeholder="Commune ou Code Postal" inputStyleClass="form-control" [inputStyle]="{'width':'100%', 'height':'calc(2rem + 20px)'}" [style]="{'width':'100%', 'height':'calc(2rem + 20px)'}" [(ngModel)]="activeFilters.filters.Commune1SelectedSearch" [suggestions]="activeFilters.options.Commune1Options" (completeMethod)="CommuneSearch($event, '1')" field="fr" [forceSelection]="true"></p-autoComplete>
                    </div>
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    <div class="form-group">
                      <label>2ème Département</label>
                      <select class="form-control" *ngIf="currentOuvrage" [(ngModel)]="activeFilters.filters.Departement2Selected">
                        <option *ngFor="let option of activeFilters.options.Departement2Options" [ngValue]="option">{{ option.fr }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label>2ème Commune</label>
                      <p-autoComplete placeholder="Commune ou Code Postal" inputStyleClass="form-control" [inputStyle]="{'width':'100%', 'height':'calc(2rem + 20px)'}" [style]="{'width':'100%', 'height':'calc(2rem + 20px)'}" [(ngModel)]="activeFilters.filters.Commune2SelectedSearch" [suggestions]="activeFilters.options.Commune2Options" (completeMethod)="CommuneSearch($event, '2')" field="fr" [forceSelection]="true"></p-autoComplete>
                    </div>
                  </div>
                </div>
              </nb-card-body>
            </nb-card>
            <nb-card>
              <nb-card-body>
                <div class="row" style="width:100%;">
                  <div class="col">
                    <div style="font-weight:bold;" class="form-group">
                      <label>Catégorie</label>
                      <select style="font-weight:bold;" class="form-control" *ngIf="currentOuvrage" [(ngModel)]="currentOuvrage.categorie" (ngModelChange)="setTypesBoateOptions($event)">
                        <option *ngFor="let option of selectOptions.WORK_CATEGORY" [ngValue]="option.raw">{{ option.fr }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col">
                    <div style="font-weight:bold;" class="form-group">
                      <label>Type BOATE</label>
                      <select style="font-weight:bold;" class="form-control" *ngIf="currentOuvrage" [(ngModel)]="currentOuvrage.typeOuvrage.nomBoate">
                        <option *ngFor="let option of typesBoateOptions" [ngValue]="option.fr">{{ option.fr }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col" *ngIf="isOT()">
                    <div style="font-weight:bold;" class="form-group">
                      <label>Type Patrimoine</label>
                      <select style="font-weight:bold;" class="form-control" *ngIf="currentOuvrage" [(ngModel)]="currentOuvrage.typeOuvrage.nomPatrimoine">
                        <option *ngFor="let option of typesPatrimoineOptions" [ngValue]="option.fr">{{ option.fr }}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    Moyens
                  </div>
                  <div class="col">
                    Classement
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    <div class="form-group">
                      <input type="text" disabled pInputText style="background-color:#e4e7ea;" [pKeyFilter]="inputFilter" class="form-control" *ngIf="currentOuvrage" [(ngModel)]="ngModel"/>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <select class="form-control" *ngIf="currentOuvrage" [(ngModel)]="currentOuvrage.otClassement">
                        <option *ngFor="let option of selectOptions.CLASSEMENT" [ngValue]="option.raw">{{ option.fr }}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </nb-card-body>
            </nb-card>
            <nb-card>
              <nb-card-body>
                <div class="row" style="width:100%;">
                  <div class="col">
                    Date incident
                  </div>
                  <div class="col">
                    Fiche signalétique
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    <p-calendar [style]="{'width':'100%'}" [panelStyle]="{'width':'100%'}" [locale]="fr" inputStyleClass="form-control" *ngIf="currentOuvrage" [(ngModel)]="dateIncident"></p-calendar>
                  </div>
                  <div class="col">
                    <p-toggleButton *ngIf="currentOuvrage" [(ngModel)]="ngModel" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                  </div>
                </div>
                <div class="row" style="width:100%;margin-top:10px;">
                  <div class="col">
                    Avaries
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    <div class="form-group">
                      <textarea pInputTextarea [rows]="5" [cols]="30" autoResize="autoResize" class="form-control" *ngIf="currentOuvrage" [(ngModel)]="currentOuvrage.otAvarie"></textarea>
                    </div>
                  </div>
                </div>
              </nb-card-body>
            </nb-card>
            <nb-card>
              <nb-card-body>
                <div class="row" style="width:100%;">
                  <div class="col" style="font-weight:bold;text-align:center;">
                    Confortement et Détection
                  </div>
                </div>
                <div class="row" style="width:100%;margin-top:10px;">
                  <div class="col">
                    Ancrages
                  </div>
                  <div class="col">
                    Béton Projeté
                  </div>
                  <div class="col">
                    Contrefort Béton
                  </div>
                  <div class="col">
                    Chambre d'éboulis
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    <p-toggleButton *ngIf="currentOuvrage" [(ngModel)]="ngModel" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                  </div>
                  <div class="col">
                    <p-toggleButton *ngIf="currentOuvrage" [(ngModel)]="ngModel" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                  </div>
                  <div class="col">
                    <p-toggleButton *ngIf="currentOuvrage" [(ngModel)]="ngModel" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                  </div>
                  <div class="col">
                    <p-toggleButton *ngIf="currentOuvrage" [(ngModel)]="ngModel" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                  </div>
                </div>
                <div class="row" style="width:100%;margin-top:10px;">
                  <div class="col">
                    Clouage
                  </div>
                  <div class="col">
                    Ecran Filet Détecteur
                  </div>
                  <div class="col">
                    Ecran Filet Protecteur
                  </div>
                  <div class="col">
                    Enrochements
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    <p-toggleButton *ngIf="currentOuvrage" [(ngModel)]="ngModel" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                  </div>
                  <div class="col">
                    <p-toggleButton *ngIf="currentOuvrage" [(ngModel)]="ngModel" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                  </div>
                  <div class="col">
                    <p-toggleButton *ngIf="currentOuvrage" [(ngModel)]="ngModel" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                  </div>
                  <div class="col">
                    <p-toggleButton *ngIf="currentOuvrage" [(ngModel)]="ngModel" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                  </div>
                </div>
                <div class="row" style="width:100%;margin-top:10px;">
                  <div class="col">
                    Ecran Rail Traverse
                  </div>
                  <div class="col">
                    Gabion
                  </div>
                  <div class="col">
                    Grillage Pendu
                  </div>
                  <div class="col">
                    Grillage Plaqué Ancré
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    <p-toggleButton *ngIf="currentOuvrage" [(ngModel)]="ngModel" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                  </div>
                  <div class="col">
                    <p-toggleButton *ngIf="currentOuvrage" [(ngModel)]="ngModel" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                  </div>
                  <div class="col">
                    <p-toggleButton *ngIf="currentOuvrage" [(ngModel)]="ngModel" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                  </div>
                  <div class="col">
                    <p-toggleButton *ngIf="currentOuvrage" [(ngModel)]="ngModel" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                  </div>
                </div>
                <div class="row" style="width:100%;margin-top:10px;">
                  <div class="col">
                    Injection
                  </div>
                  <div class="col">
                    Instrumentation
                  </div>
                  <div class="col">
                    Masque Drainant
                  </div>
                  <div class="col">
                    Masque Poids
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    <p-toggleButton *ngIf="currentOuvrage" [(ngModel)]="ngModel" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                  </div>
                  <div class="col">
                    <p-toggleButton *ngIf="currentOuvrage" [(ngModel)]="ngModel" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                  </div>
                  <div class="col">
                    <p-toggleButton *ngIf="currentOuvrage" [(ngModel)]="ngModel" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                  </div>
                  <div class="col">
                    <p-toggleButton *ngIf="currentOuvrage" [(ngModel)]="ngModel" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                  </div>
                </div>
                <div class="row" style="width:100%;margin-top:10px;">
                  <div class="col">
                    Mur Peller
                  </div>
                  <div class="col">
                    Pieux
                  </div>
                  <div class="col">
                    Merlon Pneusol
                  </div>
                  <div class="col">
                    Tranchée drainante
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    <p-toggleButton *ngIf="currentOuvrage" [(ngModel)]="ngModel" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                  </div>
                  <div class="col">
                    <p-toggleButton *ngIf="currentOuvrage" [(ngModel)]="ngModel" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                  </div>
                  <div class="col">
                    <p-toggleButton *ngIf="currentOuvrage" [(ngModel)]="ngModel" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                  </div>
                  <div class="col">
                    <p-toggleButton *ngIf="currentOuvrage" [(ngModel)]="ngModel" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                  </div>
                </div>
                <div class="row" style="width:100%;margin-top:10px;">
                  <div class="col">
                    Maçonnerie
                  </div>
                  <div class="col">

                  </div>
                  <div class="col">

                  </div>
                  <div class="col">

                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    <p-toggleButton *ngIf="currentOuvrage" [(ngModel)]="ngModel" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                  </div>
                  <div class="col">

                  </div>
                  <div class="col">

                  </div>
                  <div class="col">

                  </div>
                </div>
              </nb-card-body>
            </nb-card>
            <nb-card>
              <nb-card-body>
                <div class="row" style="width:100%;">
                  <div class="col">
                    Confortement et Détection
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    <div class="form-group">
                      <input type="text" disabled pInputText style="background-color:#e4e7ea;" [pKeyFilter]="inputFilter" class="form-control" *ngIf="currentOuvrage" [(ngModel)]="ngModel"/>
                    </div>
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    Confortement précisions
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    <div class="form-group">
                      <textarea pInputTextarea [rows]="5" [cols]="30" autoResize="autoResize" class="form-control" *ngIf="currentOuvrage" [(ngModel)]="ngModel"></textarea>
                    </div>
                  </div>
                </div>
              </nb-card-body>
            </nb-card>
            <nb-card>
              <nb-card-body>
                <div class="row" style="width:100%;">
                  <div class="col">
                    <div class="form-group">
                      <label>Type d'ouvrage mixte</label>
                      <select class="form-control" *ngIf="currentOuvrage" [(ngModel)]="ngModel">
                        <option *ngFor="let option of selectOptions.OT_MIXTE_TYPE" [ngValue]="option.raw">{{ option.fr }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label>Position</label>
                      <select class="form-control" *ngIf="currentOuvrage" [(ngModel)]="ngModel">
                        <option *ngFor="let option of selectOptions.SITUATION" [ngValue]="option.raw">{{ option.fr }}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    Hauteur mini [m]
                  </div>
                  <div class="col">
                    Distance au rail le plus proche
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    <div class="form-group">
                      <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="currentOuvrage" [(ngModel)]="ngModel"/>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="currentOuvrage" [(ngModel)]="ngModel"/>
                    </div>
                  </div>
                </div>
              </nb-card-body>
            </nb-card>
            <nb-card>
              <nb-card-body>
                <div class="row" style="width:100%;">
                  <div class="col">
                    Nom
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    <div class="form-group">
                      <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="currentOuvrage" [(ngModel)]="ngModel"/>
                    </div>
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    Sur/sous
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    <div class="form-group">
                      <textarea pInputTextarea [rows]="5" [cols]="30" autoResize="autoResize" class="form-control" *ngIf="currentOuvrage" [(ngModel)]="ngModel"></textarea>
                    </div>
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    Restriction
                  </div>
                  <div class="col">
                    Convention
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    <p-toggleButton *ngIf="currentOuvrage" [(ngModel)]="ngModel" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                  </div>
                  <div class="col">
                    <p-toggleButton *ngIf="currentOuvrage" [(ngModel)]="ngModel" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                  </div>
                </div>
                <div class="row" style="width:100%;margin-top:10px;">
                  <div class="col">
                    Particularités
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    <div class="form-group">
                      <textarea pInputTextarea [rows]="5" [cols]="30" autoResize="autoResize" class="form-control" *ngIf="currentOuvrage" [(ngModel)]="ngModel"></textarea>
                    </div>
                  </div>
                </div>
              </nb-card-body>
            </nb-card>
            <nb-card>
              <nb-card-body>
                <div class="row" style="width:100%;">
                  <div class="col">
                    Année de construction
                  </div>
                  <div class="col">
                    Année de modification
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    <div class="form-group">
                      <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="currentOuvrage" [(ngModel)]="ngModel"/>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="currentOuvrage" [(ngModel)]="ngModel"/>
                    </div>
                  </div>
                </div>
              </nb-card-body>
            </nb-card>
            <nb-card>
              <nb-card-body>
                <div class="row" style="width:100%;margin-top:10px;">
                  <div class="col">
                    Risque heurts routiers
                  </div>
                  <div class="col">
                    Risque heurts fluviaux
                  </div>
                  <div class="col">
                    Risque naturel
                  </div>
                  <div class="col">
                    Risque technologiques
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    <p-toggleButton *ngIf="currentOuvrage" [(ngModel)]="ngModel" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                  </div>
                  <div class="col">
                    <p-toggleButton *ngIf="currentOuvrage" [(ngModel)]="ngModel" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                  </div>
                  <div class="col">
                    <p-toggleButton *ngIf="currentOuvrage" [(ngModel)]="ngModel" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                  </div>
                  <div class="col">
                    <p-toggleButton *ngIf="currentOuvrage" [(ngModel)]="ngModel" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                  </div>
                </div>
                <div class="row" style="width:100%;margin-top:10px;">
                  <div class="col">
                    Risque sismique
                  </div>
                  <div class="col">
                    Monument historique
                  </div>
                  <div class="col">
                    Plan Orsec
                  </div>
                  <div class="col">
                    Embranchement particulier
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    <p-toggleButton *ngIf="currentOuvrage" [(ngModel)]="ngModel" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                  </div>
                  <div class="col">
                    <p-toggleButton *ngIf="currentOuvrage" [(ngModel)]="ngModel" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                  </div>
                  <div class="col">
                    <p-toggleButton *ngIf="currentOuvrage" [(ngModel)]="ngModel" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                  </div>
                  <div class="col">
                    <p-toggleButton *ngIf="currentOuvrage" [(ngModel)]="ngModel" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                  </div>
                </div>
              </nb-card-body>
            </nb-card>
            <nb-card>
              <nb-card-body>
                <div class="row" style="width:100%;">
                  <div class="col">
                    Lien Visite virtuelle
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    <div class="form-group">
                      <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="currentOuvrage" [(ngModel)]="ngModel"/>
                    </div>
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    Coordonnées X Début (WGS84)
                  </div>
                  <div class="col">
                    Coordonnées Y Début (WGS84)
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    <div class="form-group">
                      <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="currentOuvrage" [(ngModel)]="ngModel"/>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="currentOuvrage" [(ngModel)]="ngModel"/>
                    </div>
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    Coordonnées X Intermédiaire (WGS84)
                  </div>
                  <div class="col">
                    Coordonnées Y Intermédiaire (WGS84)
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    <div class="form-group">
                      <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="currentOuvrage" [(ngModel)]="ngModel"/>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="currentOuvrage" [(ngModel)]="ngModel"/>
                    </div>
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    Coordonnées X Fin (WGS84)
                  </div>
                  <div class="col">
                    Coordonnées Y Fin (WGS84)
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    <div class="form-group">
                      <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="currentOuvrage" [(ngModel)]="ngModel"/>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="currentOuvrage" [(ngModel)]="ngModel"/>
                    </div>
                  </div>
                </div>
                <div class="row" style="width:100%;margin-top:10px;">
                  <div class="col">
                    Commentaires
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    <div class="form-group">
                      <textarea pInputTextarea [rows]="5" [cols]="30" autoResize="autoResize" class="form-control" *ngIf="currentOuvrage" [(ngModel)]="ngModel"></textarea>
                    </div>
                  </div>
                </div>
              </nb-card-body>
            </nb-card>
            <nb-card>
              <nb-card-body style="text-align:center;">
                <button style="width:300px;margin-top:10px;margin-bottom:10px;" class="btn btn-success" (click)="save()"><i class="fas fa-save"></i>ENREGISTRER</button>
              </nb-card-body>
            </nb-card>
          </nb-card-body>
        </nb-card>
      </nb-tab>
      <nb-tab tabTitle="Propriétaire">
        <p-table [value]="crudHelper.crudObjectsLists['OuvrageProprietaire']" dataKey="id">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th style="text-align:center;">
                Pourcentage
              </th>
              <th style="text-align:center;">
                Nom Propriétaire
              </th>
              <th style="text-align:center;width:100px;">
                EDIT.
              </th>
              <th style="text-align:center;width:100px;">
                SUPP.
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData >
            <tr [pSelectableRow]="rowData">
              <td style="text-align:center;">
                {{ rowData.pourcentage }}
              </td>
              <td>
                {{ rowData.proprietaire.nom }}
              </td>
              <td class="td-action-button" style="width:100px;text-align:center;">
                <button class="btn btn-primary" (click)="openEditDialog(rowData)"><i class="fas fa-pencil-alt"></i></button>
              </td>
              <td class="td-action-button" style="width:100px;text-align:center;">
                <button class="btn btn-warning" (click)="openDeleteDialog(rowData)"><i class="fas fa-trash-alt"></i></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
        <div class="div-action-button" style="margin-top:10px;text-align:center;">
          <button class="btn btn-primary" (click)="openCreateDialog('OuvrageProprietaire')"><i class="fas fa-plus-circle"></i> AJOUTER</button>
        </div>
      </nb-tab>
      <nb-tab tabTitle="Historique de l'OA">
        <nb-accordion>
          <nb-accordion-item>
            <nb-accordion-item-header [ngStyle]="{'font-weight': historiquesDesVisites.length > 0 ? 'bold' : undefined }">
              Historique des visites ({{ historiquesDesVisites.length }})
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              <!-- List<bouclage> surveillance.ouvrage.id -->
              <p-table [value]="historiquesDesVisites" dataKey="id" [columns]="historiquesDesVisitesCols" [scrollable]="true" frozenWidth="100px">
                <ng-template pTemplate="frozencolgroup" let-columns>
                  <colgroup>
                    <col style="width:50px">
                    <col style="width:50px">
                  </colgroup>
                </ng-template>
                <ng-template pTemplate="colgroup" let-columns>
                  <colgroup>
                    <col *ngFor="let col of columns" [ngClass]="col.style">
                  </colgroup>
                </ng-template>
                <ng-template pTemplate="frozenheader" let-columns>
                  <tr>
                    <th style="width:50px;text-align:center;height:66px;" title="Proposition de Travaux">
                      <i class="fas fa-chevron-circle-right"></i>
                    </th>
                    <th style="width:50px;text-align:center;height:66px;" title="Accès Dossier">
                      <i class="fas fa-folder-open"></i>
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th *ngFor="let col of columns"  style="text-align:center;height:66px;">
                      {{col.header}}
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="frozenbody" let-rowData let-columns="columns">
                  <tr>
                    <td style="width:50px;text-align:center;height:66px;padding:0;">
                      <button style="padding:5px;" title="Proposition de Travaux" class="btn btn-success" (click)="openVisiteOuvragePage(rowData)"><i class="fas fa-chevron-circle-right"></i></button>
                    </td>
                    <td style="width:50px;text-align:center;height:66px;padding:0;">
                      <button style="padding:5px;" title="Accès Dossier" class="btn btn-primary" (click)="doStuff()"><i class="fas fa-folder-open"></i></button>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr>
                    <td *ngFor="let col of columns" style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;height:66px;" [ngClass]="col.style" pTooltip="{{resolveFieldData(rowData, col.field)}}" tooltipPosition="bottom">
                      {{resolveFieldData(rowData, col.field)}}
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </nb-accordion-item-body>
          </nb-accordion-item>
          <!--<nb-accordion-item>
            <nb-accordion-item-header>
              Historique des travaux (NUMERO)
            </nb-accordion-item-header>
            <nb-accordion-item-body>

            </nb-accordion-item-body>
          </nb-accordion-item>-->
          <nb-accordion-item>
            <nb-accordion-item-header [ngStyle]="{'font-weight': historiquesDesSurveillances.length > 0 ? 'bold' : undefined }">
              Historique des surveillances ({{ historiquesDesSurveillances.length }})
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              <!-- List<surveillance> surveillance.ouvrage.id -->
              <p-table [value]="historiquesDesSurveillances" dataKey="id">
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th style="text-align:center;">
                      Date début
                    </th>
                    <th style="text-align:center;">
                      Date fin
                    </th>
                    <th style="text-align:center;">
                      Type
                    </th>
                    <th style="text-align:center;">
                      Date du reclassement
                    </th>
                    <th style="text-align:center;">
                      Motif
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData >
                  <tr [pSelectableRow]="rowData">
                    <td style="text-align:center;">
                      {{ rowData.dateDebut ? rowData.dateDebut.toLocaleDateString() : undefined }}
                    </td>
                    <td>
                      {{ rowData.dateFin ? rowData.dateFin.toLocaleDateString() : undefined }}
                    </td>
                    <td>
                      {{ rowData.typeSurveillance ? rowData.typeSurveillance.replace('_', ' ') : undefined }}
                    </td>
                    <td>
                      {{ rowData.dateReclassement ? rowData.dateReclassement.toLocaleDateString() : undefined }}
                    </td>
                    <td>
                      {{ rowData.motifReclassement }}
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </nb-accordion-item-body>
          </nb-accordion-item>
          <nb-accordion-item>
            <nb-accordion-item-header [ngStyle]="{'font-weight': historiquesDesArchives.length > 0 ? 'bold' : undefined }">
              Historique des archives ({{ historiquesDesArchives.length }})
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              <!-- List<archiveDossier> surveillance.ouvrage.id -->
              <p-table [value]="historiquesDesArchives" dataKey="id" [columns]="historiquesDesArchivesCols" [scrollable]="true" frozenWidth="100px">
                <ng-template pTemplate="colgroup" let-columns>
                  <colgroup>
                    <col *ngFor="let col of columns" [ngClass]="col.style">
                  </colgroup>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th *ngFor="let col of columns" style="text-align:center;height:66px;">
                      {{col.header}}
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr>
                    <td *ngFor="let col of columns" style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;height:66px;" [ngClass]="col.style" pTooltip="{{resolveFieldData(rowData, col.field)}}" tooltipPosition="bottom">
                      {{resolveFieldData(rowData, col.field)}}
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </nb-accordion-item-body>
          </nb-accordion-item>
          <nb-accordion-item>
            <nb-accordion-item-header>
              ECR (NUMERO)
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              <!-- OT ONLY -->
            </nb-accordion-item-body>
          </nb-accordion-item>
          <nb-accordion-item>
            <nb-accordion-item-header>
              Historique des modifications de l'ouvrage (NUMERO)
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              <!-- List<modificationFiche> surveillance.ouvrage.id -->
            </nb-accordion-item-body>
          </nb-accordion-item>
          <nb-accordion-item>
            <nb-accordion-item-header>
              Données Géotechniques (NUMERO)
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              <!-- List<campagne> surveillance.ouvrage.id -->
            </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>

<ng-template #templateForEdit let-data let-ref="dialogRef">
    <nb-card class="dialog-popup">
      <nb-card-header><span *ngIf="crudHelper.editedObject.id">Modifier</span><span *ngIf="!crudHelper.editedObject.id">Créer</span> {{ crudHelper.editedObject.structure.popupTitleDescription }}</nb-card-header>
      <nb-card-body>
        <nb-list>
          <nb-list-item *ngFor="let property of crudHelper.editedObject.structure.fields">
            <div class="form-group" *ngIf="property.type == 'boolean'" style="padding-top:18px;">
              <p-checkbox [(ngModel)]="crudHelper.editedObject[property.index]" binary="true"></p-checkbox>
              <label>{{ property.libelle }}</label>
            </div>
            <div class="form-group" *ngIf="property.type == 'input'">
              <label>{{ property.libelle }}</label>
              <input nbInput [status]="property.required && (crudHelper.editedObject[property.index] == null || crudHelper.editedObject[property.index] == undefined || crudHelper.editedObject[property.index] == '') ? 'danger' : undefined" *ngIf="property.type == 'input'" type="text" placeholder="{{ property.libelle }}" class="form-control" [(ngModel)]="crudHelper.editedObject[property.index]"/>
            </div>
            <div class="form-group" *ngIf="property.type == 'autocomplete'">
              <label>{{ property.libelle }}</label>
              <p-autoComplete #autocomplete placeholder="{{ property.libelle }}" inputStyleClass="form-control" [inputStyle]="{'width':'100%', 'height':'calc(2rem + 20px)'}" [style]="{'width':'100%', 'height':'calc(2rem + 20px)'}" [(ngModel)]="crudHelper.editedObject[property.index]" [suggestions]="autocompleteSuggestions" (completeMethod)="autocompleteEdit($event, crudHelper.editedObject.className)" [field]="property.suggestionField" [forceSelection]="true"></p-autoComplete>
            </div>
            <div class="form-group" *ngIf="property.type == 'spinner'">
              <input nbInput [status]="property.required && (crudHelper.editedObject[property.index] == null || crudHelper.editedObject[property.index] == undefined || crudHelper.editedObject[property.index] == '') ? 'danger' : undefined" type="text" placeholder="{{ property.libelle }}" class="form-control" [(ngModel)]="crudHelper.editedObject[property.index]"/>
              <p-slider *ngIf="property.type === 'spinner'" [(ngModel)]="crudHelper.editedObject[property.index]" [min]="0" [max]="100" [step]="5"></p-slider>
            </div>
            <div class="form-group" *ngIf="property.type == 'select'">
              <select class="form-control" [(ngModel)]="crudHelper.editedObject[property.index]">
                <option *ngFor="let option of crudHelper.editedObject['ProprioOptions']" [ngValue]="option">{{ option.nom }}</option>
              </select>
            </div>
          </nb-list-item>
        </nb-list>
      </nb-card-body>
      <nb-card-footer class="dialog-footer">
        <button class="btn btn-warning" (click)="ref.close()"><i class="fas fa-ban"></i>ANNULER</button>
        <button class="btn btn-primary" (click)="crudHelper.saveEditedObject()" [disabled]="!canEditedObjectBeSaved()"><i class="fas fa-save"></i>ENREGISTRER</button>
      </nb-card-footer>
    </nb-card>
  </ng-template>
  <ng-template #templateForDelete let-data let-ref="dialogRef">
    <nb-card class="dialog-popup">
      <nb-card-header>Supprimer {{ crudHelper.editedObject.structure.popupTitleDescription }} ?</nb-card-header>
      <nb-card-body>
        <p style="font-weight:bold;">
          {{ crudHelper.editedObject.getSummaryDescription() }}
        </p>
        <p style="font-weight:bold;">
          Êtes-vous certain(e) de vouloir supprimer cet élément et tous ses enfants ?
        </p>
        <p>
          Assurez-vous qu'aucun de ces éléments n'est utilisé. Si c'est le cas, vous obtiendrez une erreur de suppression vous indiquant l'élément concerné.
        </p>
      </nb-card-body>
      <nb-card-footer class="dialog-footer">
        <button class="btn btn-warning" (click)="crudHelper.editedObject = undefined; ref.close();"><i class="fas fa-ban"></i>ANNULER</button>
        <button class="btn btn-danger" (click)="crudHelper.deleteEditedObject()"><i class="fas fa-trash-alt"></i>SUPPRIMER</button>
      </nb-card-footer>
    </nb-card>
  </ng-template>
