<nb-card [nbSpinner]="bouclage === undefined || (bouclage && !bouclage.surveillance)" nbSpinnerMessage="Chargement..." nbSpinnerSize="xxlarge">
  <nb-card-header>
    VISITE D'OUVRAGE
    <button class="btn return-button" (click)="backClicked()">< RETOUR</button>
  </nb-card-header>
  <nb-card-body>
    <nb-card>
      <nb-card-body>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>Type de Visite</label>
              <select class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.typeKey">
                <option *ngFor="let option of selectOptions.TypeVisiteOptions" [ngValue]="option.raw">{{ option.fr }}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>Auteur de la visite</label>
              <select class="form-control" *ngIf="bouclage && bouclage.author" [(ngModel)]="bouclage.author.idUtilisateur">
                <option *ngFor="let option of selectOptions.AuteurVisiteOptions" [ngValue]="option.raw">{{ option.fr }}</option>
              </select>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label>Responsable surveillance</label>
              <select class="form-control" *ngIf="bouclage && bouclage.authorSurveillance" [(ngModel)]="bouclage.authorSurveillance.idUtilisateur">
                <option *ngFor="let option of selectOptions.ResponsableSurveillanceOptions" [ngValue]="option.raw">{{ option.fr }}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            Région
          </div>
          <div class="col">
            INFRAPOLE
          </div>
          <div class="col">
            UO
          </div>
        </div>
        <div class="row" *ngIf="bouclage.surveillance">
          <div class="col">
            <div class="form-group">
              <input *ngIf="bouclage.surveillance.ouvrage.up.secteur; else regionSansSecteur" type="text" disabled pInputText style="background-color:#e4e7ea;" [pKeyFilter]="inputFilter" class="form-control" [(ngModel)]="bouclage.surveillance.ouvrage.up.secteur.infrapole.region.name"/>
              <ng-template #regionSansSecteur>
                <input type="text" disabled pInputText style="background-color:#e4e7ea;" [pKeyFilter]="inputFilter" class="form-control" [(ngModel)]="bouclage.surveillance.ouvrage.up.infrapole.region.name"/>
              </ng-template>

            </div>
          </div>
          <div class="col">
            <div class="form-group">
                <input *ngIf="bouclage.surveillance.ouvrage.up.secteur; else regionSansSecteur" type="text" disabled pInputText style="background-color:#e4e7ea;" [pKeyFilter]="inputFilter" class="form-control" [(ngModel)]="bouclage.surveillance.ouvrage.up.secteur.infrapole.name"/>
                <ng-template #regionSansSecteur>
                  <input type="text" disabled pInputText style="background-color:#e4e7ea;" [pKeyFilter]="inputFilter" class="form-control" [(ngModel)]="bouclage.surveillance.ouvrage.up.infrapole.name"/>
                </ng-template>
           </div>
          </div>
          <div class="col">
            <div class="form-group">
              <input type="text" disabled pInputText style="background-color:#e4e7ea;" [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.surveillance.ouvrage.up.name"/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            Ligne
          </div>
        </div>
        <div class="row" *ngIf="bouclage.surveillance">
          <div class="col">
            <div class="form-group">
              <input type="text" disabled pInputText style="background-color:#e4e7ea;" [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.surveillance.ouvrage.line.code"/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            Pk
          </div>
          <div class="col">
            Pk Milieu
          </div>
          <div class="col">
            Pk Fin
          </div>
        </div>
        <div class="row" *ngIf="bouclage.surveillance">
          <div class="col">
            <div class="form-group">
              <input type="text" disabled pInputText style="background-color:#e4e7ea;" [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.surveillance.ouvrage.pk"/>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <input type="text" disabled pInputText style="background-color:#e4e7ea;" [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.surveillance.ouvrage.middlePk"/>
            </div>
          </div>
         <div class="col">
            <div class="form-group">
              <input type="text" disabled pInputText style="background-color:#e4e7ea;" [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.surveillance.ouvrage.endPk"/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            Statut
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <input type="text" disabled pInputText style="background-color:#e4e7ea;" [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.statut"/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            Type
          </div>
        </div>
        <div class="row" *ngIf="bouclage.surveillance">
          <div class="col">
            <div class="form-group">
              <input type="text" disabled pInputText style="background-color:#e4e7ea;" [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.surveillance.ouvrage.typeOuvrage.nomBoate"/>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-body>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>État du Complément de Visite</label>
              <select class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.etatCV">
                <option *ngFor="let option of selectOptions.EtatCvOptions" [ngValue]="option.raw">{{ option.fr }}</option>
              </select>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-body>
        <div class="row">
          <div class="col">
            Incident à l'origine de la visite
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p-toggleButton *ngIf="bouclage" [(ngModel)]="bouclage.incident" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
          </div>
        </div>
        <div *ngIf="isOuvrageEnTerre() && bouclage.incident === true">
          <div style="margin-top:10px;" class="row">
            <div class="col">
              <div class="form-group">
                <label>Gravité</label>
                <select class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.incidentImportanceKey">
                  <option *ngFor="let option of selectOptions.GraviteOptions" [ngValue]="option.raw">{{ option.fr }}</option>
                </select>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label>Date Incident</label>
                <p-calendar [style]="{'width':'100%'}" [panelStyle]="{'width':'100%'}" [locale]="fr" inputStyleClass="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.incidentDate.realDate"></p-calendar>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              N° de fiche REX VA
            </div>
            <div class="col">
              Fiche chute de bloc
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="ngModel"/>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.ficheChuteBloc"/>
              </div>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-body>
        <div class="row">
          <div class="col" style="text-align: center;">
            <button style="width:100%;font-weight:bold;" class="btn btn-success" [ngClass]="getPropTravauxButtonColor('U0')" (click)="accordionPropositionTravauxU0Click()">Proposition Travaux U0</button>
          </div>
          <div class="col" style="text-align: center;">
            <button style="width:100%;font-weight:bold;" class="btn btn-success" [ngClass]="getPropTravauxButtonColor('U1')" (click)="accordionPropositionTravauxU1Click()">Proposition Travaux U1</button>
          </div>
          <div class="col" style="text-align: center;">
            <button style="width:100%;font-weight:bold;" class="btn btn-success" [ngClass]="getPropTravauxButtonColor('U2')" (click)="accordionPropositionTravauxU2Click()">Proposition Travaux U2</button>
          </div>
        </div>
        <nb-accordion style="margin-top:15px;" multi="true">
          <nb-accordion-item #accordionPropositionTravauxU0>
            <nb-accordion-item-body>
              <nb-card>
                <nb-card-body>
                  <div class="row">
                    <div class="col">
                      Proposition de travaux par l'agent U0
                    </div>
                  </div>
                  <div class="row" style="margin-top:6px;">
                    <div class="col-11">
                      <div class="form-group">
                        <textarea pInputTextarea [rows]="5" [cols]="30" autoResize="autoResize" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.laborTodoAgent0"></textarea>
                      </div>
                    </div>
                    <div class="col-1">
                      <button style="width:80px;margin-top:40px;" class="btn btn-success" (click)="copyAgentExpert('0')">>></button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label>Délai réalisation travaux par l'agent U0</label>
                        <select class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.delaiTravauxAgent0">
                          <option *ngFor="let option of selectOptions.DelaiAgentU0Options" [ngValue]="option.raw">{{ option.fr }}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <span title="Quel est le risque si les travaux proposés ne sont pas effectués ?">Analyse de risque U0</span>
                    </div>
                  </div>
                  <div class="row" style="margin-top:6px;">
                    <div class="col">
                      <div class="form-group">
                        <textarea pInputTextarea [rows]="5" [cols]="30" autoResize="autoResize" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.laborAnalyseRisque0"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <span title="Mesures à prendre si travaux non effectués dans les délais">Mesures Conservatoires U0</span>
                    </div>
                  </div>
                  <div class="row" style="margin-top:6px;">
                    <div class="col">
                      <div class="form-group">
                        <textarea pInputTextarea [rows]="5" [cols]="30" autoResize="autoResize" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.laborMesuresConservatoire0"></textarea>
                      </div>
                    </div>
                  </div>
                </nb-card-body>
              </nb-card>
              <nb-card>
                <nb-card-body>
                  <div class="row">
                    <div class="col">
                      Courriers U0 (€)
                    </div>
                    <div *ngIf="!isOuvrageEnTerre()" class="col">
                      Maçonnerie U0 (€)
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <p-toggleButton *ngIf="bouclage" [(ngModel)]="bouclage.hasCourriers0" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                    </div>
                    <div *ngIf="!isOuvrageEnTerre()" class="col">
                      <div class="form-group">
                        <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.costMaconnerie0"/>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="!isOuvrageEnTerre()">
                    <div class="row">
                      <div class="col">
                        Curage U0 (€)
                      </div>
                      <div class="col">
                        Peinture U0 (€)
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.costCurage0"/>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.costPeinture0"/>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        Débroussaillage U0 (€)
                      </div>
                      <div class="col">
                        Serrurerie U0 (€)
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.costDebroussaillage0"/>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.costSerrurerie0"/>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        Instrumentation U0 (€)
                      </div>
                      <div class="col">
                        Divers U0 (€)
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.costInstrumentation0"/>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.costDivers0"/>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="isOuvrageEnTerre()">
                    <div class="row">
                      <div class="col">
                        Confortement U0 (Coté)
                      </div>
                      <div class="col">
                        Confortement U0 (€)
                      </div>
                      <div class="col">
                        Purge U0 (Coté)
                      </div>
                      <div class="col">
                        Purge U0 (€)
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <select class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.coteConfortement0">
                            <option *ngFor="let option of selectOptions.CotesOptions" [ngValue]="option.raw">{{ option.fr }}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.costConfortement0"/>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <select class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.cotePurge0">
                            <option *ngFor="let option of selectOptions.CotesOptions" [ngValue]="option.raw">{{ option.fr }}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.costPurge0"/>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        Curage U0 (Coté)
                      </div>
                      <div class="col">
                        Curage U0 (€)
                      </div>
                      <div class="col">
                        Terrassement U0 (Coté)
                      </div>
                      <div class="col">
                        Terrassement U0 (€)
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <select class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.coteCurage0">
                            <option *ngFor="let option of selectOptions.CotesOptions" [ngValue]="option.raw">{{ option.fr }}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.costCurage0"/>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <select class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.coteTerrassement0">
                            <option *ngFor="let option of selectOptions.CotesOptions" [ngValue]="option.raw">{{ option.fr }}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.costTerrassement0"/>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        Débroussaillage U0 (Coté)
                      </div>
                      <div class="col">
                        Débroussaillage U0 (€)
                      </div>
                      <div class="col">
                        Topographie U0 (Coté)
                      </div>
                      <div class="col">
                        Topographie U0 (€)
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <select class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.coteDebroussaillage0">
                            <option *ngFor="let option of selectOptions.CotesOptions" [ngValue]="option.raw">{{ option.fr }}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.costDebroussaillage0"/>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <select class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.coteTopographie0">
                            <option *ngFor="let option of selectOptions.CotesOptions" [ngValue]="option.raw">{{ option.fr }}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.costTopographie0"/>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        Instrumentation U0 (Coté)
                      </div>
                      <div class="col">
                        Instrumentation U0 (€)
                      </div>
                      <div class="col">
                        Divers U0 (Coté)
                      </div>
                      <div class="col">
                        Divers U0 (€)
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <select class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.coteInstrumentation0">
                            <option *ngFor="let option of selectOptions.CotesOptions" [ngValue]="option.raw">{{ option.fr }}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.costInstrumentation0"/>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <select class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.coteDivers0">
                            <option *ngFor="let option of selectOptions.CotesOptions" [ngValue]="option.raw">{{ option.fr }}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.costDivers0"/>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      Intégrité des OA
                    </div>
                    <div class="col">
                      Sécurité des personnes
                    </div>
                    <div class="col">
                      Sécurité des tiers
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <p-toggleButton *ngIf="bouclage" [(ngModel)]="bouclage.u0Integrite" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                    </div>
                    <div class="col">
                      <p-toggleButton *ngIf="bouclage" [(ngModel)]="bouclage.u0SecuritePersonne" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                    </div>
                    <div class="col">
                      <p-toggleButton *ngIf="bouclage" [(ngModel)]="bouclage.u0SecuriteTiers" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                    </div>
                  </div>
                </nb-card-body>
              </nb-card>
              <nb-card>
                <nb-card-body>
                  <div class="row">
                    <div class="col">
                      Montant total estimé par l'agent U0
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <input type="text" disabled pInputText style="background-color:#e4e7ea;" [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.laborCostAgent0"/>
                      </div>
                    </div>
                  </div>
                </nb-card-body>
              </nb-card>
              <nb-card *ngIf="utilisateur.hasPermission('Visite Ouvrage Expert')">
                <nb-card-body>
                  <div class="row">
                    <div class="col">
                      Proposition de travaux par l'expert U0
                    </div>
                  </div>
                  <div class="row" style="margin-top:6px;">
                    <div class="col">
                      <div class="form-group">
                        <textarea pInputTextarea [rows]="5" [cols]="30" autoResize="autoResize" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.laborTodoSupervisor0.proposition"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label>Délai réalisation travaux par l'expert U0</label>
                        <select class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.delaiTravauxExpert0">
                          <option *ngFor="let option of selectOptions.DelaiExpertU0Options" [ngValue]="option.raw">{{ option.fr }}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      Montant total estimé par l'expert U0
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.laborCostSupervisor0"/>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label>Validation du besoin en travaux U0</label>
                        <select class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.laborAcceptation0Key">
                          <option *ngFor="let option of selectOptions.ValidationBesoinTravauxU0Options" [ngValue]="option.raw">{{ option.fr }}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      Etude à prévoir
                    </div>
                    <div class="col">
                      Expertise à prévoir
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <p-toggleButton *ngIf="bouclage" [(ngModel)]="bouclage.u0_etude" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                    </div>
                    <div class="col">
                      <p-toggleButton *ngIf="bouclage" [(ngModel)]="bouclage.u0_expertise" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                    </div>
                  </div>
                  <div *ngIf="bouclage && bouclage.u0_expertise === true" class="row" style="text-align:center;margin-top:10px;">
                    <div class="col">
                      Type Expertise
                    </div>
                  </div>
                  <div *ngIf="bouclage && bouclage.u0_expertise === true" class="row">
                    <div class="col">
                      Étanchéité
                    </div>
                    <div class="col">
                      Peinture
                    </div>
                    <div class="col">
                      Hydro
                    </div>
                    <div class="col">
                      SOAR
                    </div>
                    <div class="col">
                      Autres
                    </div>
                  </div>
                  <div *ngIf="bouclage && bouclage.u0_expertise === true" class="row">
                    <div class="col">
                      <p-toggleButton *ngIf="expertiseToggleU0" [(ngModel)]="expertiseToggleU0.Etancheite" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                    </div>
                    <div class="col">
                      <p-toggleButton *ngIf="expertiseToggleU0" [(ngModel)]="expertiseToggleU0.Peinture" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                    </div>
                    <div class="col">
                      <p-toggleButton *ngIf="expertiseToggleU0" [(ngModel)]="expertiseToggleU0.Hydro" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                    </div>
                    <div class="col">
                      <p-toggleButton *ngIf="expertiseToggleU0" [(ngModel)]="expertiseToggleU0.Soar" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                    </div>
                    <div class="col">
                      <p-toggleButton *ngIf="expertiseToggleU0" [(ngModel)]="expertiseToggleU0.Autres" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                    </div>
                  </div>
                </nb-card-body>
              </nb-card>
            </nb-accordion-item-body>
          </nb-accordion-item>
          <nb-accordion-item #accordionPropositionTravauxU1>
            <nb-accordion-item-body>
              <nb-card>
                <nb-card-body>
                  <div class="row">
                    <div class="col">
                      Proposition de travaux par l'agent U1
                    </div>
                  </div>
                  <div class="row" style="margin-top:6px;">
                    <div class="col-11">
                      <div class="form-group">
                        <textarea pInputTextarea [rows]="5" [cols]="30" autoResize="autoResize" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.laborTodoAgent1"></textarea>
                      </div>
                    </div>
                    <div class="col-1">
                      <button style="width:80px;margin-top:40px;" class="btn btn-success" (click)="copyAgentExpert('1')">>></button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label>Délai réalisation travaux par l'agent U1</label>
                        <select class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.delaiTravauxAgent1">
                          <option *ngFor="let option of selectOptions.DelaiAgentU1Options" [ngValue]="option.raw">{{ option.fr }}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <span title="Quel est le risque si les travaux proposés ne sont pas effectués ?">Analyse de risque U1</span>
                    </div>
                  </div>
                  <div class="row" style="margin-top:6px;">
                    <div class="col">
                      <div class="form-group">
                        <textarea pInputTextarea [rows]="5" [cols]="30" autoResize="autoResize" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.laborAnalyseRisque1"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <span title="Mesures à prendre si travaux non effectués dans les délais">Mesures Conservatoires U1</span>
                    </div>
                  </div>
                  <div class="row" style="margin-top:6px;">
                    <div class="col">
                      <div class="form-group">
                        <textarea pInputTextarea [rows]="5" [cols]="30" autoResize="autoResize" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.laborMesuresConservatoire1"></textarea>
                      </div>
                    </div>
                  </div>
                </nb-card-body>
              </nb-card>
              <nb-card>
                <nb-card-body>
                  <div class="row">
                    <div class="col">
                      Courriers U1 (€)
                    </div>
                    <div *ngIf="!isOuvrageEnTerre()" class="col">
                      Maçonnerie U1 (€)
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <p-toggleButton *ngIf="bouclage" [(ngModel)]="bouclage.hasCourriers1" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                    </div>
                    <div *ngIf="!isOuvrageEnTerre()" class="col">
                      <div class="form-group">
                        <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.costMaconnerie1"/>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="!isOuvrageEnTerre()">
                    <div class="row">
                      <div class="col">
                        Curage U1 (€)
                      </div>
                      <div class="col">
                        Peinture U1 (€)
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.costCurage1"/>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.costPeinture1"/>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        Débroussaillage U1 (€)
                      </div>
                      <div class="col">
                        Serrurerie U1 (€)
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.costDebroussaillage1"/>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.costSerrurerie1"/>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        Instrumentation U1 (€)
                      </div>
                      <div class="col">
                        Divers U1 (€)
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.costInstrumentation1"/>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.costDivers1"/>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="isOuvrageEnTerre()">
                    <div class="row">
                      <div class="col">
                        Confortement U1 (Coté)
                      </div>
                      <div class="col">
                        Confortement U1 (€)
                      </div>
                      <div class="col">
                        Purge U1 (Coté)
                      </div>
                      <div class="col">
                        Purge U1 (€)
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <select class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.coteConfortement1">
                            <option *ngFor="let option of selectOptions.CotesOptions" [ngValue]="option.raw">{{ option.fr }}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.costConfortement1"/>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <select class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.cotePurge1">
                            <option *ngFor="let option of selectOptions.CotesOptions" [ngValue]="option.raw">{{ option.fr }}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.costPurge1"/>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        Curage U1 (Coté)
                      </div>
                      <div class="col">
                        Curage U1 (€)
                      </div>
                      <div class="col">
                        Terrassement U1 (Coté)
                      </div>
                      <div class="col">
                        Terrassement U1 (€)
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <select class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.coteCurage1">
                            <option *ngFor="let option of selectOptions.CotesOptions" [ngValue]="option.raw">{{ option.fr }}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.costCurage1"/>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <select class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.coteTerrassement1">
                            <option *ngFor="let option of selectOptions.CotesOptions" [ngValue]="option.raw">{{ option.fr }}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.costTerrassement1"/>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        Débroussaillage U1 (Coté)
                      </div>
                      <div class="col">
                        Débroussaillage U1 (€)
                      </div>
                      <div class="col">
                        Topographie U1 (Coté)
                      </div>
                      <div class="col">
                        Topographie U1 (€)
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <select class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.coteDebroussaillage1">
                            <option *ngFor="let option of selectOptions.CotesOptions" [ngValue]="option.raw">{{ option.fr }}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.costDebroussaillage1"/>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <select class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.coteTopographie1">
                            <option *ngFor="let option of selectOptions.CotesOptions" [ngValue]="option.raw">{{ option.fr }}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.costTopographie1"/>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        Instrumentation U1 (Coté)
                      </div>
                      <div class="col">
                        Instrumentation U1 (€)
                      </div>
                      <div class="col">
                        Divers U1 (Coté)
                      </div>
                      <div class="col">
                        Divers U1 (€)
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <select class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.coteInstrumentation1">
                            <option *ngFor="let option of selectOptions.CotesOptions" [ngValue]="option.raw">{{ option.fr }}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.costInstrumentation1"/>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <select class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.coteDivers1">
                            <option *ngFor="let option of selectOptions.CotesOptions" [ngValue]="option.raw">{{ option.fr }}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.costDivers1"/>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      Intégrité des OA
                    </div>
                    <div class="col">
                      Sécurité des personnes
                    </div>
                    <div class="col">
                      Sécurité des tiers
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <p-toggleButton *ngIf="bouclage" [(ngModel)]="bouclage.u1Integrite" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                    </div>
                    <div class="col">
                      <p-toggleButton *ngIf="bouclage" [(ngModel)]="bouclage.u1SecuritePersonne" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                    </div>
                    <div class="col">
                      <p-toggleButton *ngIf="bouclage" [(ngModel)]="bouclage.u1SecuriteTiers" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                    </div>
                  </div>
                </nb-card-body>
              </nb-card>
              <nb-card>
                <nb-card-body>
                  <div class="row">
                    <div class="col">
                      Montant total estimé par l'agent U1
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <input type="text" disabled pInputText style="background-color:#e4e7ea;" [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.laborCostAgent1"/>
                      </div>
                    </div>
                  </div>
                </nb-card-body>
              </nb-card>
              <nb-card *ngIf="utilisateur.hasPermission('Visite Ouvrage Expert')">
                <nb-card-body>
                  <div class="row">
                    <div class="col">
                      Proposition de travaux par l'expert U1
                    </div>
                  </div>
                  <div class="row" style="margin-top:6px;">
                    <div class="col">
                      <div class="form-group">
                        <textarea pInputTextarea [rows]="5" [cols]="30" autoResize="autoResize" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.laborTodoSupervisor1.proposition"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label>Délai réalisation travaux par l'expert U1</label>
                        <select class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.delaiTravauxExpert1">
                          <option *ngFor="let option of selectOptions.DelaiExpertU1Options" [ngValue]="option.raw">{{ option.fr }}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      Montant total estimé par l'expert U1
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.laborCostSupervisor1"/>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label>Validation du besoin en travaux U1</label>
                        <select class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.laborAcceptation1Key">
                          <option *ngFor="let option of selectOptions.ValidationBesoinTravauxU1Options" [ngValue]="option.raw">{{ option.fr }}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      Etude à prévoir
                    </div>
                    <div class="col">
                      Expertise à prévoir
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <p-toggleButton *ngIf="bouclage" [(ngModel)]="bouclage.u1_etude" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                    </div>
                    <div class="col">
                      <p-toggleButton *ngIf="bouclage" [(ngModel)]="bouclage.u1_expertise" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                    </div>
                  </div>
                  <div *ngIf="bouclage && bouclage.u1_expertise === true" class="row" style="text-align:center;margin-top:10px;">
                    <div class="col">
                      Type Expertise
                    </div>
                  </div>
                  <div *ngIf="bouclage && bouclage.u1_expertise === true" class="row">
                    <div class="col">
                      Étanchéité
                    </div>
                    <div class="col">
                      Peinture
                    </div>
                    <div class="col">
                      Hydro
                    </div>
                    <div class="col">
                      SOAR
                    </div>
                    <div class="col">
                      Autres
                    </div>
                  </div>
                  <div *ngIf="bouclage && bouclage.u1_expertise === true" class="row">
                    <div class="col">
                      <p-toggleButton *ngIf="expertiseToggleU1" [(ngModel)]="expertiseToggleU1.Etancheite" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                    </div>
                    <div class="col">
                      <p-toggleButton *ngIf="expertiseToggleU1" [(ngModel)]="expertiseToggleU1.Peinture" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                    </div>
                    <div class="col">
                      <p-toggleButton *ngIf="expertiseToggleU1" [(ngModel)]="expertiseToggleU1.Hydro" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                    </div>
                    <div class="col">
                      <p-toggleButton *ngIf="expertiseToggleU1" [(ngModel)]="expertiseToggleU1.Soar" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                    </div>
                    <div class="col">
                      <p-toggleButton *ngIf="expertiseToggleU1" [(ngModel)]="expertiseToggleU1.Autres" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                    </div>
                  </div>
                </nb-card-body>
              </nb-card>
            </nb-accordion-item-body>
          </nb-accordion-item>
          <nb-accordion-item #accordionPropositionTravauxU2>
            <nb-accordion-item-body>
              <nb-card>
                <nb-card-body>
                  <div class="row">
                    <div class="col">
                      Proposition de travaux par l'agent U2
                    </div>
                  </div>
                  <div class="row" style="margin-top:6px;">
                    <div class="col-11">
                      <div class="form-group">
                        <textarea pInputTextarea [rows]="5" [cols]="30" autoResize="autoResize" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.laborTodoAgent2"></textarea>
                      </div>
                    </div>
                    <div class="col-1">
                      <button style="width:80px;margin-top:40px;" class="btn btn-success" (click)="copyAgentExpert('2')">>></button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <span title="Quel est le risque si les travaux proposés ne sont pas effectués ?">Analyse de risque U2</span>
                    </div>
                  </div>
                  <div class="row" style="margin-top:6px;">
                    <div class="col">
                      <div class="form-group">
                        <textarea pInputTextarea [rows]="5" [cols]="30" autoResize="autoResize" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.laborAnalyseRisque2"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <span title="Mesures à prendre si travaux non effectués dans les délais">Mesures Conservatoires U2</span>
                    </div>
                  </div>
                  <div class="row" style="margin-top:6px;">
                    <div class="col">
                      <div class="form-group">
                        <textarea pInputTextarea [rows]="5" [cols]="30" autoResize="autoResize" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.laborMesuresConservatoire2"></textarea>
                      </div>
                    </div>
                  </div>
                </nb-card-body>
              </nb-card>
              <nb-card>
                <nb-card-body>
                  <div class="row">
                    <div class="col">
                      Courriers U2 (€)
                    </div>
                    <div *ngIf="!isOuvrageEnTerre()" class="col">
                      Maçonnerie U2 (€)
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <p-toggleButton *ngIf="bouclage" [(ngModel)]="bouclage.hasCourriers2" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                    </div>
                    <div *ngIf="!isOuvrageEnTerre()" class="col">
                      <div class="form-group">
                        <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.costMaconnerie2"/>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="!isOuvrageEnTerre()">
                    <div class="row">
                      <div class="col">
                        Curage U2 (€)
                      </div>
                      <div class="col">
                        Peinture U2 (€)
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.costCurage2"/>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.costPeinture2"/>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        Débroussaillage U2 (€)
                      </div>
                      <div class="col">
                        Serrurerie U2 (€)
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.costDebroussaillage2"/>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.costSerrurerie2"/>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        Instrumentation U2 (€)
                      </div>
                      <div class="col">
                        Divers U2 (€)
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.costInstrumentation2"/>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.costDivers2"/>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="isOuvrageEnTerre()">
                    <div class="row">
                      <div class="col">
                        Confortement U2 (Coté)
                      </div>
                      <div class="col">
                        Confortement U2 (€)
                      </div>
                      <div class="col">
                        Purge U2 (Coté)
                      </div>
                      <div class="col">
                        Purge U2 (€)
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <select class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.coteConfortement2">
                            <option *ngFor="let option of selectOptions.CotesOptions" [ngValue]="option.raw">{{ option.fr }}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.costConfortement2"/>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <select class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.cotePurge2">
                            <option *ngFor="let option of selectOptions.CotesOptions" [ngValue]="option.raw">{{ option.fr }}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.costPurge2"/>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        Curage U2 (Coté)
                      </div>
                      <div class="col">
                        Curage U2 (€)
                      </div>
                      <div class="col">
                        Terrassement U2 (Coté)
                      </div>
                      <div class="col">
                        Terrassement U2 (€)
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <select class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.coteCurage2">
                            <option *ngFor="let option of selectOptions.CotesOptions" [ngValue]="option.raw">{{ option.fr }}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.costCurage2"/>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <select class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.coteTerrassement2">
                            <option *ngFor="let option of selectOptions.CotesOptions" [ngValue]="option.raw">{{ option.fr }}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.costTerrassement2"/>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        Débroussaillage U2 (Coté)
                      </div>
                      <div class="col">
                        Débroussaillage U2 (€)
                      </div>
                      <div class="col">
                        Topographie U2 (Coté)
                      </div>
                      <div class="col">
                        Topographie U2 (€)
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <select class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.coteDebroussaillage2">
                            <option *ngFor="let option of selectOptions.CotesOptions" [ngValue]="option.raw">{{ option.fr }}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.costDebroussaillage2"/>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <select class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.coteTopographie2">
                            <option *ngFor="let option of selectOptions.CotesOptions" [ngValue]="option.raw">{{ option.fr }}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.costTopographie2"/>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        Instrumentation U2 (Coté)
                      </div>
                      <div class="col">
                        Instrumentation U2 (€)
                      </div>
                      <div class="col">
                        Divers U2 (Coté)
                      </div>
                      <div class="col">
                        Divers U2 (€)
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <select class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.coteInstrumentation2">
                            <option *ngFor="let option of selectOptions.CotesOptions" [ngValue]="option.raw">{{ option.fr }}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.costInstrumentation2"/>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <select class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.coteDivers2">
                            <option *ngFor="let option of selectOptions.CotesOptions" [ngValue]="option.raw">{{ option.fr }}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.costDivers2"/>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      Intégrité des OA
                    </div>
                    <div class="col">
                      Sécurité des personnes
                    </div>
                    <div class="col">
                      Sécurité des tiers
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <p-toggleButton *ngIf="bouclage" [(ngModel)]="bouclage.u2Integrite" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                    </div>
                    <div class="col">
                      <p-toggleButton *ngIf="bouclage" [(ngModel)]="bouclage.u2SecuritePersonne" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                    </div>
                    <div class="col">
                      <p-toggleButton *ngIf="bouclage" [(ngModel)]="bouclage.u2SecuriteTiers" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                    </div>
                  </div>
                </nb-card-body>
              </nb-card>
              <nb-card>
                <nb-card-body>
                  <div class="row">
                    <div class="col">
                      Montant total estimé par l'agent U2
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <input type="text" disabled pInputText style="background-color:#e4e7ea;" [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.laborCostAgent2"/>
                      </div>
                    </div>
                  </div>
                </nb-card-body>
              </nb-card>
              <nb-card *ngIf="utilisateur.hasPermission('Visite Ouvrage Expert')">
                <nb-card-body>
                  <div class="row">
                    <div class="col">
                      Proposition de travaux par l'expert U2
                    </div>
                  </div>
                  <div class="row" style="margin-top:6px;">
                    <div class="col">
                      <div class="form-group">
                        <textarea pInputTextarea [rows]="5" [cols]="30" autoResize="autoResize" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.laborTodoSupervisor2.proposition"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      Montant total estimé par l'expert U2
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.laborCostSupervisor2"/>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label>Validation du besoin en travaux U2</label>
                        <select class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.laborAcceptation2Key">
                          <option *ngFor="let option of selectOptions.ValidationBesoinTravauxU2Options" [ngValue]="option.raw">{{ option.fr }}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      Etude à prévoir
                    </div>
                    <div class="col">
                      Expertise à prévoir
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <p-toggleButton *ngIf="bouclage" [(ngModel)]="bouclage.u2_etude" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                    </div>
                    <div class="col">
                      <p-toggleButton *ngIf="bouclage" [(ngModel)]="bouclage.u2_expertise" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                    </div>
                  </div>
                  <div *ngIf="bouclage && bouclage.u2_expertise === true" class="row" style="text-align:center;margin-top:10px;">
                    <div class="col">
                      Type Expertise
                    </div>
                  </div>
                  <div *ngIf="bouclage && bouclage.u2_expertise === true" class="row">
                    <div class="col">
                      Étanchéité
                    </div>
                    <div class="col">
                      Peinture
                    </div>
                    <div class="col">
                      Hydro
                    </div>
                    <div class="col">
                      SOAR
                    </div>
                    <div class="col">
                      Autres
                    </div>
                  </div>
                  <div *ngIf="bouclage && bouclage.u2_expertise === true" class="row">
                    <div class="col">
                      <p-toggleButton *ngIf="expertiseToggleU2" [(ngModel)]="expertiseToggleU2.Etancheite" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                    </div>
                    <div class="col">
                      <p-toggleButton *ngIf="expertiseToggleU2" [(ngModel)]="expertiseToggleU2.Peinture" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                    </div>
                    <div class="col">
                      <p-toggleButton *ngIf="expertiseToggleU2" [(ngModel)]="expertiseToggleU2.Hydro" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                    </div>
                    <div class="col">
                      <p-toggleButton *ngIf="expertiseToggleU2" [(ngModel)]="expertiseToggleU2.Soar" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                    </div>
                    <div class="col">
                      <p-toggleButton *ngIf="expertiseToggleU2" [(ngModel)]="expertiseToggleU2.Autres" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                    </div>
                  </div>
                </nb-card-body>
              </nb-card>
            </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-body>
        <nb-accordion>
          <nb-accordion-item>
            <nb-accordion-item-header>
              Notation Ouvrage
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              <div class="row">
                <div class="col">
                  Note globale précédente
                </div>
                <div class="col">
                  Note Tablier(s) précédente
                </div>
                <div class="col">
                  Note Appui(s) précédente
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.noteGlobalePrec"/>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.noteTablierPrec"/>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.noteAppuiPrec"/>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  Note globale après visite
                </div>
                <div class="col">
                  Note Tablier(s) après visite
                </div>
                <div class="col">
                  Note Appui(s) après visite
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.noteGlobale"/>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.noteTablier"/>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.noteAppui"/>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  Note Minimum
                </div>
                <div class="col">
                  Note Maxi
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.noteMin"/>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.noteMax"/>
                  </div>
                </div>
              </div>
            </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-body>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>État de l'ouvrage</label>
              <select class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.etatOuvrage">
                <option *ngFor="let option of selectOptions.EtatOuvrageOptions" [ngValue]="option.raw">{{ option.fr }}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            Commentaires sur la visite
          </div>
        </div>
        <div class="row" style="margin-top:6px;">
          <div class="col">
            <div class="form-group">
              <textarea pInputTextarea [rows]="5" [cols]="30" autoResize="autoResize" class="form-control" *ngIf="bouclage" [(ngModel)]="bouclage.commentaires"></textarea>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-body style="text-align: center;">
        <button style="width:300px;" class="btn btn-success" (click)="saveBouclage()"><i class="fas fa-save"></i>ENREGISTRER</button>
      </nb-card-body>
    </nb-card>
    <nb-card style="border: 1px dashed #d5dbe0;">
        <nb-card-body>
          <nb-accordion>
            <nb-accordion-item>
              <nb-accordion-item-header style="background: lightgrey;">
                Légende
              </nb-accordion-item-header>
              <nb-accordion-item-body style="background: lightgrey;">
                <div class="row">
                  <div class="col" style="text-align: center;">
                    <button style="width:100%;font-weight:bold;" class="btn btn-success blue-white-button">Proposition Travaux</button>
                  </div>
                  <div class="col" style="text-align: center;">
                    <button style="width:100%;font-weight:bold;" class="btn btn-success green-white-button">Proposition Travaux</button>
                  </div>
                  <div class="col" style="text-align: center;">
                    <button style="width:100%;font-weight:bold;" class="btn btn-success blue-black-button">Proposition Travaux</button>
                  </div>
                  <div class="col" style="text-align: center;">
                    <button style="width:100%;font-weight:bold;" class="btn btn-success green-black-button">Proposition Travaux</button>
                  </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                  <div class="col" style="text-align: center;">
                    Pas de proposition de travaux renseignee
                  </div>
                  <div class="col" style="text-align: center;">
                    Proposition de travaux renseignee
                  </div>
                  <div class="col" style="text-align: center;">
                    Onglet ouvert SANS proposition renseignee
                  </div>
                  <div class="col" style="text-align: center;">
                    Onglet ouvert AVEC proposition renseignee
                  </div>
                </div>
              </nb-accordion-item-body>
            </nb-accordion-item>
          </nb-accordion>
        </nb-card-body>
    </nb-card>
  </nb-card-body>
</nb-card>
