<div class="header-container"
     [class.left]="position === 'normal'"
     [class.right]="position === 'inverse'">
  <div class="logo-containter">
    <a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>
    <div><img style="max-height:40px;height:auto;width:auto;" src="assets/images/sncf_officiel.png"/></div>
    <div class="logo" (click)="goToHome()">BOATE</div>
  </div>
</div>

<div class="header-container">
  <nb-actions size="medium">
    <nb-action *nbIsGranted="['view', 'user']" >
      <nb-user [nbContextMenu]="profilMenu" nbContextMenuTag="profil-menu" [name]="(user?.prenom ? user.prenom : '') + ' ' + (user?.nom ? user.nom : '')"></nb-user>
    </nb-action>
    <!--<nb-action class="control-item" disabled icon="nb-notifications"></nb-action>
    <nb-action class="control-item" icon="nb-email"></nb-action>
    <nb-action class="control-item">
      <nb-search type="rotate-layout" (click)="startSearch()"></nb-search>
    </nb-action>-->
  </nb-actions>
</div>
