<nb-card [nbSpinner]="!activeFilters.areConnectedUserFiltersLoaded" nbSpinnerMessage="Chargement..." nbSpinnerSize="xxlarge">
  <nb-card-header>
    ARCHIVES
  </nb-card-header>
  <nb-card-body>
    <nb-accordion style="text-align:center;">
      <nb-accordion-item #accordionRechercher>
        <nb-accordion-item-header>
          RECHERCHE...
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <nb-tabset fullWidth>
            <nb-tab tabTitle="Généralités">
              <div class="row" style="margin-top:10px;width:100%;">
                <div class="col">
                  <div class="form-group">
                    <label>Région</label>
                    <select class="form-control" [(ngModel)]="activeFilters.filters.GenRegionSelected" (ngModelChange)="GenRegionChange($event)">
                      <option *ngFor="let option of activeFilters.options.GenRegionOptions" [ngValue]="option">{{ option.fr }}</option>
                    </select>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>INFRAPOLE</label>
                    <select class="form-control" [(ngModel)]="activeFilters.filters.GenInfrapoleSelected" (ngModelChange)="GenInfrapoleChange($event)">
                      <option *ngFor="let option of activeFilters.options.GenInfrapoleOptions" [ngValue]="option">{{ option.fr }}</option>
                    </select>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>Secteur</label>
                    <select class="form-control" [(ngModel)]="activeFilters.filters.GenSecteurSelected" (ngModelChange)="GenSecteurChange($event)" [disabled]="activeFilters.options.GenSecteurOptions == null || activeFilters.options.GenSecteurOptions.length < 2">
                      <option *ngFor="let option of activeFilters.options.GenSecteurOptions" [ngValue]="option">{{ option.fr }}</option>
                    </select>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>UO</label>
                    <select class="form-control" [(ngModel)]="activeFilters.filters.GenUoSelected" (ngModelChange)="GenUoChange($event)">
                      <option *ngFor="let option of activeFilters.options.GenUoOptions" [ngValue]="option">{{ option.fr }}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row" style="width:100%;">
                <div class="col-3">
                  <div class="form-group">
                    <label>UIC</label>
                    <select class="form-control" [(ngModel)]="activeFilters.filters.GenUicSelected">
                      <option *ngFor="let option of activeFilters.options.GenUicOptions" [ngValue]="option">{{ option.fr }}</option>
                    </select>
                  </div>
                </div>
                <div class="col-9">
                  <div class="form-group">
                    <label>Ligne</label>
                    <select class="form-control" [(ngModel)]="activeFilters.filters.GenLigneSelected">
                      <option *ngFor="let option of activeFilters.options.GenLigneOptions" [ngValue]="option">{{ option.fr }}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row" style="width:100%;">
                <div class="col">
                  <div class="form-group">
                    <label>De</label>
                    <input type="text" pInputText [pKeyFilter]="inputFilter" (keypress)="onInputKeyPress($event)" placeholder="De" class="form-control" [(ngModel)]="activeFilters.filters.GenFromTyped"/>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>A</label>
                    <input type="text" pInputText [pKeyFilter]="inputFilter" (keypress)="onInputKeyPress($event)" placeholder="A" class="form-control" [(ngModel)]="activeFilters.filters.GenToTyped"/>
                  </div>
                </div>
              </div>
              <div class="row" style="width:100%;">
                <div class="col">
                  <div class="form-group">
                    <label>Etat dossier</label>
                    <select class="form-control" [(ngModel)]="activeFilters.filters.GenEtatDossierSelected">
                      <option *ngFor="let option of activeFilters.options.GenEtatDossierOptions" [ngValue]="option">{{ option.fr }}</option>
                    </select>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>Emprunteur</label>
                    <p-autoComplete placeholder="Emprunteur" inputStyleClass="form-control" [inputStyle]="{'width':'100%', 'height':'calc(2rem + 20px)'}" [style]="{'width':'100%', 'height':'calc(2rem + 20px)'}" [(ngModel)]="activeFilters.filters.GenEmprunteurSelectedSearch" [suggestions]="activeFilters.options.GenEmprunteurOptions" (completeMethod)="GenEmprunteurSearch($event)" field="fr" [forceSelection]="true"></p-autoComplete>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>N° boîte</label>
                    <p-autoComplete placeholder="N° boîte" inputStyleClass="form-control" [inputStyle]="{'width':'100%', 'height':'calc(2rem + 20px)'}" [style]="{'width':'100%', 'height':'calc(2rem + 20px)'}" [(ngModel)]="activeFilters.filters.GenNumBoiteSelectedSearch" [suggestions]="activeFilters.options.GenNumBoiteOptions" (completeMethod)="GenNumBoiteSearch($event)" field="fr" [forceSelection]="true"></p-autoComplete>
                  </div>
                </div>
              </div>
              <div class="row" style="width:100%;">
                <div class="col">
                  <div class="form-group">
                    <label>Catégorie</label>
                    <select class="form-control" [(ngModel)]="activeFilters.filters.GenCategorieSelected" (ngModelChange)="GenCategorieChange($event)">
                      <option *ngFor="let option of activeFilters.options.GenCategorieOptions" [ngValue]="option">{{ option.fr }}</option>
                    </select>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>Type</label>
                    <select class="form-control" [(ngModel)]="activeFilters.filters.GenTypeSelected" (ngModelChange)="GenTypeChange($event)">
                      <option *ngFor="let option of activeFilters.options.GenTypeOptions" [ngValue]="option">{{ option.fr }}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row" style="width:100%;">
                <div class="col">
                  <div class="form-group">
                    <label>Lignes déclassées</label>
                    <select class="form-control" [(ngModel)]="activeFilters.filters.GenLigneDeclasseeSelected">
                      <option *ngFor="let option of activeFilters.options.GenLigneDeclasseeOptions" [ngValue]="option">{{ option.fr }}</option>
                    </select>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>Documents généraux</label>
                    <select class="form-control" [(ngModel)]="activeFilters.filters.GenDocumentGenerauxSelected">
                      <option *ngFor="let option of activeFilters.options.GenDocumentGenerauxOptions" [ngValue]="option">{{ option.fr }}</option>
                    </select>
                  </div>
                </div>
              </div>

            </nb-tab>
          </nb-tabset>
          <div class="row">
            <div class="col-xl">
              <button style="width:300px;margin-top:10px;margin-bottom:10px;" class="btn btn-primary" (click)="onChercherClick()"><i class="fas fa-search"></i>CHERCHER</button>
            </div>
            <div class="col-xl">
              <button style="width:300px;margin-top:10px;margin-bottom:10px;" class="btn btn-warning" (click)="onRazClick()"><i class="fas fa-times"></i>R.A.Z.</button>
            </div>
            <div class="col-xl">
              <button style="width:300px;margin-top:10px;margin-bottom:10px;" class="btn btn-success" (click)="onExporterClick()"><i class="fas fa-file-excel"></i>EXPORTER</button>
            </div>
          </div>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
    <div style="margin:10px auto 7px auto;text-align:center;">
      <p-multiSelect [options]="columnHelper.activeOptionalCols.optionalCols" [(ngModel)]="columnHelper.selectedOptionalCols" [style]="{minWidth:'400px'}" [panelStyle]="{minWidth:'400px'}" [filter]="false" (onChange)="columnHelper.onOptionalColumnsChange($event)" (onPanelHide)="columnHelper.saveSelectedOptionalCols()">
        <p-header>
          Toutes les colonnes
        </p-header>
        <ng-template pTemplate="selectedItems">
          <span>Modifier les colonnes optionnelles</span>
        </ng-template>
        <ng-template let-col pTemplate="item">
          <div style="display:inline;" [ngClass]="{'parent-multi-select': col.value.col == null,'child-multi-select': col.value.col != null}">{{col.label}}</div>
        </ng-template>
      </p-multiSelect>
    </div>
    <p-table *ngIf="activeFilters.areConnectedUserFiltersLoaded" #archiveTable [columns]="columnHelper.cols" [value]="archives" [lazy]="true" (onLazyLoad)="loadArchivesLazy($event)"
    [paginator]="true" [first]="activeFilters.first" [rows]="activeFilters.rows" [rowsPerPageOptions]="[10,20,30,40,50]" [paginatorDropdownAppendTo]="'body'" [totalRecords]="totalRecords"
    [loading]="loading" [scrollable]="true" [reorderableColumns]="true" sortMode="multiple" (onColReorder)="columnHelper.saveColumnsOrder($event)"
    selectionMode="single" [(selection)]="selectedValue" (onRowSelect)="onRowSelect($event)">
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col style="text-align:center;width: 60px;">
          <col *ngFor="let col of columns" [ngClass]="col.style">
        </colgroup>
      </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th style="text-align:center;width: 60px;">
              État
            </th>
            <th *ngFor="let col of columns" pReorderableColumn style="text-align:center;position:relative;padding-left:20px;padding-right:25px;" [pSortableColumn]="col.field">
              {{col.header}}<div style="position:absolute;top:50%;transform:translateY(-50%);right:0px;"><p-sortIcon [field]="col.field"></p-sortIcon></div>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr [pSelectableRow]="rowData">
            <td [ngClass]="getClassEmprunt(rowData)" class="td-action-button" style="text-align:center;width:60px;">
              <ng-container *ngIf="archiveEmprunte(rowData); else ArchiveLibreBlock">
                  <div >Emprunté par {{ rowData.emprunteur.fullName }}</div>
              </ng-container>
              <ng-template #ArchiveLibreBlock>Libre</ng-template>
            </td>
            <td *ngFor="let col of columns" [ngClass]="col.style" pTooltip="{{resolveFieldData(rowData, col.field)}}" tooltipPosition="bottom" style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">
              {{resolveFieldData(rowData, col.field)}}
            </td>
          </tr>
        </ng-template>
    </p-table>
  </nb-card-body>
</nb-card>
