<nb-card>
  <nb-card-header>
    GESTION DES VEHICULES
  </nb-card-header>
  <nb-card-body>
    <nb-accordion>
      <nb-accordion-item (click)="initialLoad('Vehicule')">
        <nb-accordion-item-header>
          Véhicule
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <p-table #vehiculesTable [columns]="crudHelper.crudObjectDefinitions['Vehicule'].object.structure.cols" [value]="crudHelper.crudObjectsLists['Vehicule']" [lazy]="false" [paginator]="true" [first]="crudHelper.crudObjectsFirst['Vehicule']" [rows]="crudHelper.crudObjectsRows['Vehicule']" [rowsPerPageOptions]="[10,20,30,40,50]" [paginatorDropdownAppendTo]="'body'" [totalRecords]="crudHelper.crudObjectsTotals['Vehicule']" [loading]="crudHelper.crudObjectsLoadings['Vehicule']" dataKey="id">
            <ng-template pTemplate="caption">
              <div>        
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="50" placeholder="Filtre Global" (input)="vehiculesTable.filterGlobal($event.target.value, 'contains')" style="width:auto">
              </div>
            </ng-template>
            <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                <col *ngFor="let col of columns" [ngClass]="col.style">
                <col style="width:70px;">
                <col style="width:70px;">
              </colgroup>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns" style="text-align:center;">
                  {{col.header}}
                </th>
                <th style="text-align:center;" [attr.rowspan]="2">
                  EDIT.
                </th>
                <th style="text-align:center;" [attr.rowspan]="2">
                  SUPP.
                </th>
              </tr>
              <tr>
                <th *ngFor="let col of columns" style="text-align:center;">
                  <input placeholder="Filtre Colonne" pInputText type="text" (input)="vehiculesTable.filter($event.target.value, col.field, 'contains')" style="width: 100%">
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr>
                <td *ngFor="let col of columns" [ngClass]="col.style" pTooltip="{{resolveFieldData(rowData, col.field)}}" tooltipPosition="bottom" style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">
                  {{resolveFieldData(rowData, col.field)}}
                </td>
                <td class="td-action-button">
                  <button class="btn btn-primary" (click)="openEditDialog(rowData)"><i class="fas fa-pencil-alt"></i></button>
                </td>
                <td class="td-action-button">
                  <button class="btn btn-warning" (click)="openDeleteDialog(rowData)"><i class="fas fa-trash-alt"></i></button>
                </td>
              </tr>
            </ng-template>
          </p-table>
          <div class="div-action-button">
            <button class="btn btn-primary" (click)="openCreateDialog('Vehicule')" ><i class="fas fa-plus-circle"></i> AJOUTER</button>
          </div>
        </nb-accordion-item-body>
      </nb-accordion-item>
      <nb-accordion-item #planningVehiculeAccordion (click)="initialLoad('ReservationVehicule')">
        <nb-accordion-item-header>
          Réserver un Véhicule
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <nb-card>
            <nb-card-header style="text-align:center;">
              <div style="margin: 10px 0;" *ngIf="isVehiculePlanningAdmin(); else isNotVehiculePlanningAdmin;">
                Utilisateur : <p-autoComplete required placeholder="Utilisateur" inputStyleClass="form-control" [inputStyle]="{'width':'300px', 'height':'calc(2rem + 20px)'}" [style]="{'width':'300px', 'height':'calc(2rem + 20px)'}" [(ngModel)]="selectedUser" [suggestions]="userSuggestions" (completeMethod)="SearchUser($event)" (onSelect)="OnSelectUser($event)" field="fullName" [forceSelection]="true" appendTo="body"></p-autoComplete>
              </div>
              <ng-template #isNotVehiculePlanningAdmin>
                <p style="font-size: 18px;"><strong>Utilisateur : {{ selectedUser ? selectedUser.getSummaryDescription() : 'Sélectionner un utilisateur pour visualiser ses réservations.' }}</strong></p>
              </ng-template>
            </nb-card-header>
          </nb-card>
          <nb-card>
            <nb-card-body>
              <div class="row">
                <div class="col">
                  <nb-card>
                    <nb-card-header style="text-align:center;">Sélectionner la date de prise en charge pour le véhicule</nb-card-header>
                    <nb-card-body style="text-align:center;">
                      <p-calendar id="planningVehiculeCalendarFrom" #planningVehiculeCalendarFrom [(ngModel)]="planningVehiculeCalendarFromValue" [inline]="true" [locale]="fr" [showTime]="true" (onSelect)="onSelectVehiculeFrom($event)"></p-calendar>
                    </nb-card-body>
                  </nb-card>
                </div>
                <div class="col">
                  <nb-card>
                    <nb-card-header style="text-align:center;">Sélectionner la date de retour pour le véhicule</nb-card-header>
                    <nb-card-body style="text-align:center;">
                      <p-calendar id="planningVehiculeCalendarTo" #planningVehiculeCalendarTo [(ngModel)]="planningVehiculeCalendarToValue" [inline]="true" [locale]="fr" [showTime]="true" (onSelect)="onSelectVehiculeTo($event)"></p-calendar>
                    </nb-card-body>
                  </nb-card>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <nb-card>
                    <nb-card-body *ngIf="!planningVehiculeCalendarFromValue || !planningVehiculeCalendarFromValue">
                      Sélectionner une date de début et une date de fin pour effectuer une réservation.
                    </nb-card-body>
                    <nb-card-body *ngIf="planningVehiculeCalendarFromValue && planningVehiculeCalendarFromValue">
                      <div class="row">
                        <div class="col" style="text-align:center;">
                          <div *ngIf="isVehiculeDateRangeConsistent(); else dateVehiculeRangeIsntConsistent">
                            <p style="font-size: 16px;">DU : <strong>{{ this.planningVehiculeCalendarFromValue.toLocaleDateString() }}</strong> à <strong>{{ this.planningVehiculeCalendarFromValue.getHours() }}H</strong></p>
                            <p style="font-size: 16px;">AU : <strong>{{ this.planningVehiculeCalendarToValue.toLocaleDateString() }}</strong> à <strong>{{ this.planningVehiculeCalendarToValue.getHours() }}H</strong></p>
                          </div>
                          <ng-template #dateVehiculeRangeIsntConsistent>
                            <p style="font-size: 22px;"><strong>Plage de dates incohérente...</strong></p>
                            <p style="font-size: 16px;"><strong>La date de début de la période doit être antérieure à la date de fin de la période.</strong></p>
                          </ng-template>
                          <button [disabled]="!isVehiculeDateRangeConsistent() || !selectedUser" style="width:400px;margin-top:10px;margin-bottom:10px;" class="btn btn-primary" (click)="searchVehicules()"><i class="fas fa-calendar-alt"></i>RECHERCHER VEHICULES DISPONIBLES</button>
                        </div>
                      </div>
                    </nb-card-body>
                  </nb-card>
                </div>
              </div>
              <div class="row" *ngIf="availableVehicules">
                <div class="col">
                  <nb-card>
                    <nb-card-body>
                      <p-table #availableVehiculesTable [columns]="crudHelper.crudObjectDefinitions['Vehicule'].object.structure.cols" [value]="availableVehicules" [lazy]="false" [paginator]="true" [first]="0" [rows]="10" [rowsPerPageOptions]="[10,20,30,40,50]" [paginatorDropdownAppendTo]="'body'" [totalRecords]="availableVehicules.length" [loading]="loadingAvailableVehicules" dataKey="id">
                        <ng-template pTemplate="caption">
                          <div>        
                              <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                              <input type="text" pInputText size="50" placeholder="Filtre Global" (input)="availableVehiculesTable.filterGlobal($event.target.value, 'contains')" style="width:auto">
                          </div>
                        </ng-template>
                        <ng-template pTemplate="colgroup" let-columns>
                          <colgroup>
                            <col *ngFor="let col of columns" [ngClass]="col.style">
                            <col style="width:200px;">
                          </colgroup>
                        </ng-template>
                        <ng-template pTemplate="header" let-columns>
                          <tr>
                            <th *ngFor="let col of columns" style="text-align:center;">
                              {{col.header}}
                            </th>
                            <th style="text-align:center;" [attr.rowspan]="2">
                              RESERVER<br/>
                              DU : <strong>{{ this.planningVehiculeCalendarFromValue.toLocaleDateString() }}</strong> à <strong>{{ this.planningVehiculeCalendarFromValue.getHours() }}H</strong><br/>
                              AU : <strong>{{ this.planningVehiculeCalendarToValue.toLocaleDateString() }}</strong> à <strong>{{ this.planningVehiculeCalendarToValue.getHours() }}H</strong>
                            </th>
                          </tr>
                          <tr>
                            <th *ngFor="let col of columns" style="text-align:center;">
                              <input placeholder="Filtre Colonne" pInputText type="text" (input)="availableVehiculesTable.filter($event.target.value, col.field, 'contains')" style="width: 100%">
                            </th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                          <tr>
                            <td *ngFor="let col of columns" [ngClass]="col.style" pTooltip="{{resolveFieldData(rowData, col.field)}}" tooltipPosition="bottom" style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">
                              {{resolveFieldData(rowData, col.field)}}
                            </td>
                            <td class="td-action-button">
                              <button class="btn btn-warning" [disabled]="!tableResultsMatchSelectedDates()" (click)="bookVehicule(rowData)"><i class="fas fa-calendar-alt"></i></button>
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </nb-card-body>
                  </nb-card>
                </div>
              </div>
            </nb-card-body>
          </nb-card>
        </nb-accordion-item-body>
      </nb-accordion-item>
      <nb-accordion-item #reservationsVehiculeAccordion (click)="initialLoad('PlanningVehicule')">
        <nb-accordion-item-header>
          Mes Réservations Véhicules
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <nb-card>
            <nb-card-header style="text-align:center;">
              <div style="margin: 10px 0;" *ngIf="isVehiculePlanningAdmin(); else isNotVehiculePlanningAdmin;">
                Utilisateur : <p-autoComplete required placeholder="Utilisateur" inputStyleClass="form-control" [inputStyle]="{'width':'300px', 'height':'calc(2rem + 20px)'}" [style]="{'width':'300px', 'height':'calc(2rem + 20px)'}" [(ngModel)]="selectedUser" [suggestions]="userSuggestions" (completeMethod)="SearchUser($event)" (onSelect)="OnSelectUser($event)" field="fullName" [forceSelection]="true" appendTo="body"></p-autoComplete>
              </div>
            </nb-card-header>
            <nb-card-body *ngIf="selectedUser">
              <div class="row">
                <div class="col-4">
                  <nb-card>
                    <nb-card-header style="text-align:center;">Sélectionner une date pour visualiser les réservations</nb-card-header>
                    <nb-card-body style="text-align:center;">
                      <p-calendar id="planningVehiculeCalendarDetails" #planningVehiculeCalendarDetails [(ngModel)]="planningVehiculeCalendarDetailsValue" [inline]="true" [locale]="fr" (onMonthChange)="loadVehiculeReservationsForMonth($event, 'Details')" (onSelect)="showVehiculeDetailsForSelectedDate($event, 'Details')">
                        <ng-template pTemplate="date" let-date>
                          <span [ngClass]="'availability-' + availabilityVehiculeStatus(date, 'Details')" style="border-radius:50%;padding: .25em;width: 1.75em; height:1.75em; display:block;"><strong>{{date.day}}</strong></span>
                        </ng-template>
                      </p-calendar>
                    </nb-card-body>
                  </nb-card>
                </div>
                <div class="col-8">
                  <nb-card>
                    <nb-card-header style="text-align:center;">Détails des réservations pour la date sélectionnée</nb-card-header>
                    <nb-card-body style="text-align:center;">
                      <p-table #reservationTable [value]="selectedVehiculeDateReservationsDetails" dataKey="id">
                        <ng-template pTemplate="colgroup">
                          <colgroup>
                            <col [ngClass]="">
                            <col style="width:70px;">
                          </colgroup>
                        </ng-template>
                        <ng-template pTemplate="header">
                          <tr>
                            <th style="text-align:left;">
                              Réservation Véhicule
                            </th>
                            <th style="text-align:center;" [attr.rowspan]="2">
                              SUPP.
                            </th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData>
                          <tr>
                            <td [ngClass]="" pTooltip="{{ rowData.getSummaryDescription() }}" tooltipPosition="bottom" style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">
                              {{ rowData.getSummaryDescription() }}
                            </td>
                            <td class="td-action-button">
                              <button class="btn btn-warning" (click)="openDeleteReservationDialog(rowData)"><i class="fas fa-trash-alt"></i></button>
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </nb-card-body>
                  </nb-card>
                </div>
              </div>
            </nb-card-body>
          </nb-card>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </nb-card-body>
</nb-card>

<!-- BEGIN WINDOWS TEMPLATES -->
<ng-template #templateForEdit let-data let-ref="dialogRef">
    <nb-card class="dialog-popup">
      <nb-card-header><span *ngIf="crudHelper.editedObject.id">Modifier</span><span *ngIf="!crudHelper.editedObject.id">Créer</span> {{ crudHelper.editedObject.structure.popupTitleDescription }}</nb-card-header>
      <nb-card-body>
        <nb-list>
          <nb-list-item *ngFor="let property of crudHelper.editedObject.structure.fields">
            <div class="form-group" *ngIf="property.type == 'boolean' && !(crudHelper.editedObject.className == 'Infrapole' && crudHelper.editedObject.hideSecteurCheckbox())" style="padding-top:18px;">
              <p-checkbox [(ngModel)]="crudHelper.editedObject[property.index]" binary="true"></p-checkbox>
              <label>{{ property.libelle }}</label>
            </div>
            <div class="form-group" *ngIf="property.type == 'input'">
              <label>{{ property.libelle }}</label>
              <input nbInput [status]="property.required && (crudHelper.editedObject[property.index] == null || crudHelper.editedObject[property.index] == undefined || crudHelper.editedObject[property.index] == '') ? 'danger' : undefined" *ngIf="property.type == 'input'" type="text" placeholder="{{ property.libelle }}" class="form-control" [(ngModel)]="crudHelper.editedObject[property.index]"/>
            </div>
            <div class="form-group" *ngIf="property.type == 'autocomplete'">
              <label>{{ property.libelle }}</label>
              <p-autoComplete #autocomplete placeholder="{{ property.libelle }}" inputStyleClass="form-control" [inputStyle]="{'width':'100%', 'height':'calc(2rem + 20px)'}" [style]="{'width':'100%', 'height':'calc(2rem + 20px)'}" [(ngModel)]="crudHelper.editedObject[property.index]" [suggestions]="autocompleteSuggestions" (completeMethod)="autocompleteEdit($event, crudHelper.editedObject.className)" [field]="property.suggestionField" [forceSelection]="true"></p-autoComplete>
            </div>
          </nb-list-item>
        </nb-list>
      </nb-card-body>
      <nb-card-footer class="dialog-footer">
        <button class="btn btn-warning" (click)="ref.close()"><i class="fas fa-ban"></i>ANNULER</button>
        <button class="btn btn-primary" (click)="crudHelper.saveEditedObject()" [disabled]="!canEditedObjectBeSaved()"><i class="fas fa-save"></i>ENREGISTRER</button>
      </nb-card-footer>
    </nb-card>
  </ng-template>
  <ng-template #templateForDelete let-data let-ref="dialogRef">
    <nb-card class="dialog-popup">
      <nb-card-header>Supprimer {{ crudHelper.editedObject.structure.popupTitleDescription }} ?</nb-card-header>
      <nb-card-body>
        <p style="font-weight:bold;">
          {{ crudHelper.editedObject.getSummaryDescription() }}
        </p>
        <p style="font-weight:bold;">
          Êtes-vous certain(e) de vouloir supprimer cet élément et tous ses enfants ?
        </p>
        <p>
          Assurez-vous qu'aucun de ces éléments n'est utilisé. Si c'est le cas, vous obtiendrez une erreur de suppression vous indiquant l'élément concerné.
        </p>
      </nb-card-body>
      <nb-card-footer class="dialog-footer">
        <button class="btn btn-warning" (click)="crudHelper.editedObject = undefined; ref.close();"><i class="fas fa-ban"></i>ANNULER</button>
        <button class="btn btn-danger" (click)="crudHelper.deleteEditedObject()"><i class="fas fa-trash-alt"></i>SUPPRIMER</button>
      </nb-card-footer>
    </nb-card>
  </ng-template>
  <ng-template #templateForDeleteReservation let-data let-ref="dialogRef">
    <nb-card class="dialog-popup">
      <nb-card-header>Supprimer une réservation ?</nb-card-header>
      <nb-card-body>
        <p>
          {{ selectedReservationToDelete.getSummaryDescription() }}
        </p>
        <p style="font-weight:bold;">
          Êtes-vous certain(e) de vouloir supprimer cette réservation ?
        </p>
      </nb-card-body>
      <nb-card-footer class="dialog-footer">
        <button class="btn btn-warning" (click)="ref.close();"><i class="fas fa-ban"></i>ANNULER</button>
        <button class="btn btn-danger" (click)="confirmDelete(); ref.close();"><i class="fas fa-trash-alt"></i>SUPPRIMER</button>
      </nb-card-footer>
    </nb-card>
  </ng-template>
  <ng-template #templateForConfirmation let-data let-ref="dialogRef">
    <nb-card class="dialog-popup">
      <nb-card-header>Confirmer la réservation de plusieurs éléments ?</nb-card-header>
      <nb-card-body>
        <p style="font-weight:bold;">
          ATTENTION.<br/><br/>L'utilisateur a déjà réservé un ou plusieurs éléments sur la plage horaire demandée.
        </p>
        <p *ngFor="let resa of existingResasForConfirmation">{{ resa.getSummaryDescription() }}</p>
      </nb-card-body>
      <nb-card-footer class="dialog-footer">
        <button class="btn btn-warning" (click)="ref.close();"><i class="fas fa-ban"></i>ANNULER</button>
        <button class="btn btn-primary" (click)="confirmReservation();ref.close();"><i class="fas fa-save"></i>CONFIRMER</button>
      </nb-card-footer>
    </nb-card>
  </ng-template>
  <!-- END WINDOWS TEMPLATES -->
