@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  .solar-card nb-card-header {
    border: none;
    padding-bottom: 0;
  }

  @include media-breakpoint-down(sm) {
    ngx-traffic {
      display: none;
    }
  }

  @include media-breakpoint-down(is) {
    /deep/ nb-card.large-card {
      height: nb-theme(card-height-medium);
    }
  }
}

.td-action-button {
  width:60px;
  text-align:center;
  button {
    padding:5px;
    width: 30px;
    height: 30px;
  }
}

.div-action-button {
  margin-top:10px;
  text-align:center;
  button {
    width: 200px;
  }
}

.availability-grey {
  background-color: lightgrey;
}

.availability-green {
  background-color: #7ac600;
}

.availability-orange {
  background-color: #ffc800;
}

.availability-red {
  background-color: red;
}

:host::ng-deep
#planningCalendarFrom {
  .ui-minute-picker {
    .pi-chevron-up, .pi-chevron-down {
      opacity: 0.25;
    }
  }
}

:host::ng-deep
#planningCalendarTo {
  .ui-minute-picker {
    .pi-chevron-up, .pi-chevron-down {
      opacity: 0.25;
    }
  }
}

:host::ng-deep
#planningVehiculeCalendarFrom {
  .ui-minute-picker {
    .pi-chevron-up, .pi-chevron-down {
      opacity: 0.25;
    }
  }
}

:host::ng-deep
#planningVehiculeCalendarTo {
  .ui-minute-picker {
    .pi-chevron-up, .pi-chevron-down {
      opacity: 0.25;
    }
  }
}