<nb-card>
  <nb-card-header>
    GESTION DU MATÉRIEL
  </nb-card-header>
  <nb-card-body>
    <nb-accordion>
      <nb-accordion-item #materielAccordion (click)="initialLoad('Materiel')">
        <nb-accordion-item-header>
          Matériel
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <p-table #materielsTable [columns]="crudHelper.crudObjectDefinitions['Materiel'].object.structure.cols" [value]="crudHelper.crudObjectsLists['Materiel']" [lazy]="false" [paginator]="true" [first]="crudHelper.crudObjectsFirst['Materiel']" [rows]="crudHelper.crudObjectsRows['Materiel']" [rowsPerPageOptions]="[10,20,30,40,50]" [paginatorDropdownAppendTo]="'body'" [totalRecords]="crudHelper.crudObjectsTotals['Materiel']" [loading]="crudHelper.crudObjectsLoadings['Materiel']" dataKey="id">
            <ng-template pTemplate="caption">
              <div>        
                  <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                  <input type="text" pInputText size="50" placeholder="Filtre Global" (input)="materielsTable.filterGlobal($event.target.value, 'contains')" style="width:auto">
              </div>
            </ng-template>
            <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                <col style="width:70px;">
                <col *ngFor="let col of columns" [ngClass]="col.style">
                <col style="width:70px;">
                <col style="width:70px;">
              </colgroup>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th style="text-align:center;" [attr.rowspan]="2">
                  PLAN.
                </th>
                <th *ngFor="let col of columns" style="text-align:center;">
                  {{col.header}}
                </th>
                <th style="text-align:center;" [attr.rowspan]="2">
                  EDIT.
                </th>
                <th style="text-align:center;" [attr.rowspan]="2">
                  SUPP.
                </th>
              </tr>
              <tr>
                <th *ngFor="let col of columns" style="text-align:center;">
                  <input placeholder="Filtre Colonne" pInputText type="text" (input)="materielsTable.filter($event.target.value, col.field, 'contains')" style="width: 100%">
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr>
                <td class="td-action-button">
                  <button class="btn btn-primary" (click)="showPlanningForMaterielFromAndTo(rowData)"><i class="fas fa-calendar-alt"></i></button>
                </td>
                <td *ngFor="let col of columns" [ngClass]="col.style" pTooltip="{{resolveFieldData(rowData, col.field)}}" tooltipPosition="bottom" style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">
                  {{resolveFieldData(rowData, col.field)}}
                </td>
                <td class="td-action-button">
                  <button class="btn btn-primary" (click)="openEditDialog(rowData)"><i class="fas fa-pencil-alt"></i></button>
                </td>
                <td class="td-action-button">
                  <button class="btn btn-warning" (click)="openDeleteDialog(rowData)"><i class="fas fa-trash-alt"></i></button>
                </td>
              </tr>
            </ng-template>
          </p-table>
          <div class="div-action-button">
            <button class="btn btn-primary" (click)="openCreateDialog('Materiel')" ><i class="fas fa-plus-circle"></i> AJOUTER</button>
          </div>
        </nb-accordion-item-body>
      </nb-accordion-item>
      <nb-accordion-item #planningMaterielAccordion (click)="initialLoad('PlanningMateriel')">
        <nb-accordion-item-header>
          Réserver du Matériel
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <nb-card>
            <nb-card-header style="text-align:center;">
              <div>Matériel : {{ selectedMateriel ? selectedMateriel.getSummaryDescription() : 'Sélectionner un matériel dans la liste...' }}</div>
              <div style="margin: 10px 0;" *ngIf="isMaterielPlanningAdmin(); else isNotMaterielPlanningAdmin;">
                Utilisateur : <p-autoComplete required placeholder="Utilisateur" inputStyleClass="form-control" [inputStyle]="{'width':'300px', 'height':'calc(2rem + 20px)'}" [style]="{'width':'300px', 'height':'calc(2rem + 20px)'}" [(ngModel)]="selectedUser" [suggestions]="userSuggestions" (completeMethod)="SearchUser($event)" (onSelect)="OnSelectUser($event)" field="fullName" [forceSelection]="true" appendTo="body"></p-autoComplete>
              </div>
              <ng-template #isNotMaterielPlanningAdmin>
                <p style="font-size: 18px;"><strong>Utilisateur : {{ selectedUser ? selectedUser.getSummaryDescription() : 'Sélectionner un utilisateur pour visualiser ses réservations.' }}</strong></p>
              </ng-template>
            </nb-card-header>
          </nb-card>
          <nb-card *ngIf="selectedMateriel">
            <nb-card-body>
              <div class="row">
                <div class="col">
                  <nb-card>
                    <nb-card-header style="text-align:center;">Sélectionner une date de prise en charge pour ce matériel</nb-card-header>
                    <nb-card-body style="text-align:center;">
                      <p-calendar id="planningCalendarFrom" #planningCalendarFrom [(ngModel)]="planningCalendarFromValue" [inline]="true" [locale]="fr" [showTime]="true" (onMonthChange)="loadMaterielReservationsForMonth($event, 'From')" (onSelect)="onSelectMaterielFrom($event)">
                        <ng-template pTemplate="date" let-date>
                          <span [ngClass]="'availability-' + availabilityStatus(date, 'From')" style="border-radius:50%;padding: .25em;width: 1.75em; height:1.75em; display:block;"><strong>{{date.day}}</strong></span>
                        </ng-template>
                      </p-calendar>
                    </nb-card-body>
                  </nb-card>
                </div>
                <div class="col">
                  <nb-card>
                    <nb-card-header style="text-align:center;">Sélectionner une date de retour pour ce matériel</nb-card-header>
                    <nb-card-body style="text-align:center;">
                      <p-calendar id="planningCalendarTo" #planningCalendarTo [(ngModel)]="planningCalendarToValue" [inline]="true" [locale]="fr" [showTime]="true" (onMonthChange)="loadMaterielReservationsForMonth($event, 'To')"  (onSelect)="onSelectMaterielTo($event)">
                        <ng-template pTemplate="date" let-date>
                          <span [ngClass]="'availability-' + availabilityStatus(date, 'To')" style="border-radius:50%;padding: .25em;width: 1.75em; height:1.75em; display:block;"><strong>{{date.day}}</strong></span>
                        </ng-template>
                      </p-calendar>
                    </nb-card-body>
                  </nb-card>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <nb-card>
                    <nb-card-body *ngIf="!planningCalendarFromValue || !planningCalendarFromValue">
                      Sélectionner une date de début et une date de fin pour effectuer une réservation.
                    </nb-card-body>
                    <nb-card-body *ngIf="planningCalendarFromValue && planningCalendarFromValue">
                      <div class="row">
                        <div class="col" style="text-align:center;">
                          <div *ngIf="isMaterielDateRangeConsistent(); else dateMaterielRangeIsntConsistent">
                            <p style="font-size: 18px;"><strong>{{ selectedUser ? selectedUser.getSummaryDescription() : 'Sélectionner un utilisateur pour effectuer une réservation.' }}</strong></p>
                            <p style="font-size: 18px;"><strong>{{ selectedMateriel.getSummaryDescription() }}</strong></p>
                            <p style="font-size: 16px;">DU : <strong>{{ this.planningCalendarFromValue.toLocaleDateString() }}</strong> à <strong>{{ this.planningCalendarFromValue.getHours() }}H</strong></p>
                            <p style="font-size: 16px;">AU : <strong>{{ this.planningCalendarToValue.toLocaleDateString() }}</strong> à <strong>{{ this.planningCalendarToValue.getHours() }}H</strong></p>
                          </div>
                          <ng-template #dateMaterielRangeIsntConsistent>
                            <p style="font-size: 22px;"><strong>Plage de dates incohérente...</strong></p>
                            <p style="font-size: 16px;"><strong>La date de début de la période doit être antérieure à la date de fin de la période.</strong></p>
                          </ng-template>
                          <button [disabled]="!isMaterielDateRangeConsistent() || !selectedUser" style="width:300px;margin-top:10px;margin-bottom:10px;" class="btn btn-primary" (click)="bookReservation()"><i class="fas fa-calendar-alt"></i>RÉSERVER</button>
                        </div>
                      </div>
                    </nb-card-body>
                  </nb-card>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <nb-card>
                    <nb-card-header>Réservation(s) existantes pour le jour sélectionné</nb-card-header>
                    <nb-card-body>
                      <span *ngIf="selectedDateReservationsFrom">
                        <p *ngFor="let resa of selectedDateReservationsFrom">{{ resa.getSummaryDescription() }}</p>
                      </span>
                    </nb-card-body>
                  </nb-card>
                </div>
                <div class="col">
                  <nb-card>
                    <nb-card-header>Réservation(s) existantes pour le jour sélectionné</nb-card-header>
                    <nb-card-body>
                      <span *ngIf="selectedDateReservationsTo">
                        <p *ngFor="let resa of selectedDateReservationsTo">{{ resa.getSummaryDescription() }}</p>
                      </span>
                    </nb-card-body>
                  </nb-card>
                </div>
              </div>
            </nb-card-body>
          </nb-card>
        </nb-accordion-item-body>
      </nb-accordion-item>
      <nb-accordion-item #reservationsMaterielAccordion (click)="initialLoad('PlanningMateriel')">
        <nb-accordion-item-header>
          Mes Réservations Matériel
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <nb-card>
              <nb-card-header style="text-align:center;">
                <div style="margin: 10px 0;" *ngIf="isMaterielPlanningAdmin(); else isNotMaterielPlanningAdmin;">
                  Utilisateur : <p-autoComplete required placeholder="Utilisateur" inputStyleClass="form-control" [inputStyle]="{'width':'300px', 'height':'calc(2rem + 20px)'}" [style]="{'width':'300px', 'height':'calc(2rem + 20px)'}" [(ngModel)]="selectedUser" [suggestions]="userSuggestions" (completeMethod)="SearchUser($event)" (onSelect)="OnSelectUser($event)" field="fullName" [forceSelection]="true" appendTo="body"></p-autoComplete>
                </div>
              </nb-card-header>
              <nb-card-body *ngIf="selectedUser">
                <div class="row">
                  <div class="col-4">
                    <nb-card>
                      <nb-card-header style="text-align:center;">Sélectionner une date pour visualiser les réservations</nb-card-header>
                      <nb-card-body style="text-align:center;">
                        <p-calendar id="planningCalendarDetails" #planningCalendarDetails [(ngModel)]="planningCalendarDetailsValue" [inline]="true" [locale]="fr" (onMonthChange)="loadMaterielReservationsForMonth($event, 'Details')" (onSelect)="showDetailsForSelectedDate($event, 'Details')">
                          <ng-template pTemplate="date" let-date>
                            <span [ngClass]="'availability-' + availabilityStatus(date, 'Details')" style="border-radius:50%;padding: .25em;width: 1.75em; height:1.75em; display:block;"><strong>{{date.day}}</strong></span>
                          </ng-template>
                        </p-calendar>
                      </nb-card-body>
                    </nb-card>
                  </div>
                  <div class="col-8">
                    <nb-card>
                      <nb-card-header style="text-align:center;">Détails des réservations pour la date sélectionnée</nb-card-header>
                      <nb-card-body style="text-align:center;">
                        <p-table #reservationTable [value]="selectedDateReservationsDetails" dataKey="id">
                          <ng-template pTemplate="colgroup">
                            <colgroup>
                              <col [ngClass]="">
                              <col style="width:70px;">
                            </colgroup>
                          </ng-template>
                          <ng-template pTemplate="header">
                            <tr>
                              <th style="text-align:left;">
                                Réservation Matériel
                              </th>
                              <th style="text-align:center;" [attr.rowspan]="2">
                                SUPP.
                              </th>
                            </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-rowData>
                            <tr>
                              <td [ngClass]="" pTooltip="{{ rowData.getSummaryDescription() }}" tooltipPosition="bottom" style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">
                                {{ rowData.getSummaryDescription() }}
                              </td>
                              <td class="td-action-button">
                                <button class="btn btn-warning" (click)="openDeleteReservationDialog(rowData)"><i class="fas fa-trash-alt"></i></button>
                              </td>
                            </tr>
                          </ng-template>
                        </p-table>
                      </nb-card-body>
                    </nb-card>
                  </div>
                </div>
              </nb-card-body>
            </nb-card>
          </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </nb-card-body>
</nb-card>

<!-- BEGIN WINDOWS TEMPLATES -->
<ng-template #templateForEdit let-data let-ref="dialogRef">
    <nb-card class="dialog-popup">
      <nb-card-header><span *ngIf="crudHelper.editedObject.id">Modifier</span><span *ngIf="!crudHelper.editedObject.id">Créer</span> {{ crudHelper.editedObject.structure.popupTitleDescription }}</nb-card-header>
      <nb-card-body>
        <nb-list>
          <nb-list-item *ngFor="let property of crudHelper.editedObject.structure.fields">
            <div class="form-group" *ngIf="property.type == 'boolean' && !(crudHelper.editedObject.className == 'Infrapole' && crudHelper.editedObject.hideSecteurCheckbox())" style="padding-top:18px;">
              <p-checkbox [(ngModel)]="crudHelper.editedObject[property.index]" binary="true"></p-checkbox>
              <label>{{ property.libelle }}</label>
            </div>
            <div class="form-group" *ngIf="property.type == 'input'">
              <label>{{ property.libelle }}</label>
              <input nbInput [status]="property.required && (crudHelper.editedObject[property.index] == null || crudHelper.editedObject[property.index] == undefined || crudHelper.editedObject[property.index] == '') ? 'danger' : undefined" *ngIf="property.type == 'input'" type="text" placeholder="{{ property.libelle }}" class="form-control" [(ngModel)]="crudHelper.editedObject[property.index]"/>
            </div>
            <div class="form-group" *ngIf="property.type == 'autocomplete'">
              <label>{{ property.libelle }}</label>
              <p-autoComplete #autocomplete placeholder="{{ property.libelle }}" inputStyleClass="form-control" [inputStyle]="{'width':'100%', 'height':'calc(2rem + 20px)'}" [style]="{'width':'100%', 'height':'calc(2rem + 20px)'}" [(ngModel)]="crudHelper.editedObject[property.index]" [suggestions]="autocompleteSuggestions" (completeMethod)="autocompleteEdit($event, crudHelper.editedObject.className)" [field]="property.suggestionField" [forceSelection]="true"></p-autoComplete>
            </div>
          </nb-list-item>
        </nb-list>
      </nb-card-body>
      <nb-card-footer class="dialog-footer">
        <button class="btn btn-warning" (click)="ref.close()"><i class="fas fa-ban"></i>ANNULER</button>
        <button class="btn btn-primary" (click)="crudHelper.saveEditedObject()" [disabled]="!canEditedObjectBeSaved()"><i class="fas fa-save"></i>ENREGISTRER</button>
      </nb-card-footer>
    </nb-card>
  </ng-template>
  <ng-template #templateForDelete let-data let-ref="dialogRef">
    <nb-card class="dialog-popup">
      <nb-card-header>Supprimer {{ crudHelper.editedObject.structure.popupTitleDescription }} ?</nb-card-header>
      <nb-card-body>
        <p style="font-weight:bold;">
          {{ crudHelper.editedObject.getSummaryDescription() }}
        </p>
        <p style="font-weight:bold;">
          Êtes-vous certain(e) de vouloir supprimer cet élément et tous ses enfants ?
        </p>
        <p>
          Assurez-vous qu'aucun de ces éléments n'est utilisé. Si c'est le cas, vous obtiendrez une erreur de suppression vous indiquant l'élément concerné.
        </p>
      </nb-card-body>
      <nb-card-footer class="dialog-footer">
        <button class="btn btn-warning" (click)="crudHelper.editedObject = undefined; ref.close();"><i class="fas fa-ban"></i>ANNULER</button>
        <button class="btn btn-danger" (click)="crudHelper.deleteEditedObject()"><i class="fas fa-trash-alt"></i>SUPPRIMER</button>
      </nb-card-footer>
    </nb-card>
  </ng-template>
  <ng-template #templateForDeleteReservation let-data let-ref="dialogRef">
    <nb-card class="dialog-popup">
      <nb-card-header>Supprimer une réservation ?</nb-card-header>
      <nb-card-body>
        <p>
          {{ selectedReservationToDelete.getSummaryDescription() }}
        </p>
        <p style="font-weight:bold;">
          Êtes-vous certain(e) de vouloir supprimer cette réservation ?
        </p>
      </nb-card-body>
      <nb-card-footer class="dialog-footer">
        <button class="btn btn-warning" (click)="ref.close();"><i class="fas fa-ban"></i>ANNULER</button>
        <button class="btn btn-danger" (click)="confirmDelete(); ref.close();"><i class="fas fa-trash-alt"></i>SUPPRIMER</button>
      </nb-card-footer>
    </nb-card>
  </ng-template>
  <ng-template #templateForConfirmation let-data let-ref="dialogRef">
    <nb-card class="dialog-popup">
      <nb-card-header>Confirmer la réservation de plusieurs éléments ?</nb-card-header>
      <nb-card-body>
        <p style="font-weight:bold;">
          ATTENTION.<br/><br/>L'utilisateur a déjà réservé un ou plusieurs éléments sur la plage horaire demandée.
        </p>
        <p *ngFor="let resa of existingResasForConfirmation">{{ resa.getSummaryDescription() }}</p>
      </nb-card-body>
      <nb-card-footer class="dialog-footer">
        <button class="btn btn-warning" (click)="ref.close();"><i class="fas fa-ban"></i>ANNULER</button>
        <button class="btn btn-primary" (click)="confirmReservation();ref.close();"><i class="fas fa-save"></i>CONFIRMER</button>
      </nb-card-footer>
    </nb-card>
  </ng-template>
  <!-- END WINDOWS TEMPLATES -->
