<nb-card>
  <nb-card-header>
    PLANNING
  </nb-card-header>
  <nb-card-body>
    <p-table [columns]="colsReservationCollaborateurs" [(value)]="mixedPlannings" frozenWidth="250px" [responsive]="true" [loading]="loadingReservationCollaborateurs" [scrollable]="true" [autoLayout]="true">
      <ng-template pTemplate="caption" let-columns>
        <div style="height:30px;">
          <button class="btn btn-primary btn-xs" type="button" style="float: left; margin-top: -5px;" (click)="enleverMois()">
              <i class="ion-android-arrow-back"></i>
          </button>
          {{ nomMois }} {{ nomAnnees }}
          <button pTooltip="Mois en cours" tooltipPosition="top" class="btn btn-xs" type="button" style="margin-top: -5px; margin-left: 7px;" (click)="afficherDateCourante()">
              <i class="fa fa-calendar-times-o"></i>
          </button>
          <button class="btn btn-primary btn-xs" type="button" style="float: right; margin-top: -5px;" (click)="ajouterMois()">
              <i class="ion-android-arrow-forward"></i>
          </button>
      </div>
      </ng-template>
      <ng-template pTemplate="frozenheader">
        <tr>
          <th style="width:250px;height:35px;font-weight:normal;text-align:right;">
            Semaine
          </th>
        </tr>
        <tr>
          <th style="width:250px;height:40px;font-weight:normal;text-align:right;">
            Jour
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="frozenbody" let-rowData>
        <tr [pSelectableRow]="rowData">
          <td *ngIf="getReservationType(rowData) === 'PlanningCollaborateur'" style="height:80px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">
            <span pTooltip="{{ rowData.utilisateur.fullName }}" tooltipPosition="bottom" style="font-weight:bold;">{{ rowData.utilisateur.fullName }}</span><br/>
            <span style="font-weight:bold;color:blue;">{{ rowData.utilisateur.telephoneMobile }}</span>
          </td>
          <td *ngIf="getReservationType(rowData) === 'PlanningUtilisateurVehicule'" style="height:80px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">
            <span pTooltip="{{ rowData.vehicule.marque + ' ' + rowData.vehicule.modele }}" tooltipPosition="bottom" style="font-weight:bold;">{{ rowData.vehicule.marque + ' ' + rowData.vehicule.modele }}</span><br/>
            <span style="font-weight:bold;color:blue;">{{ rowData.vehicule.immatriculation }}</span><br/>
            <span *ngIf="rowData.vehicule.places && rowData.vehicule.places > 2" style="font-weight:bold;">{{ rowData.vehicule.places }} places</span>
            <span *ngIf="rowData.vehicule.places && rowData.vehicule.places < 3" style="font-weight:bold;color:red;">{{ rowData.vehicule.places }} places</span>
          </td>
          <td *ngIf="getReservationType(rowData) === 'PlanningUtilisateurMateriel'" style="height:80px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">
            <span pTooltip="{{ rowData.materiel.nom }}" tooltipPosition="bottom" style="font-weight:bold;">{{ rowData.materiel.nom }}</span>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of columns" style="width:120px">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let group of semainesColonnes" [attr.colspan]="group.group" style="height:35px;font-weight:normal;text-align:center;">
            {{group.week}}
          </th>
        </tr>
        <tr>
          <th *ngFor="let col of columns" [ngClass]="styleImputation(col)">
            {{col.jour}}<br/>{{col.libelle}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns" style="padding:0!important;text-align: center;height:80px;">
            <button *ngIf="rowData[col.indice] && rowData[col.indice].length > 0" class="btn btn-primary" (click)="afficherOverlay($event,rowData, op, col)">{{ rowData[col.indice].length }}</button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </nb-card-body>
</nb-card>

<p-overlayPanel #op [appendTo]="'body'">
  <div *ngFor="let reservation of reservationSelectionnees">
    <div>
      <span>{{ reservation.getSummaryDescription() }}</span>
    </div>
    <div>
      <span>----------</span>
    </div>
  </div>
</p-overlayPanel>