@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  .solar-card nb-card-header {
    border: none;
    padding-bottom: 0;
  }

  @include media-breakpoint-down(sm) {
    ngx-traffic {
      display: none;
    }
  }

  @include media-breakpoint-down(is) {
    /deep/ nb-card.large-card {
      height: nb-theme(card-height-medium);
    }
  }
}

.styleOriginal {
  width: 120px;
  height: 40px;
  text-align: center;
  padding:0px 6px !important;
  font-weight: 500!important;
}

.styleWeekEnd {
  background-color:grey!important;
}

.styleCurrentDate {
  background-color:#5cb85c!important;
}

.styleGrid {
  padding:0!important;
  text-align: center;
  height: 40px;
}

.styleButton {
  padding: 0 2px;
}

.noBorder {
  border: 1px black !important;
}