<nb-card>
  <nb-card-header>
    TEMPS DES COLLABORATEURS
  </nb-card-header>
  <nb-card-body>
    <nb-accordion>
      <nb-accordion-item #planningCollaborateurAccordion>
        <nb-accordion-item-header>
          Réserver un Collaborateur
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <nb-card>
            <nb-card-body>
              <div class="row">
                <div class="col">
                  <nb-card>
                    <nb-card-header style="text-align:center;">Sélectionner la date de prise en charge pour le collaborateur</nb-card-header>
                    <nb-card-body style="text-align:center;">
                      <p-calendar id="planningCollaborateurCalendarFrom" #planningCollaborateurCalendarFrom [(ngModel)]="planningCollaborateurCalendarFromValue" [inline]="true" [locale]="fr" [showTime]="true" (onSelect)="onSelectCollaborateurFrom($event)"></p-calendar>
                    </nb-card-body>
                  </nb-card>
                </div>
                <div class="col">
                  <nb-card>
                    <nb-card-header style="text-align:center;">Sélectionner la date de retour pour le collaborateur</nb-card-header>
                    <nb-card-body style="text-align:center;">
                      <p-calendar id="planningCollaborateurCalendarTo" #planningCollaborateurCalendarTo [(ngModel)]="planningCollaborateurCalendarToValue" [inline]="true" [locale]="fr" [showTime]="true" (onSelect)="onSelectCollaborateurTo($event)"></p-calendar>
                    </nb-card-body>
                  </nb-card>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <nb-card>
                    <nb-card-body *ngIf="!planningCollaborateurCalendarFromValue || !planningCollaborateurCalendarFromValue">
                      Sélectionner une date de début et une date de fin pour effectuer une réservation.
                    </nb-card-body>
                    <nb-card-body *ngIf="planningCollaborateurCalendarFromValue && planningCollaborateurCalendarFromValue">
                      <div class="row">
                        <div class="col" style="text-align:center;">
                          <div *ngIf="isCollaborateurDateRangeConsistent(); else dateCollaborateurRangeIsntConsistent">
                            <p style="font-size: 16px;">DU : <strong>{{ this.planningCollaborateurCalendarFromValue.toLocaleDateString() }}</strong> à <strong>{{ this.planningCollaborateurCalendarFromValue.getHours() }}H</strong></p>
                            <p style="font-size: 16px;">AU : <strong>{{ this.planningCollaborateurCalendarToValue.toLocaleDateString() }}</strong> à <strong>{{ this.planningCollaborateurCalendarToValue.getHours() }}H</strong></p>
                            <div class="row" style="width:100%;margin-bottom:10px;">
                              <div class="col">
                                Lieu
                              </div>
                              <div class="col">
                                Type
                              </div>
                              <div class="col">
                                Travail de Nuit
                              </div>
                            </div>
                            <div class="row" style="width:100%;">
                              <div class="col">
                                <div class="form-group">
                                  <input type="text" pInputText class="form-control" [(ngModel)]="lieu"/>
                                </div>
                              </div>
                              <div class="col">
                                <div class="form-group">
                                  <select class="form-control" [(ngModel)]="type">
                                    <option *ngFor="let option of TYPES" [ngValue]="option.raw">{{ option.fr }}</option>
                                  </select>
                                </div>
                              </div>
                              <div class="col">
                                <div class="form-group">
                                  <p-toggleButton [(ngModel)]="nuit" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                                </div>
                              </div>
                            </div>
                          </div>
                          <ng-template #dateCollaborateurRangeIsntConsistent>
                            <p style="font-size: 22px;"><strong>Plage de dates incohérente...</strong></p>
                            <p style="font-size: 16px;"><strong>La date de début de la période doit être antérieure à la date de fin de la période.</strong></p>
                          </ng-template>
                          <div *ngIf="!isLieuTypeTravailConsistent()" class="row" style="width:100%;">
                            <div class="col" style="text-align:center;">
                              Renseigner un lieu, un type et le travail afin de pouvoir enregistrer.
                            </div>
                          </div>
                          <button [disabled]="!isCollaborateurDateRangeConsistent() || !isLieuTypeTravailConsistent()" style="width:400px;margin-top:10px;margin-bottom:10px;" class="btn btn-primary" (click)="bookCollaborateur()"><i class="fas fa-calendar-alt"></i>ENREGISTRER</button>
                        </div>
                      </div>
                    </nb-card-body>
                  </nb-card>
                </div>
              </div>
              <div class="row" *ngIf="availableCollaborateurs">
                <div class="col">
                  <nb-card>
                    <nb-card-body>
                      <p-table #availableCollaborateursTable [columns]="crudHelper.crudObjectDefinitions['Collaborateur'].object.structure.cols" [value]="availableCollaborateurs" [lazy]="false" [paginator]="true" [first]="0" [rows]="10" [rowsPerPageOptions]="[10,20,30,40,50]" [paginatorDropdownAppendTo]="'body'" [totalRecords]="availableCollaborateurs.length" [loading]="loadingAvailableCollaborateurs" dataKey="id">
                        <ng-template pTemplate="caption">
                          <div>        
                              <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                              <input type="text" pInputText size="50" placeholder="Filtre Global" (input)="availableCollaborateursTable.filterGlobal($event.target.value, 'contains')" style="width:auto">
                          </div>
                        </ng-template>
                        <ng-template pTemplate="colgroup" let-columns>
                          <colgroup>
                            <col *ngFor="let col of columns" [ngClass]="col.style">
                            <col style="width:200px;">
                          </colgroup>
                        </ng-template>
                        <ng-template pTemplate="header" let-columns>
                          <tr>
                            <th *ngFor="let col of columns" style="text-align:center;">
                              {{col.header}}
                            </th>
                            <th style="text-align:center;" [attr.rowspan]="2">
                              RESERVER<br/>
                              DU : <strong>{{ this.planningCollaborateurCalendarFromValue.toLocaleDateString() }}</strong> à <strong>{{ this.planningCollaborateurCalendarFromValue.getHours() }}H</strong><br/>
                              AU : <strong>{{ this.planningCollaborateurCalendarToValue.toLocaleDateString() }}</strong> à <strong>{{ this.planningCollaborateurCalendarToValue.getHours() }}H</strong>
                            </th>
                          </tr>
                          <tr>
                            <th *ngFor="let col of columns" style="text-align:center;">
                              <input placeholder="Filtre Colonne" pInputText type="text" (input)="availableCollaborateursTable.filter($event.target.value, col.field, 'contains')" style="width: 100%">
                            </th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                          <tr>
                            <td *ngFor="let col of columns" [ngClass]="col.style" pTooltip="{{resolveFieldData(rowData, col.field)}}" tooltipPosition="bottom" style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">
                              {{resolveFieldData(rowData, col.field)}}
                            </td>
                            <td class="td-action-button">
                              <button class="btn btn-warning" [disabled]="!tableResultsMatchSelectedDates()" (click)="bookCollaborateur(rowData)"><i class="fas fa-calendar-alt"></i></button>
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </nb-card-body>
                  </nb-card>
                </div>
              </div>
            </nb-card-body>
          </nb-card>
        </nb-accordion-item-body>
      </nb-accordion-item>
      <nb-accordion-item #reservationsCollaborateurAccordion>
        <nb-accordion-item-header>
          Mes Réservations Collaborateurs
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <nb-card>
            <nb-card-body>
              <div class="row">
                <div class="col-4">
                  <nb-card>
                    <nb-card-header style="text-align:center;">Sélectionner une date pour visualiser les réservations</nb-card-header>
                    <nb-card-body style="text-align:center;">
                      <p-calendar id="planningCollaborateurCalendarDetails" #planningCollaborateurCalendarDetails [(ngModel)]="planningCollaborateurCalendarDetailsValue" [inline]="true" [locale]="fr" (onMonthChange)="loadCollaborateurReservationsForMonth($event, 'Details')" (onSelect)="showCollaborateurDetailsForSelectedDate($event, 'Details')">
                        <ng-template pTemplate="date" let-date>
                          <span [ngClass]="'availability-' + availabilityCollaborateurStatus(date, 'Details')" style="border-radius:50%;padding: .25em;width: 1.75em; height:1.75em; display:block;"><strong>{{date.day}}</strong></span>
                        </ng-template>
                      </p-calendar>
                    </nb-card-body>
                  </nb-card>
                </div>
                <div class="col-8">
                  <nb-card>
                    <nb-card-header style="text-align:center;">Détails des réservations pour la date sélectionnée</nb-card-header>
                    <nb-card-body style="text-align:center;">
                      <p-table #reservationTable [value]="selectedCollaborateurDateReservationsDetails" dataKey="id">
                        <ng-template pTemplate="colgroup">
                          <colgroup>
                            <col [ngClass]="">
                            <col style="width:70px;">
                          </colgroup>
                        </ng-template>
                        <ng-template pTemplate="header">
                          <tr>
                            <th style="text-align:left;">
                              Réservation Collaborateur
                            </th>
                            <th style="text-align:center;" [attr.rowspan]="2">
                              SUPP.
                            </th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData>
                          <tr>
                            <td [ngClass]="" pTooltip="{{ rowData.getSummaryDescription() }}" tooltipPosition="bottom" style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">
                              {{ rowData.getSummaryDescription() }}
                            </td>
                            <td class="td-action-button">
                              <button class="btn btn-warning" (click)="openDeleteReservationDialog(rowData)"><i class="fas fa-trash-alt"></i></button>
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </nb-card-body>
                  </nb-card>
                </div>
              </div>
            </nb-card-body>
          </nb-card>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </nb-card-body>
</nb-card>

<!-- BEGIN WINDOWS TEMPLATES -->
  <ng-template #templateForDeleteReservation let-data let-ref="dialogRef">
    <nb-card class="dialog-popup">
      <nb-card-header>Supprimer une réservation ?</nb-card-header>
      <nb-card-body>
        <p>
          {{ selectedReservationToDelete.getSummaryDescription() }}
        </p>
        <p style="font-weight:bold;">
          Êtes-vous certain(e) de vouloir supprimer cette réservation ?
        </p>
      </nb-card-body>
      <nb-card-footer class="dialog-footer">
        <button class="btn btn-warning" (click)="ref.close();"><i class="fas fa-ban"></i>ANNULER</button>
        <button class="btn btn-danger" (click)="confirmDelete(); ref.close();"><i class="fas fa-trash-alt"></i>SUPPRIMER</button>
      </nb-card-footer>
    </nb-card>
  </ng-template>
  <!-- END WINDOWS TEMPLATES -->
