<nb-card [nbSpinner]="!activeFilters.areConnectedUserFiltersLoaded" nbSpinnerMessage="Chargement..." nbSpinnerSize="xxlarge">
  <nb-card-header>
    BOUCLAGE DES VISITES INCLINO
    <button class="btn return-button" (click)="backClicked()">< RETOUR</button>
  </nb-card-header>
  <nb-card-body>
    <nb-accordion style="text-align:center;">
      <nb-accordion-item #accordionRechercher>
        <nb-accordion-item-header>
          RECHERCHE...
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <nb-tabset fullWidth>
            <nb-tab tabTitle="Généralités">
              <div class="row" style="margin-top:10px;width:100%;">
                <div class="col">
                  <div class="form-group">
                    <label>Numéro Opération</label>
                    <input type="text" pInputText [pKeyFilter]="inputNumberFilter" (keypress)="onInputKeyPress($event)" placeholder="Numéro Opération" class="form-control" [(ngModel)]="activeFilters.filters.GenNumeroOperationTyped"/>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>Année prévue</label>
                    <select class="form-control" [(ngModel)]="activeFilters.filters.GenAnneePrevueSelected">
                      <option *ngFor="let option of activeFilters.options.GenAnneePrevueOptions" [ngValue]="option">{{ option.fr }}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row" style="width:100%;">
                <div class="col">
                  <div class="form-group">
                    <label>Région</label>
                    <select class="form-control" [(ngModel)]="activeFilters.filters.GenRegionSelected" (ngModelChange)="GenRegionChange($event)">
                      <option *ngFor="let option of activeFilters.options.GenRegionOptions" [ngValue]="option">{{ option.fr }}</option>
                    </select>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>INFRAPOLE</label>
                    <select class="form-control" [(ngModel)]="activeFilters.filters.GenInfrapoleSelected" (ngModelChange)="GenInfrapoleChange($event)">
                      <option *ngFor="let option of activeFilters.options.GenInfrapoleOptions" [ngValue]="option">{{ option.fr }}</option>
                    </select>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>Secteur</label>
                    <select class="form-control" [(ngModel)]="activeFilters.filters.GenSecteurSelected" (ngModelChange)="GenSecteurChange($event)" [disabled]="activeFilters.options.GenSecteurOptions == null || activeFilters.options.GenSecteurOptions.length < 2">
                      <option *ngFor="let option of activeFilters.options.GenSecteurOptions" [ngValue]="option">{{ option.fr }}</option>
                    </select>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>UO</label>
                    <select class="form-control" [(ngModel)]="activeFilters.filters.GenUoSelected" (ngModelChange)="GenUoChange($event)">
                      <option *ngFor="let option of activeFilters.options.GenUoOptions" [ngValue]="option">{{ option.fr }}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row" style="width:100%;">
                <div class="col-3">
                  <div class="form-group">
                    <label>UIC</label>
                    <select class="form-control" [(ngModel)]="activeFilters.filters.GenUicSelected">
                      <option *ngFor="let option of activeFilters.options.GenUicOptions" [ngValue]="option">{{ option.fr }}</option>
                    </select>
                  </div>
                </div>
                <div class="col-9">
                  <div class="form-group">
                    <label>Ligne</label>
                    <select class="form-control" [(ngModel)]="activeFilters.filters.GenLigneSelected">
                      <option *ngFor="let option of activeFilters.options.GenLigneOptions" [ngValue]="option">{{ option.fr }}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row" style="width:100%;">
                <div class="col">
                  <div class="form-group">
                    <label>Du Pk</label>
                    <input type="text" pInputText [pKeyFilter]="inputFilter" (keypress)="onInputKeyPress($event)" placeholder="De" class="form-control" [(ngModel)]="activeFilters.filters.GenFromTyped"/>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>Au Pk</label>
                    <input type="text" pInputText [pKeyFilter]="inputFilter" (keypress)="onInputKeyPress($event)" placeholder="A" class="form-control" [(ngModel)]="activeFilters.filters.GenToTyped"/>
                  </div>
                </div>
              </div>
              <div class="row" style="width:100%;">
                <div class="col">
                  <div class="form-group">
                    <label>Responsable de la surveillance</label>
                    <select class="form-control" [(ngModel)]="activeFilters.filters.GenRespSurveillanceSelected" (ngModelChange)="GenRespSurveillanceChange($event)">
                      <option *ngFor="let option of activeFilters.options.GenRespSurveillanceOptions" [ngValue]="option">{{ option.fr }}</option>
                    </select>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>Auteur de la Visite</label>
                    <select class="form-control" [(ngModel)]="activeFilters.filters.GenAuteurVisiteSelected">
                      <option *ngFor="let option of activeFilters.options.GenAuteurVisiteOptions" [ngValue]="option">{{ option.fr }}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row" style="width:100%;">
                <div class="col">
                  <div class="form-group">
                    <label>Catégorie</label>
                    <select class="form-control" [(ngModel)]="activeFilters.filters.GenCategorieSelected" (ngModelChange)="GenCategorieChange($event)">
                      <option *ngFor="let option of activeFilters.options.GenCategorieOptions" [ngValue]="option">{{ option.fr }}</option>
                    </select>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>Type</label>
                    <select class="form-control" [(ngModel)]="activeFilters.filters.GenTypeSelected" (ngModelChange)="GenTypeChange($event)">
                      <option *ngFor="let option of activeFilters.options.GenTypeOptions" [ngValue]="option">{{ option.fr }}</option>
                    </select>
                  </div>
                </div>
              </div>
            </nb-tab>
            <nb-tab tabTitle="Description" *ngIf="activeFilters.filters['GenCategorieSelected'] == null || activeFilters.filters['GenCategorieSelected'].raw != 'category_Hydro'">
              <nb-accordion>
                <nb-accordion-item #accordionOA [hidden]="!(activeFilters.filters['GenCategorieSelected'] == null || activeFilters.filters['GenCategorieSelected'].raw == 'category_OA' || activeFilters.filters['GenCategorieSelected'].raw == null)">
                <nb-accordion-item-header>
                  Ouvrages d'Art
                </nb-accordion-item-header>
                <nb-accordion-item-body>
                  <div class="row" style="margin-bottom:7px;width:100%;">
                    <div class="col">
                      Longueur [m]
                    </div>
                    <div class="col">
                      Hauteur [m]
                    </div>
                    <div class="col">
                      Hauteur Libre [m]
                    </div>
                  </div>
                  <div class="row" style="width:100%;">
                    <div class="col">
                      <div class="form-group">
                        <input type="text" pInputText [pKeyFilter]="inputFilter" (keypress)="onInputKeyPress($event)" placeholder="De" class="form-control" [(ngModel)]="activeFilters.filters.DesOaLongueurFromTyped"/>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <input type="text" pInputText [pKeyFilter]="inputFilter" (keypress)="onInputKeyPress($event)" placeholder="A" class="form-control" [(ngModel)]="activeFilters.filters.DesOaLongueurToTyped"/>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <input type="text" pInputText [pKeyFilter]="inputFilter" (keypress)="onInputKeyPress($event)" placeholder="De" class="form-control" [(ngModel)]="activeFilters.filters.DesOaHauteurFromTyped"/>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <input type="text" pInputText [pKeyFilter]="inputFilter" (keypress)="onInputKeyPress($event)" placeholder="A" class="form-control" [(ngModel)]="activeFilters.filters.DesOaHauteurToTyped"/>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <input type="text" pInputText [pKeyFilter]="inputFilter" (keypress)="onInputKeyPress($event)" placeholder="De" class="form-control" [(ngModel)]="activeFilters.filters.DesOaHauteurLibreFromTyped"/>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <input type="text" pInputText [pKeyFilter]="inputFilter" (keypress)="onInputKeyPress($event)" placeholder="A" class="form-control" [(ngModel)]="activeFilters.filters.DesOaHauteurLibreToTyped"/>
                      </div>
                    </div>
                  </div>
                  <div class="row" style="margin-bottom:7px;width:100%;">
                    <div class="col">
                      Largeur [m]
                    </div>
                    <div class="col">
                      Ouverture [m]
                    </div>
                    <div class="col">
                      Portée [m]
                    </div>
                  </div>
                  <div class="row" style="width:100%;">
                    <div class="col">
                      <div class="form-group">
                        <input type="text" pInputText [pKeyFilter]="inputFilter" (keypress)="onInputKeyPress($event)" placeholder="De" class="form-control" [(ngModel)]="activeFilters.filters.DesOaLargeurFromTyped"/>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <input type="text" pInputText [pKeyFilter]="inputFilter" (keypress)="onInputKeyPress($event)" placeholder="A" class="form-control" [(ngModel)]="activeFilters.filters.DesOaLargeurToTyped"/>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <input type="text" pInputText [pKeyFilter]="inputFilter" (keypress)="onInputKeyPress($event)" placeholder="De" class="form-control" [(ngModel)]="activeFilters.filters.DesOaOuvertureFromTyped"/>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <input type="text" pInputText [pKeyFilter]="inputFilter" (keypress)="onInputKeyPress($event)" placeholder="A" class="form-control" [(ngModel)]="activeFilters.filters.DesOaOuvertureToTyped"/>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <input type="text" pInputText [pKeyFilter]="inputFilter" (keypress)="onInputKeyPress($event)" placeholder="De" class="form-control" [(ngModel)]="activeFilters.filters.DesOaPorteeFromTyped"/>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <input type="text" pInputText [pKeyFilter]="inputFilter" (keypress)="onInputKeyPress($event)" placeholder="A" class="form-control" [(ngModel)]="activeFilters.filters.DesOaPorteeToTyped"/>
                      </div>
                    </div>
                  </div>
                  <div class="row" style="margin-bottom:7px;width:100%;">
                    <div class="col">
                      Couverture [m]
                    </div>
                    <div class="col">
                      Nombre de travées
                    </div>
                    <div class="col">
                      Nombre de tabliers
                    </div>
                  </div>
                  <div class="row" style="width:100%;">
                    <div class="col">
                      <div class="form-group">
                        <input type="text" pInputText [pKeyFilter]="inputFilter" (keypress)="onInputKeyPress($event)" placeholder="De" class="form-control" [(ngModel)]="activeFilters.filters.DesOaCouvertureFromTyped"/>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <input type="text" pInputText [pKeyFilter]="inputFilter" (keypress)="onInputKeyPress($event)" placeholder="A" class="form-control" [(ngModel)]="activeFilters.filters.DesOaCouvertureToTyped"/>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <input type="text" pInputText [pKeyFilter]="inputFilter" (keypress)="onInputKeyPress($event)" placeholder="De" class="form-control" [(ngModel)]="activeFilters.filters.DesOaTraverseesFromTyped"/>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <input type="text" pInputText [pKeyFilter]="inputFilter" (keypress)="onInputKeyPress($event)" placeholder="A" class="form-control" [(ngModel)]="activeFilters.filters.DesOaTraverseesToTyped"/>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <input type="text" pInputText [pKeyFilter]="inputFilter" (keypress)="onInputKeyPress($event)" placeholder="De" class="form-control" [(ngModel)]="activeFilters.filters.DesOaTabliersFromTyped"/>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <input type="text" pInputText [pKeyFilter]="inputFilter" (keypress)="onInputKeyPress($event)" placeholder="A" class="form-control" [(ngModel)]="activeFilters.filters.DesOaTabliersToTyped"/>
                      </div>
                    </div>
                  </div>
                  <div class="row" style="margin-bottom:7px;width:100%;">
                    <div class="col">
                      Pente [°]
                    </div>
                    <div class="col">
                      Pente gauche [°]
                    </div>
                    <div class="col">
                      Pente droite [°]
                    </div>
                  </div>
                  <div class="row" style="width:100%;">
                    <div class="col">
                      <div class="form-group">
                        <input type="text" pInputText [pKeyFilter]="inputFilter" (keypress)="onInputKeyPress($event)" placeholder="De" class="form-control" [(ngModel)]="activeFilters.filters.DesOaPenteFromTyped"/>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <input type="text" pInputText [pKeyFilter]="inputFilter" (keypress)="onInputKeyPress($event)" placeholder="A" class="form-control" [(ngModel)]="activeFilters.filters.DesOaPenteToTyped"/>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <input type="text" pInputText [pKeyFilter]="inputFilter" (keypress)="onInputKeyPress($event)" placeholder="De" class="form-control" [(ngModel)]="activeFilters.filters.DesOaPenteGaucheFromTyped"/>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <input type="text" pInputText [pKeyFilter]="inputFilter" (keypress)="onInputKeyPress($event)" placeholder="A" class="form-control" [(ngModel)]="activeFilters.filters.DesOaPenteGaucheToTyped"/>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <input type="text" pInputText [pKeyFilter]="inputFilter" (keypress)="onInputKeyPress($event)" placeholder="De" class="form-control" [(ngModel)]="activeFilters.filters.DesOaPenteDroiteFromTyped"/>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <input type="text" pInputText [pKeyFilter]="inputFilter" (keypress)="onInputKeyPress($event)" placeholder="A" class="form-control" [(ngModel)]="activeFilters.filters.DesOaPenteDroiteToTyped"/>
                      </div>
                    </div>
                  </div>
                  <div class="row" style="width:100%;">
                    <div class="col">
                      <div class="form-group">
                        <label>Géometrie</label>
                        <select class="form-control" [(ngModel)]="activeFilters.filters.DesOaGeometrieSelected">
                          <option *ngFor="let option of activeFilters.options.DesOaGeometrieOptions" [ngValue]="option">{{ option.fr }}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label>Assemblage</label>
                        <select class="form-control" [(ngModel)]="activeFilters.filters.DesOaAssemblageSelected">
                          <option *ngFor="let option of activeFilters.options.DesOaAssemblageOptions" [ngValue]="option">{{ option.fr }}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </nb-accordion-item-body>
                </nb-accordion-item>
                <nb-accordion-item #accordionOT [hidden]="!(activeFilters.filters['GenCategorieSelected'] == null || activeFilters.filters['GenCategorieSelected'].raw == 'category_OT' || activeFilters.filters['GenCategorieSelected'].raw == null)">
                <nb-accordion-item-header>
                  Ouvrages en Terre
                </nb-accordion-item-header>
                <nb-accordion-item-body>
                  <div class="row" style="margin-bottom:7px;width:100%;">
                    <div class="col">
                      Hauteur [m]
                    </div>
                    <div class="col">
                      Hauteur gauche [m]
                    </div>
                    <div class="col">
                      Hauteur droite [m]
                    </div>
                  </div>
                  <div class="row" style="width:100%;">
                    <div class="col">
                      <div class="form-group">
                        <input type="text" pInputText [pKeyFilter]="inputFilter" (keypress)="onInputKeyPress($event)" placeholder="De" class="form-control" [(ngModel)]="activeFilters.filters.DesOtHauteurFromTyped"/>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <input type="text" pInputText [pKeyFilter]="inputFilter" (keypress)="onInputKeyPress($event)" placeholder="A" class="form-control" [(ngModel)]="activeFilters.filters.DesOtHauteurToTyped"/>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <input type="text" pInputText [pKeyFilter]="inputFilter" (keypress)="onInputKeyPress($event)" placeholder="De" class="form-control" [(ngModel)]="activeFilters.filters.DesOtHauteurGaucheFromTyped"/>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <input type="text" pInputText [pKeyFilter]="inputFilter" (keypress)="onInputKeyPress($event)" placeholder="A" class="form-control" [(ngModel)]="activeFilters.filters.DesOtHauteurGaucheToTyped"/>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <input type="text" pInputText [pKeyFilter]="inputFilter" (keypress)="onInputKeyPress($event)" placeholder="De" class="form-control" [(ngModel)]="activeFilters.filters.DesOtHauteurDroiteFromTyped"/>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <input type="text" pInputText [pKeyFilter]="inputFilter" (keypress)="onInputKeyPress($event)" placeholder="A" class="form-control" [(ngModel)]="activeFilters.filters.DesOtHauteurDroiteToTyped"/>
                      </div>
                    </div>
                  </div>
                  <div class="row" style="margin-bottom:7px;width:100%;">
                    <div class="col">
                      Profondeur [m]
                    </div>
                    <div class="col">
                      Profondeur gauche [m]
                    </div>
                    <div class="col">
                      Profondeur droite [m]
                    </div>
                  </div>
                  <div class="row" style="width:100%;">
                    <div class="col">
                      <div class="form-group">
                        <input type="text" pInputText [pKeyFilter]="inputFilter" (keypress)="onInputKeyPress($event)" placeholder="De" class="form-control" [(ngModel)]="activeFilters.filters.DesOtProfondeurFromTyped"/>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <input type="text" pInputText [pKeyFilter]="inputFilter" (keypress)="onInputKeyPress($event)" placeholder="A" class="form-control" [(ngModel)]="activeFilters.filters.DesOtProfondeurToTyped"/>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <input type="text" pInputText [pKeyFilter]="inputFilter" (keypress)="onInputKeyPress($event)" placeholder="De" class="form-control" [(ngModel)]="activeFilters.filters.DesOtProfondeurGaucheFromTyped"/>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <input type="text" pInputText [pKeyFilter]="inputFilter" (keypress)="onInputKeyPress($event)" placeholder="A" class="form-control" [(ngModel)]="activeFilters.filters.DesOtProfondeurGaucheToTyped"/>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <input type="text" pInputText [pKeyFilter]="inputFilter" (keypress)="onInputKeyPress($event)" placeholder="De" class="form-control" [(ngModel)]="activeFilters.filters.DesOtProfondeurDroiteFromTyped"/>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <input type="text" pInputText [pKeyFilter]="inputFilter" (keypress)="onInputKeyPress($event)" placeholder="A" class="form-control" [(ngModel)]="activeFilters.filters.DesOtProfondeurDroiteToTyped"/>
                      </div>
                    </div>
                  </div>
                  <div class="row" style="margin-bottom:7px;width:100%;">
                    <div class="col">
                      Pente [°]
                    </div>
                    <div class="col">
                      Pente gauche [°]
                    </div>
                    <div class="col">
                      Pente droite [°]
                    </div>
                  </div>
                  <div class="row" style="width:100%;">
                    <div class="col">
                      <div class="form-group">
                        <input type="text" pInputText [pKeyFilter]="inputFilter" (keypress)="onInputKeyPress($event)" placeholder="De" class="form-control" [(ngModel)]="activeFilters.filters.DesOtPenteFromTyped"/>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <input type="text" pInputText [pKeyFilter]="inputFilter" (keypress)="onInputKeyPress($event)" placeholder="A" class="form-control" [(ngModel)]="activeFilters.filters.DesOtPenteToTyped"/>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <input type="text" pInputText [pKeyFilter]="inputFilter" (keypress)="onInputKeyPress($event)" placeholder="De" class="form-control" [(ngModel)]="activeFilters.filters.DesOtPenteGaucheFromTyped"/>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <input type="text" pInputText [pKeyFilter]="inputFilter" (keypress)="onInputKeyPress($event)" placeholder="A" class="form-control" [(ngModel)]="activeFilters.filters.DesOtPenteGaucheToTyped"/>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <input type="text" pInputText [pKeyFilter]="inputFilter" (keypress)="onInputKeyPress($event)" placeholder="De" class="form-control" [(ngModel)]="activeFilters.filters.DesOtPenteDroiteFromTyped"/>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <input type="text" pInputText [pKeyFilter]="inputFilter" (keypress)="onInputKeyPress($event)" placeholder="A" class="form-control" [(ngModel)]="activeFilters.filters.DesOtPenteDroiteToTyped"/>
                      </div>
                    </div>
                  </div>
                  <div class="row" style="width:100%;">
                    <div class="col">
                      <div class="form-group">
                        <label>Nature</label>
                        <select class="form-control" [(ngModel)]="activeFilters.filters.DesOtNatureSelected">
                          <option *ngFor="let option of activeFilters.options.DesOtNatureOptions" [ngValue]="option">{{ option.fr }}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </nb-accordion-item-body>
                </nb-accordion-item>
                <nb-accordion-item #accordionBNC [hidden]="!(activeFilters.filters['GenCategorieSelected'] == null || activeFilters.filters['GenCategorieSelected'].raw == 'category_Bat' || activeFilters.filters['GenCategorieSelected'].raw == null)">
                <nb-accordion-item-header>
                  Batiments non Courants
                </nb-accordion-item-header>
                <nb-accordion-item-body>
                  <div class="row" style="margin-bottom:7px;width:100%;">
                    <div class="col">
                      Hauteur maxi [m]
                    </div>
                    <div class="col">
                      Portée [m]
                    </div>
                    <div class="col">
                      Nombre de fermes
                    </div>
                  </div>
                  <div class="row" style="width:100%;">
                    <div class="col">
                      <div class="form-group">
                        <input type="text" pInputText [pKeyFilter]="inputFilter" (keypress)="onInputKeyPress($event)" placeholder="De" class="form-control" [(ngModel)]="activeFilters.filters.DesBncHauteurMaxiFromTyped"/>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <input type="text" pInputText [pKeyFilter]="inputFilter" (keypress)="onInputKeyPress($event)" placeholder="A" class="form-control" [(ngModel)]="activeFilters.filters.DesBncHauteurMaxiToTyped"/>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <input type="text" pInputText [pKeyFilter]="inputFilter" (keypress)="onInputKeyPress($event)" placeholder="De" class="form-control" [(ngModel)]="activeFilters.filters.DesBncPorteeFromTyped"/>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <input type="text" pInputText [pKeyFilter]="inputFilter" (keypress)="onInputKeyPress($event)" placeholder="A" class="form-control" [(ngModel)]="activeFilters.filters.DesBncPorteeToTyped"/>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <input type="text" pInputText [pKeyFilter]="inputFilter" (keypress)="onInputKeyPress($event)" placeholder="De" class="form-control" [(ngModel)]="activeFilters.filters.DesBncFermesFromTyped"/>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <input type="text" pInputText [pKeyFilter]="inputFilter" (keypress)="onInputKeyPress($event)" placeholder="A" class="form-control" [(ngModel)]="activeFilters.filters.DesBncFermesToTyped"/>
                      </div>
                    </div>
                  </div>
                  <div class="row" style="margin-bottom:7px;width:100%;">
                    <div class="col-4">
                      Nombre de travées
                    </div>
                    <div class="col-4">
                      Occupation
                    </div>
                    <div class="col-2">
                      Bât. public
                    </div>
                    <div class="col-2">
                      Voie
                    </div>
                  </div>
                  <div class="row" style="width:100%;">
                    <div class="col-2">
                      <div class="form-group">
                        <input type="text" pInputText [pKeyFilter]="inputFilter" (keypress)="onInputKeyPress($event)" placeholder="De" class="form-control" [(ngModel)]="activeFilters.filters.DesBncTraveesFromTyped"/>
                      </div>
                    </div>
                    <div class="col-2">
                      <div class="form-group">
                        <input type="text" pInputText [pKeyFilter]="inputFilter" (keypress)="onInputKeyPress($event)" placeholder="A" class="form-control" [(ngModel)]="activeFilters.filters.DesBncTraveesToTyped"/>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                        <select class="form-control" [(ngModel)]="activeFilters.filters.DesBncOccupationSelected">
                          <option *ngFor="let option of activeFilters.options.DesBncOccupationOptions" [ngValue]="option">{{ option.fr }}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-2">
                      <div class="form-group">
                        <select class="form-control" [(ngModel)]="activeFilters.filters.DesBncBatPublicSelected">
                          <option *ngFor="let option of activeFilters.options.DesBncBatPublicOptions" [ngValue]="option">{{ option.fr }}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-2">
                      <div class="form-group">
                        <select class="form-control" [(ngModel)]="activeFilters.filters.DesBncVoieSelected">
                          <option *ngFor="let option of activeFilters.options.DesBncVoieOptions" [ngValue]="option">{{ option.fr }}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row" style="width:100%;">
                    <div class="col">
                      <div class="form-group">
                        <label>Assemblage</label>
                        <select class="form-control" [(ngModel)]="activeFilters.filters.DesBncAssemblageSelected">
                          <option *ngFor="let option of activeFilters.options.DesBncAssemblageOptions" [ngValue]="option">{{ option.fr }}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </nb-accordion-item-body>
                </nb-accordion-item>
                <nb-accordion-item #accordionAO [hidden]="!(activeFilters.filters['GenCategorieSelected'] == null || activeFilters.filters['GenCategorieSelected'].raw == 'category_Autre' || activeFilters.filters['GenCategorieSelected'].raw == null)">
                <nb-accordion-item-header>
                  Autres Ouvrages
                </nb-accordion-item-header>
                <nb-accordion-item-body>
                  <div class="row" style="width:100%;">
                    <div class="col">
                      <div class="form-group">
                        <label>Géometrie</label>
                        <select class="form-control" [(ngModel)]="activeFilters.filters.DesAoGeometrieSelected">
                          <option *ngFor="let option of activeFilters.options.DesAoGeometrieOptions" [ngValue]="option">{{ option.fr }}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label>Assemblage</label>
                        <select class="form-control" [(ngModel)]="activeFilters.filters.DesAoAssemblageSelected">
                          <option *ngFor="let option of activeFilters.options.DesAoAssemblageOptions" [ngValue]="option">{{ option.fr }}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </nb-accordion-item-body>
                </nb-accordion-item>
              </nb-accordion>
            </nb-tab>
            <nb-tab tabTitle="Situation">
              <div class="row" style="margin-top:10px;width:100%;">
                <div class="col">
                  <div class="form-group">
                    <label>Ouvrage enveloppe</label>
                    <select class="form-control" [(ngModel)]="activeFilters.filters.SitOuvrageEnveloppeSelected">
                      <option *ngFor="let option of activeFilters.options.SitOuvrageEnveloppeOptions" [ngValue]="option">{{ option.fr }}</option>
                    </select>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>Position / voie</label>
                    <select class="form-control" [(ngModel)]="activeFilters.filters.SitPositionSelected">
                      <option *ngFor="let option of activeFilters.options.SitPositionOptions" [ngValue]="option">{{ option.fr }}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row" style="width:100%;">
                <div class="col">
                  <div class="form-group">
                    <label>Département</label>
                    <select class="form-control" [(ngModel)]="activeFilters.filters.SitDepartementSelected" (ngModelChange)="SitDepartementChange($event)">
                      <option *ngFor="let option of activeFilters.options.SitDepartementOptions" [ngValue]="option">{{ option.fr }}</option>
                    </select>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>Commune</label>
                    <p-autoComplete appendTo="body" placeholder="Commune ou Code Postal" inputStyleClass="form-control" [inputStyle]="{'width':'100%', 'height':'calc(2rem + 20px)'}" [style]="{'width':'100%', 'height':'calc(2rem + 20px)'}" [(ngModel)]="activeFilters.filters.SitCommuneSelectedSearch" [suggestions]="activeFilters.options.SitCommuneOptions" (completeMethod)="SitCommuneSearch($event)" field="fr" [forceSelection]="true"></p-autoComplete>
                  </div>
                </div>
              </div>
            </nb-tab>
            <nb-tab tabTitle="Particularités">
              <div class="row" style="margin-top:10px;width:100%;">
                <div class="col">
                  <div class="form-group">
                    <label>Famille</label>
                    <select class="form-control" [(ngModel)]="activeFilters.filters.ParFamilleSelected">
                      <option *ngFor="let option of activeFilters.options.ParFamilleOptions" [ngValue]="option">{{ option.fr }}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row" style="width:100%;">
                <div class="col">
                  <div class="form-group">
                    <label>Nom</label>
                    <p-autoComplete placeholder="Nom d'ouvrage" inputStyleClass="form-control" [inputStyle]="{'width':'100%', 'height':'calc(2rem + 20px)'}" [style]="{'width':'100%', 'height':'calc(2rem + 20px)'}" [(ngModel)]="activeFilters.filters.ParNomTypedSearch" [suggestions]="activeFilters.options.ParNomOptions" (completeMethod)="ParNomSearch($event)" field="raw"></p-autoComplete>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>FSA</label>
                    <select class="form-control" [(ngModel)]="activeFilters.filters.ParFsaSelected">
                      <option *ngFor="let option of activeFilters.options.ParFsaOptions" [ngValue]="option">{{ option.fr }}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row" style="width:100%;">
                <div class="col">
                  <div class="form-group">
                    <label>Plan Orsec</label>
                    <select class="form-control" [(ngModel)]="activeFilters.filters.ParPlanOrsecSelected">
                      <option *ngFor="let option of activeFilters.options.ParPlanOrsecOptions" [ngValue]="option">{{ option.fr }}</option>
                    </select>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>Monument hist.</label>
                    <select class="form-control" [(ngModel)]="activeFilters.filters.ParMonumentHistSelected">
                      <option *ngFor="let option of activeFilters.options.ParMonumentHistOptions" [ngValue]="option">{{ option.fr }}</option>
                    </select>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>Site protégé</label>
                    <select class="form-control" [(ngModel)]="activeFilters.filters.ParSiteProtegeSelected">
                      <option *ngFor="let option of activeFilters.options.ParSiteProtegeOptions" [ngValue]="option">{{ option.fr }}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row" style="width:100%;">
                <div class="col">
                  <div class="form-group">
                    <label>Embranch. particulier</label>
                    <select class="form-control" [(ngModel)]="activeFilters.filters.ParEmbranchementSelected">
                      <option *ngFor="let option of activeFilters.options.ParEmbranchementOptions" [ngValue]="option">{{ option.fr }}</option>
                    </select>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>Risque naturel</label>
                    <select class="form-control" [(ngModel)]="activeFilters.filters.ParRisqueNaturelSelected">
                      <option *ngFor="let option of activeFilters.options.ParRisqueNaturelOptions" [ngValue]="option">{{ option.fr }}</option>
                    </select>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>Risque sismique</label>
                    <select class="form-control" [(ngModel)]="activeFilters.filters.ParRisqueSismiqueSelected">
                      <option *ngFor="let option of activeFilters.options.ParRisqueSismiqueOptions" [ngValue]="option">{{ option.fr }}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row" style="width:100%;">
                <div class="col">
                  <div class="form-group">
                    <label>Risques technologiques</label>
                    <select class="form-control" [(ngModel)]="activeFilters.filters.ParRisqueTechnoSelected">
                      <option *ngFor="let option of activeFilters.options.ParRisqueTechnoOptions" [ngValue]="option">{{ option.fr }}</option>
                    </select>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>Risque de heurts routiers</label>
                    <select class="form-control" [(ngModel)]="activeFilters.filters.ParRisqueRoutierSelected">
                      <option *ngFor="let option of activeFilters.options.ParRisqueRoutierOptions" [ngValue]="option">{{ option.fr }}</option>
                    </select>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>Risque de heurts fluviaux</label>
                    <select class="form-control" [(ngModel)]="activeFilters.filters.ParRisqueFluvialSelected">
                      <option *ngFor="let option of activeFilters.options.ParRisqueFluvialOptions" [ngValue]="option">{{ option.fr }}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row" style="margin-bottom:7px;width:100%;">
                <div class="col">
                  Année de Construction
                </div>
                <div class="col">
                  Biais [%]
                </div>
              </div>
              <div class="row" style="width:100%;">
                <div class="col">
                  <div class="form-group">
                    <input type="text" pInputText [pKeyFilter]="inputFilter" (keypress)="onInputKeyPress($event)" placeholder="De" class="form-control" [(ngModel)]="activeFilters.filters.ParAnneeConstruFromTyped"/>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <input type="text" pInputText [pKeyFilter]="inputFilter" (keypress)="onInputKeyPress($event)" placeholder="A" class="form-control" [(ngModel)]="activeFilters.filters.ParAnneeConstruToTyped"/>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <input type="text" pInputText [pKeyFilter]="inputFilter" (keypress)="onInputKeyPress($event)" placeholder="De" class="form-control" [(ngModel)]="activeFilters.filters.ParBiaisFromTyped"/>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <input type="text" pInputText [pKeyFilter]="inputFilter" (keypress)="onInputKeyPress($event)" placeholder="A" class="form-control" [(ngModel)]="activeFilters.filters.ParBiaisToTyped"/>
                  </div>
                </div>
              </div>
              <div class="row" style="margin-bottom:7px;width:100%;">
                <div class="col">
                  % du 1er prop.
                </div>
                <div class="col">
                  % du 2ème prop.
                </div>
                <div class="col">
                  % du 3ème prop.
                </div>
              </div>
              <div class="row" style="width:100%;">
                <div class="col">
                  <div class="form-group">
                    <input type="text" pInputText [pKeyFilter]="inputFilter" (keypress)="onInputKeyPress($event)" placeholder="De" class="form-control" [(ngModel)]="activeFilters.filters.ParPourcent1PropFromTyped"/>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <input type="text" pInputText [pKeyFilter]="inputFilter" (keypress)="onInputKeyPress($event)" placeholder="A" class="form-control" [(ngModel)]="activeFilters.filters.ParPourcent1PropToTyped"/>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <input type="text" pInputText [pKeyFilter]="inputFilter" (keypress)="onInputKeyPress($event)" placeholder="De" class="form-control" [(ngModel)]="activeFilters.filters.ParPourcent2PropFromTyped"/>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <input type="text" pInputText [pKeyFilter]="inputFilter" (keypress)="onInputKeyPress($event)" placeholder="A" class="form-control" [(ngModel)]="activeFilters.filters.ParPourcent2PropToTyped"/>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <input type="text" pInputText [pKeyFilter]="inputFilter" (keypress)="onInputKeyPress($event)" placeholder="De" class="form-control" [(ngModel)]="activeFilters.filters.ParPourcent3PropFromTyped"/>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <input type="text" pInputText [pKeyFilter]="inputFilter" (keypress)="onInputKeyPress($event)" placeholder="A" class="form-control" [(ngModel)]="activeFilters.filters.ParPourcent3PropToTyped"/>
                  </div>
                </div>
              </div> 
              <div class="row" style="width:100%;">
                <div class="col" *ngIf="utilisateur.fonction == 'FUNCTION_ADMIN'">
                  <div class="form-group">
                    <label>Statut</label>
                    <select class="form-control" [(ngModel)]="activeFilters.filters.ParStatutSelected">
                      <option *ngFor="let option of activeFilters.options.ParStatutOptions" [ngValue]="option">{{ option.fr }}</option>
                    </select>
                  </div>
                </div>
              </div>
            </nb-tab>
          </nb-tabset>
          <div class="row">
            <div class="col-xl">
              <button style="width:300px;margin-top:10px;margin-bottom:10px;" class="btn btn-primary" (click)="onChercherClick()"><i class="fas fa-search"></i>CHERCHER</button>
            </div>
            <div class="col-xl">
              <button style="width:300px;margin-top:10px;margin-bottom:10px;" class="btn btn-warning" (click)="onRazClick()"><i class="fas fa-times"></i>R.A.Z.</button>
            </div>
            <div class="col-xl">
              <button style="width:300px;margin-top:10px;margin-bottom:10px;" [disabled]="exportLoading" class="btn btn-success" (click)="onExporterClick()"><i class="fas fa-file-excel"></i>EXPORTER</button>
            </div>
          </div>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
    <div style="margin:10px auto 7px auto;text-align:center;">
      
    </div>
    <p-table *ngIf="activeFilters.areConnectedUserFiltersLoaded" #bouclageTable [columns]="columnHelper.cols" [value]="bouclages" [lazy]="true" (onLazyLoad)="loadBouclagesLazy($event)" [paginator]="true" [first]="activeFilters.first" [rows]="activeFilters.rows" [rowsPerPageOptions]="[10,20,30,40,50]" [paginatorDropdownAppendTo]="'body'" [totalRecords]="totalRecords" [loading]="loading" [scrollable]="true" [reorderableColumns]="true" sortMode="multiple" (onColReorder)="columnHelper.saveColumnsOrder($event)" [(selection)]="selectedBouclages" dataKey="id" frozenWidth="300px">
      <ng-template pTemplate="frozencolgroup" let-columns>
        <colgroup>
          <col style="width:50px">
          <col style="width:50px">
          <col style="width:50px">
          <col style="width:50px">
          <col style="width:50px">
          <col style="width:50px">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of columns" [ngClass]="col.style">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="frozenheader" let-columns>
        <tr>
          <th style="width:50px;text-align:center;height:66px;" title="Proposition de Travaux">
            <i class="fas fa-chevron-circle-right"></i>
          </th>
          <th style="width:50px;text-align:center;height:66px;" title="Accès Dossier">
            <i class="fas fa-folder-open"></i>
          </th>
          <th style="width:50px;text-align:center;height:66px;" title="Fiche Descriptive">
            <i class="fas fa-archway"></i>
          </th>
          <th style="width:50px;text-align:center;height:66px;" title="Fiche Surveillance">
            <i class="fas fa-binoculars"></i>
          </th>
          <th style="width:50px;text-align:center;height:66px;" title="Supprimer">
            <i class="fas fa-trash-alt"></i>
          </th>
          <th style="width:50px;text-align:center;height:66px;">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" pReorderableColumn [pReorderableColumnDisabled]="!col.dragDrop" style="text-align:center;position:relative;padding-left:20px;padding-right:25px;height:66px;" [pSortableColumn]="col.field">
            {{col.header}}<div style="position:absolute;top:50%;transform:translateY(-50%);right:0px;"><p-sortIcon [field]="col.field"></p-sortIcon></div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="frozenbody" let-rowData let-columns="columns">
        <tr>
          <td style="width:50px;text-align:center;height:66px;padding:0;">
            <button style="padding:5px;" title="Proposition de Travaux" class="btn btn-success" (click)="openVisiteOuvragePage(rowData)"><i class="fas fa-chevron-circle-right"></i></button>
          </td>
          <td style="width:50px;text-align:center;height:66px;padding:0;">
            <button style="padding:5px;" title="Accès Dossier" class="btn btn-primary" (click)="doStuff()"><i class="fas fa-folder-open"></i></button>
          </td>
          <td style="width:50px;text-align:center;height:66px;padding:0;">
            <button style="padding:5px;" title="Fiche Descriptive" class="btn btn-primary" (click)="doStuff()"><i class="fas fa-archway"></i></button>
          </td>
          <td style="width:50px;text-align:center;height:66px;padding:0;">
            <button style="padding:5px;" title="Fiche Surveillance" class="btn btn-primary" (click)="doStuff()"><i class="fas fa-binoculars"></i></button>
          </td>
          <td style="width:50px;text-align:center;height:66px;padding:0;">
            <button style="padding:5px;" title="Supprimer" class="btn btn-danger" (click)="deleteBouclage(rowData)"><i class="fas fa-trash-alt"></i></button>
          </td>
          <td style="width:50px;text-align:center;height:66px;padding:0;">
            <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
          <td *ngFor="let col of columns" [ngSwitch]="getSpecificColumnType(rowData, col.field)" [ngClass]="getSpecificColumnClass(rowData, col)" pTooltip="{{getTooltip(rowData, col.field)}}" tooltipPosition="bottom" style="height:66px;">
            <div *ngSwitchCase="'DateBouclage'">
              <div *ngIf="resolveFieldData(rowData, col.field)['diff']" class="row">
                <div [ngClass]="resolveFieldData(rowData, col.field).getDiffColor()" class="col">{{ resolveFieldData(rowData, col.field)['diff'] }} J</div>
              </div>
              <div *ngIf="resolveFieldData(rowData, col.field)['date']" class="row">
                <div class="col">{{ resolveFieldData(rowData, col.field)['date'] }}</div>
              </div>
              <div *ngIf="resolveFieldData(rowData, col.field)['auteur']" style="color:red;" class="row">
                <div class="col" style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">{{ resolveFieldData(rowData, col.field)['auteur'] }}</div>
              </div>
            </div>
            <div *ngSwitchCase="'PropositionBouclage'" style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">
              {{ resolveFieldData(rowData, col.field)['proposition'] }}
            </div>
            <div *ngSwitchDefault style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">
              {{resolveFieldData(rowData, col.field)}}
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <nb-card *ngIf="activeFilters.areConnectedUserFiltersLoaded">
      <nb-card-body>
        <div class="row">
          <div style="text-align:center;margin:10px 0px 30px 0px;" class="col">
            <p-checkbox [(ngModel)]="dontKeepSelection" binary="true" label="Désélectionne visites après l'ajout"></p-checkbox>
          </div>
        </div>
        <div class="row">
          <div class="col" style="text-align:right;">
            <p-calendar [(ngModel)]="selectedDate" [locale]="fr" [inline]="true"></p-calendar>
          </div>
          <div class="col" style="margin: 40px 0;">
            <div class="row">
              <button style="width:350px;margin-top:10px;margin-bottom:10px;" [disabled]="disableDateButtons()" class="btn btn-success" (click)="addBatchDate()"><i class="fas fa-plus-circle"></i>AJOUTER LA DATE</button>
            </div>
            <div class="row">
              <button style="width:350px;margin-top:10px;margin-bottom:10px;" [disabled]="disableDateButtons()" class="btn btn-warning" (click)="deleteBatchDate()"><i class="fas fa-minus-circle"></i>SUPPRIMER LA NOUVELLE DATE</button>
            </div>
            <div class="row">
              <div class="form-group">
                <label>Numéro de l'Opération</label>
                <input type="text" style="width: 350px;" pInputText [pKeyFilter]="inputFilter" [disabled]="disableNumOperationButtons()" (keypress)="onInputKeyPress($event)" placeholder="Numéro Opération" class="form-control" [(ngModel)]="numeroOperation"/>
              </div>
            </div>
            <div class="row">
              <button style="width:350px;margin-top:10px;margin-bottom:10px;" [disabled]="disableNumOperationButtons()" class="btn btn-success" (click)="addNumeroOperation()"><i class="fas fa-folder-plus"></i>ENREGISTRER LE NUMERO D'OPÉRATION</button>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </nb-card-body>
</nb-card>
