<p-table #objectTable [columns]="crudHelper.findCols(paramChapitre.paramModule)" [value]="crudHelper.crudObjectsLists[paramChapitre.paramModule.className]"
  editMode="row" dataKey="id"
[loading]="crudHelper.crudObjectsLoadings[paramChapitre.paramModule.className]" [scrollable]="true" [reorderableColumns]="true" (onRowReorder)="crudHelper.onDragRow(paramChapitre.paramModule)">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngIf="crudHelper.findValueFromParamValueArray(paramChapitre.paramModule.paramValues, 'dragRow', true)" style="width:2.5em"></th>
      <th *ngFor="let col of columns" pReorderableColumn style="text-align:center;position:relative;padding-left:20px;padding-right:25px;">
        {{col.header}}
      </th>
      <th *ngIf="crudHelper.findValueFromParamValueArray(paramChapitre.paramModule.paramValues, 'crud', true)" style="width:12em"></th>
      <th *ngIf="crudHelper.findValueFromParamValueArray(paramChapitre.paramModule.paramValues, 'crud', true)" style="width:8em"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex" let-editing="editing">
    <tr [pEditableRow]="rowData" [pReorderableRow]="index">
      <td style="width:2.5em" *ngIf="crudHelper.findValueFromParamValueArray(paramChapitre.paramModule.paramValues, 'dragRow', true)">
          <i class="fa fa-bars" pReorderableRowHandle></i>
      </td>
      <td *ngFor="let col of columns" [ngClass]="col.style" pTooltip="{{crudHelper.resolveFieldData(rowData, col.field)}}" tooltipPosition="bottom" style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">
          <p-cellEditor *ngIf="col.editable">
              <ng-template pTemplate="input">
                  <input pInputNumber type="number" [(ngModel)]="crudHelper.editedObject[col.field]" required class="form-control"/>
                  <p-slider [(ngModel)]="crudHelper.editedObject[col.field]" [min]="0" [max]="100" [step]="5"></p-slider>
              </ng-template>
              <ng-template pTemplate="output">
                  {{crudHelper.resolveFieldData(rowData, col.field)}}
              </ng-template>
          </p-cellEditor>
          <div *ngIf="!col.editable">
              {{crudHelper.resolveFieldData(rowData, col.field)}}
          </div>

      </td>
      <td *ngIf="crudHelper.findValueFromParamValueArray(paramChapitre.paramModule.paramValues, 'crud', true)" class="td-action-button" style="text-align:center;width:12em">
        <button class="btn btn-primary" *ngIf="!editing" pButton pInitEditableRow (click)="crudHelper.onRowEditInit(rowData, paramChapitre.paramModule.libelleTechnique)"><i class="fas fa-pencil-alt"></i></button>
        <button class="btn btn-success" *ngIf="editing" pButton pSaveEditableRow (click)="crudHelper.onRowEditSave(paramChapitre.paramModule);"><i class="fas fa-save"></i></button>
        <button class="btn btn-warning" style="margin-left:15px;" *ngIf="editing" pButton pCancelEditableRow (click)="crudHelper.onRowEditCancel(rowData, paramChapitre.paramModule.libelleTechnique)"><i class="fas fa-ban"></i></button>
      </td>
      <td *ngIf="crudHelper.findValueFromParamValueArray(paramChapitre.paramModule.paramValues, 'crud', true)" class="td-action-button" style="text-align:center;width:8em">
        <button class="btn btn-danger" (click)="openDeleteDialog(rowData, paramChapitre.paramModule, templateForDelete)"><i class="fas fa-trash-alt"></i></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary" let-rowData>
      <div *ngIf="crudHelper.findValueFromParamValueArray(paramChapitre.paramModule.paramValues, 'crud', true)" style="text-align:left">
        <button class="btn btn-primary" (click)="openCreateDialog(paramChapitre.paramModule, templateForObject)"><i class="fas fa-plus-circle"></i> AJOUTER</button>
      </div>
  </ng-template>
</p-table>





<ng-template #templateForObject let-data let-ref="dialogRef">
    <nb-card class="dialog-popup">
      <nb-card-header><span *ngIf="crudHelper.editedObject.id">Modifier</span><span *ngIf="!crudHelper.editedObject.id">Créer</span> {{ crudHelper.editedObject.structure.popupTitleDescription }}</nb-card-header>
      <nb-card-body>
          <nb-list>
              <nb-list-item *ngIf="crudHelper.editedObject.className == 'Infrapole' && (crudHelper.editedObject.needsWarningAboutDeletingSecteurs() || crudHelper.editedObject.needsWarningAboutDeletingUOs())">
                  <div *ngIf="crudHelper.editedObject.needsWarningAboutDeletingSecteurs()">
                    <p style="font-weight:bold;">
                      Êtes-vous certain(e) de vouloir supprimer tous les secteurs existants pour cet Infrapole ainsi que tous ses enfants ?
                    </p>
                    <p>
                      Assurez-vous qu'aucun de ces éléments n'est utilisé. Si c'est le cas, vous obtiendrez une erreur de suppression vous indiquant l'élément concerné. Cette confirmation est sans effet. La suppression effective aura lieu lors de l'enregistrement de l'Infrapole.
                    </p>
                    <p>
                      Une fois cette case décochée, l'utilisation des Secteurs sera désactivée et les Unités Opérationnelle enfants seront directement liées à cet Infrapole.
                    </p>
                  </div>
                  <div *ngIf="crudHelper.editedObject.needsWarningAboutDeletingUOs()">
                    <p style="font-weight:bold;">
                      Êtes-vous certain(e) de vouloir supprimer toutes les Unités Opérationnelle existantes pour cet Infrapole ainsi que tous ses enfants ?
                    </p>
                    <p>
                      Assurez-vous qu'aucun de ces éléments n'est utilisé. Si c'est le cas, vous obtiendrez une erreur de suppression vous indiquant l'élément concerné. Cette confirmation est sans effet. La suppression effective aura lieu lors de l'enregistrement de l'Infrapole.
                    </p>
                    <p>
                      Une fois cette case cochée, l'utilisation des Secteurs sera réactivée et les Unités Opérationnelle devront de nouveau être liées à un Secteur enfant de cet Infrapole.
                    </p>
                  </div>
                  <div class="confirm-button">
                    <button class="btn btn-warning" (click)="crudHelper.editedObject.getSecteurStatus()"><i class="fas fa-ban"></i>ANNULER</button>
                    <button class="btn btn-danger" (click)="crudHelper.editedObject.setSecteurStatus()"><i class="fas fa-exclamation-triangle"></i>CONFIRMER</button>
                  </div>
                </nb-list-item>
            <nb-list-item *ngFor="let property of crudHelper.editedObject.structure.fields">
              <div class="form-group" *ngIf="property.type == 'boolean' && !(crudHelper.editedObject.className == 'Infrapole' && crudHelper.editedObject.hideSecteurCheckbox())" style="padding-top:18px;">
                  <p-checkbox [(ngModel)]="crudHelper.editedObject[property.index]" binary="true"></p-checkbox>
                  <label>{{ property.libelle }}</label>
              </div>
              <div class="form-group">
                <label>{{ property.libelle }}</label>
                <input nbInput *ngIf="property.type === 'inputText' || property.type === 'spinner'" [status]="property.required && (crudHelper.editedObject[property.index] == null || crudHelper.editedObject[property.index] == undefined || crudHelper.editedObject[property.index] == '') ? 'danger' : undefined" type="text" placeholder="{{ property.libelle }}" class="form-control" [(ngModel)]="crudHelper.editedObject[property.index]"/>
                <p-slider *ngIf="property.type === 'spinner'" [(ngModel)]="crudHelper.editedObject[property.index]" [min]="0" [max]="100" [step]="5"></p-slider>
                <select *ngIf="property.type === 'select'" class="form-control" [(ngModel)]="crudHelper.editedObject[property.index]">
                    <option *ngFor="let option of editedObjectList[property.index]" [ngValue]="option">{{ option.nom }}</option>
                </select>
                <p-autoComplete *ngIf="property.type === 'autocomplete'" #autocomplete placeholder="{{ property.libelle }}" inputStyleClass="form-control" [inputStyle]="{'width':'100%', 'height':'calc(2rem + 20px)'}" [style]="{'width':'100%', 'height':'calc(2rem + 20px)'}" [(ngModel)]="crudHelper.editedObject[property.index]" [suggestions]="autocompleteSuggestions" (completeMethod)="autocompleteEdit($event, crudHelper.editedObject.className)" [field]="property.suggestionField" [forceSelection]="true"></p-autoComplete>
              </div>
            </nb-list-item>
          </nb-list>
        </nb-card-body>
        <nb-card-footer class="dialog-footer">
            <button class="btn btn-warning" (click)="ref.close()"><i class="fas fa-ban"></i>ANNULER</button>
            <button class="btn btn-primary" (click)="this.crudHelper.saveObject(crudHelper.editedObject, paramChapitre.paramModule, true, true);ref.close()" [disabled]="!canEditedObjectBeSaved()"><i class="fas fa-save"></i>ENREGISTRER</button>
       </nb-card-footer>
    </nb-card>
  </ng-template>

  <ng-template #templateForDelete let-data let-ref="dialogRef">
    <nb-card class="dialog-popup">
      <nb-card-header>Supprimer {{ crudHelper.editedObject.structure.popupTitleDescription }} ?</nb-card-header>
      <nb-card-body>
        <p *ngIf="crudHelper.editedObject.className === 'Ligne'" style="font-weight:bold;">
          {{ (crudHelper.editedObject.name ? crudHelper.editedObject.name : (crudHelper.editedObject.nom ? crudHelper.editedObject.nom : crudHelper.editedObject.libelle)) + (crudHelper.editedObject.code ? " - (" + crudHelper.editedObject.code + ")": "") }}
        </p>
        <p *ngIf="crudHelper.editedObject.className == 'Portion'" style="font-weight:bold;">
          {{ crudHelper.editedObject.ligne.code + ' - ' + crudHelper.editedObject.ligne.nom + ' - [' + crudHelper.editedObject.pkDebut + ' - ' + crudHelper.editedObject.pkFin + ']' + (crudHelper.editedObject.voie ? ' (' + crudHelper.editedObject.voie + ')' : '') }}
        </p>
        <p *ngIf="crudHelper.editedObject.className == 'GeometrieType'" style="font-weight:bold;">
          {{ crudHelper.editedObject.geometrie.libelle }}
        </p>
        <p *ngIf="crudHelper.editedObject.structure && crudHelper.editedObject.structure.popupChildDelete" style="font-weight:bold;">
          Êtes-vous certain(e) de vouloir supprimer cet élément et tous ses enfants ?
        </p>
        <p *ngIf="crudHelper.editedObject.structure && !crudHelper.editedObject.structure.popupChildDelete" style="font-weight:bold;">
          Êtes-vous certain(e) de vouloir supprimer cet élément ?
        </p>
        <p *ngIf="crudHelper.editedObject.structure && crudHelper.editedObject.structure.popupChildDelete">
          Assurez-vous qu'aucun de ces éléments n'est utilisé. Si c'est le cas, vous obtiendrez une erreur de suppression vous indiquant l'élément concerné.
        </p>
      </nb-card-body>
      <nb-card-footer class="dialog-footer">
        <button class="btn btn-warning" (click)="ref.close();"><i class="fas fa-ban"></i>ANNULER</button>
        <button class="btn btn-danger" (click)="crudHelper.deleteEditedObjectAfter(paramChapitre.paramModule, paramArray, 0)"><i class="fas fa-trash-alt"></i>SUPPRIMER</button>
      </nb-card-footer>
    </nb-card>
  </ng-template>
