<ngx-page-definition [pageHelper]="pageHelper" [paramArray]="paramArray"></ngx-page-definition>

<nb-card *ngIf="pageHelper.utilisateur">
              <nb-card-body>
      <div class="row" style="text-align: center;">
        <div *ngIf="(!currentOuvrage || (currentOuvrage && !currentOuvrage.archive && !currentOuvrage.supprime)) && pageHelper.getPermission('droitModification')" class="col-lg-4">
          <button style="width:300px;margin-top:10px;margin-bottom:10px;" class="btn btn-success" (click)="enregistrerOuvrage()"><i class="fas fa-check"></i>ENREGISTRER</button>
        </div>
        <div *ngIf="(currentOuvrage && !currentOuvrage.supprime) && pageHelper.getPermission('droitSuppression')" class="col-lg-4">
          <button style="width:300px;margin-top:10px;margin-bottom:10px;" class="btn btn-warning" (click)="supprimerOuvrage()"><i class="fas fa-times"></i>SUPPRIMER</button>
        </div>
        <div *ngIf="(currentOuvrage && currentOuvrage.supprime) && pageHelper.getPermission('droitSuppression')" class="col-lg-4">
            <button style="width:300px;margin-top:10px;margin-bottom:10px;" class="btn btn-warning" (click)="retablirOuvrage()"><i class="fas fa-times"></i>RETABLIR</button>
          </div>
        <div *ngIf="(currentOuvrage && !currentOuvrage.archive && !currentOuvrage.supprime) && pageHelper.getPermission('droitSuppression')" class="col-lg-4">
          <button style="width:300px;margin-top:10px;margin-bottom:10px;" class="btn btn-info" (click)="archiverOuvrage()"><i class="fas fa-archive"></i>ARCHIVER</button>
        </div>
        <div *ngIf="(currentOuvrage && currentOuvrage.archive && !currentOuvrage.supprime) && pageHelper.getPermission('droitSuppression')" class="col-lg-4">
            <button style="width:300px;margin-top:10px;margin-bottom:10px;" class="btn btn-info" (click)="recupererOuvrage()"><i class="fas fa-archive"></i>RECUPERER</button>
        </div>
      </div>
  </nb-card-body>
</nb-card>
