<nb-card [nbSpinner]="loading" nbSpinnerMessage="Chargement..." nbSpinnerSize="xxlarge">
  <nb-card-header>
    PROFIL UTILISATEUR
  </nb-card-header>
  <nb-card-body>
    <div *ngIf="utilisateurLoaded">
      <div class="row" style="width:100%;">
        <div class="col">
          <div class="form-group" style="font-weight:bold;text-align:center;">
            COORDONNÉES
          </div>
        </div>
      </div>
      <div class="row" style="width:100%;">
        <div class="col-3">
          <div class="form-group" style="padding-top:10px;">
            <label>Prénom :</label>
          </div>
        </div>
        <div class="col-9">
          <div class="form-group">
            <input type="text" placeholder="Prénom" class="form-control" [(ngModel)]="activeFilters.filters.PrenomTyped"/>
          </div>
        </div>
      </div>
      <div class="row" style="width:100%;">
        <div class="col-3">
          <div class="form-group" style="padding-top:10px;">
            <label>Nom :</label>
          </div>
        </div>
        <div class="col-9">
          <div class="form-group">
            <input type="text" placeholder="Nom" class="form-control" [(ngModel)]="activeFilters.filters.NomTyped"/>
          </div>
        </div>
      </div>
      <div class="row" style="width:100%;">
        <div class="col-3">
          <div class="form-group" style="padding-top:10px;">
            <label>Téléphone :</label>
          </div>
        </div>
        <div class="col-9">
          <div class="form-group">
            <input type="text" placeholder="01 00 00 00 00" class="form-control" [(ngModel)]="activeFilters.filters.TelephoneTyped"/>
          </div>
        </div>
      </div>
      <div class="row" style="width:100%;">
        <div class="col-3">
          <div class="form-group" style="padding-top:10px;">
            <label>Mobile :</label>
          </div>
        </div>
        <div class="col-9">
          <div class="form-group">
            <input type="text" placeholder="06 00 00 00 00" class="form-control" [(ngModel)]="activeFilters.filters.MobileTyped"/>
          </div>
        </div>
      </div>
      <div class="row" style="width:100%;">
        <div class="col-3">
          <div class="form-group" style="padding-top:10px;">
            <label>Courriel :</label>
          </div>
        </div>
        <div class="col-9">
          <div class="form-group">
            <input type="text" placeholder="jean.dupont@sncf.fr" class="form-control" [(ngModel)]="activeFilters.filters.CourrielTyped"/>
          </div>
        </div>
      </div>
      <div class="row" style="width:100%;">
        <div class="col-3">
          <div class="form-group" style="padding-top:10px;">
            <label>Fax :</label>
          </div>
        </div>
        <div class="col-9">
          <div class="form-group">
            <input type="text" placeholder="04 00 00 00 00" class="form-control" [(ngModel)]="activeFilters.filters.FaxTyped"/>
          </div>
        </div>
      </div>
      <div class="row" style="width:100%;">
        <div class="col">
          <div class="form-group" style="font-weight:bold;text-align:center;">
            IDENTIFICATION & ACCÈS
          </div>
        </div>
      </div>
      <div class="row" style="width:100%;">
        <div class="col-3">
          <div class="form-group" style="padding-top:10px;">
            <label>Login :</label>
          </div>
        </div>
        <div class="col-9">
          <div class="form-group">
            <input type="text" placeholder="Login" class="form-control" [(ngModel)]="activeFilters.filters.LoginTyped"/>
          </div>
        </div>
      </div>
      <div class="row" style="width:100%;">
        <div class="col-3">
          <div class="form-group" style="padding-top:10px;">
            <label>Fonction :</label>
          </div>
        </div>
        <div class="col-9">
          <div class="form-group">
            <select class="form-control" [(ngModel)]="activeFilters.filters.FonctionSelected">
              <option *ngFor="let option of activeFilters.options.FonctionOptions" [ngValue]="option">{{ option.fr }}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row" style="width:100%;">
        <div class="col-3">
          <div class="form-group" style="padding-top:10px;">
            <label>Entité :</label>
          </div>
        </div>
        <div class="col-9">
          <div class="form-group">
            <select class="form-control" [(ngModel)]="activeFilters.filters.EntiteSelected">
              <option *ngFor="let option of activeFilters.options.EntiteOptions" [ngValue]="option">{{ option.fr }}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row" style="width:100%;">
        <div class="col-3">
          <div class="form-group" style="padding-top:10px;">
            <label>Fin de mission :</label>
          </div>
        </div>
        <div class="col-9">
          <div class="form-group">
            <p-calendar #dateFinMission [(ngModel)]="activeFilters.filters.DateFinMissionDated" showButtonBar="true" [locale]="calendarLocale" dateFormat="d MM yy" placeholder="Date de fin de mission" inputStyleClass="form-control" [style]="{ 'width':'100%' }"></p-calendar>
          </div>
        </div>
      </div>
      <div class="row" style="width:100%;">
        <div class="col-3">
          <div class="form-group" style="padding-top:10px;">
            <label>Nouveau mot de passe :</label>
          </div>
        </div>
        <div class="col-9">
          <div class="form-group">
            <input type="password" nbInput [status]="arePasswordsEquals() ? null : 'danger'" placeholder="********" class="form-control" [(ngModel)]="activeFilters.filters.Password1Typed"/>
          </div>
        </div>
      </div>
      <div class="row" style="width:100%;">
        <div class="col-3">
          <div class="form-group" style="padding-top:10px;">
            <label>Répéter nouveau mot de passe :</label>
          </div>
        </div>
        <div class="col-9">
          <div class="form-group">
            <input type="password" nbInput [status]="arePasswordsEquals() ? null : 'danger'" placeholder="********" class="form-control" [(ngModel)]="activeFilters.filters.Password2Typed"/>
          </div>
        </div>
      </div>
      <div class="row" style="width:100%;">
        <div class="col-3">
          <div class="form-group" style="padding-top:10px;">
            <label style="color:lightgrey;">Région (Filtre) :</label>
          </div>
        </div>
        <div class="col-9">
          <div class="form-group">
            <select class="form-control" [(ngModel)]="activeFilters.filters.RegionSelected" (ngModelChange)="RegionChange($event)">
              <option *ngFor="let option of activeFilters.options.RegionOptions" [ngValue]="option">{{ option.fr }}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row" style="width:100%;">
        <div class="col-3">
          <div class="form-group" style="padding-top:10px;">
            <label style="color:lightgrey;">Infrapole (Filtre) :</label>
          </div>
        </div>
        <div class="col-9">
          <div class="form-group">
            <select class="form-control" [(ngModel)]="activeFilters.filters.InfrapoleSelected" (ngModelChange)="InfrapoleChange($event)">
              <option *ngFor="let option of activeFilters.options.InfrapoleOptions" [ngValue]="option">{{ option.fr }}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row" style="width:100%;">
        <div class="col-3">
          <div class="form-group" style="padding-top:10px;">
            <label style="color:lightgrey;">Secteur (Filtre) :</label>
          </div>
        </div>
        <div class="col-9">
          <div class="form-group">
            <select class="form-control" [(ngModel)]="activeFilters.filters.SecteurSelected" (ngModelChange)="SecteurChange($event)" [disabled]="activeFilters.options.SecteurOptions == null || activeFilters.options.SecteurOptions.length < 2">
              <option *ngFor="let option of activeFilters.options.SecteurOptions" [ngValue]="option">{{ option.fr }}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row" style="width:100%;">
        <div class="col-3">
          <div class="form-group" style="padding-top:10px;">
            <label>Unité Opérationnelle :</label>
          </div>
        </div>
        <div class="col-9">
          <div class="form-group">
            <select class="form-control" [(ngModel)]="activeFilters.filters.UoSelected">
              <option *ngFor="let option of activeFilters.options.UoOptions" [ngValue]="option">{{ option.fr }}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row" style="width:100%;">
        <div class="col">
          <div class="form-group" style="font-weight:bold;text-align:center;">
            NAVIGATION
          </div>
        </div>
      </div>
      <div class="row" style="width:100%;">
        <div class="col-3">
          <div class="form-group" style="padding-top:10px;">
            <label>Nombre de résultats par page :</label>
          </div>
        </div>
        <div class="col-9">
          <div class="form-group">
            <select class="form-control" [(ngModel)]="activeFilters.filters.NbResultatsPageSelected">
              <option *ngFor="let option of activeFilters.options.NbResultatsPageOptions" [ngValue]="option">{{ option.fr }}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row" style="width:100%;">
        <div class="col-3">
          <div class="form-group" style="padding-top:10px;">
            <label>Page d'accueil :</label>
          </div>
        </div>
        <div class="col-9">
          <div class="form-group">
            <select class="form-control" [(ngModel)]="activeFilters.filters.PageAccueilSelected">
              <option *ngFor="let option of activeFilters.options.PageAccueilOptions" [ngValue]="option">{{ option.fr }}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row" style="width:100%;">
        <div class="col-3">
          <div class="form-group" style="padding-top:10px;">
            <label>Afficher les alertes :</label>
          </div>
        </div>
        <div class="col-9">
          <div class="form-group">
            <select class="form-control" [(ngModel)]="activeFilters.filters.AfficherAlertesSelected">
              <option *ngFor="let option of activeFilters.options.AfficherAlertesOptions" [ngValue]="option">{{ option.fr }}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row" style="width:100%;">
        <div class="col">
          <div class="form-group" style="font-weight:bold;text-align:center;">
            PERMISSIONS
          </div>
        </div>
      </div>
      <div class="row" style="width:100%;" *ngFor="let permission of permissions">
        <div class="col-3">
          <div class="form-group" style="padding-top:10px;">
            <label>{{ permission.libelle }} :</label>
          </div>
        </div>
        <div class="col-9">
          <div class="form-group">
            <select class="form-control" [(ngModel)]="activeFilters.filters['Permission' + permission.id + 'Selected']">
              <option *ngFor="let option of activeFilters.options['Permission' + permission.id + 'Options']" [ngValue]="option">{{ option.fr }}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col" style="text-align:center;">
          <button style="width:300px;margin-top:10px;margin-bottom:10px;" class="btn" [ngClass]="utilisateur.idUtilisateur ? 'btn-primary' : 'btn-success'" (click)="saveUtilisateur()" [disabled]="!arePasswordsEquals()"><i class="fas fa-save"></i><span *ngIf="utilisateur.idUtilisateur">ENREGISTRER</span><span *ngIf="!utilisateur.idUtilisateur">CRÉER L'UTILISATEUR</span></button>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
