<h1 id="title" class="title">Login</h1>
<p class="sub-title">Connectez-vous avec votre login.</p>

<nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
  <p class="alert-title"><b>Oups...</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
  </ul>
</nb-alert>

<nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success" role="alert">
  <p class="alert-title"><b>Connexion Réussie</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
  </ul>
</nb-alert>

<form (ngSubmit)="onSubmit()" #form="ngForm" aria-labelledby="title">

  <div class="form-control-group">
    <label class="label" for="input-email">Login :</label>
    <input nbInput
           fullWidth
           [(ngModel)]="user.login"
           #email="ngModel"
           name="email"
           id="input-email"
           placeholder="login"
           autofocus
           [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : ''"
           [required]="true"
           [attr.aria-invalid]="email.invalid && email.touched ? true : null">
    <ng-container *ngIf="email.invalid && email.touched">
      <p class="error-message" *ngIf="email.errors?.required">
        Login obligatoire.
      </p>
      <p class="error-message" *ngIf="email.errors?.pattern">
        Login incorrect.
      </p>
    </ng-container>
  </div>

  <div class="form-control-group">
    <label class="label" for="input-password">Mot de passe :</label>
    <input nbInput
           fullWidth
           [(ngModel)]="user.password"
           #password="ngModel"
           name="password"
           type="password"
           id="input-password"
           placeholder="********"
           [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : ''"
           [required]="true"
           [minlength]="4"
           [maxlength]="50"
           [attr.aria-invalid]="password.invalid && password.touched ? true : null">
    <ng-container *ngIf="password.invalid && password.touched ">
      <p class="error-message" *ngIf="password.errors?.required">
        Mot de passe obligatoire.
      </p>
      <p class="error-message" *ngIf="password.errors?.minlength || password.errors?.maxlength">
        Le mot de passe doit comprendre entre 4 et 50 charactères.
      </p>
    </ng-container>
  </div>

  <div class="form-control-group accept-group">
    <a class="forgot-password" routerLink="../request-password">Mot de passe oublié ?</a>
  </div>

  <button nbButton
          fullWidth
          status="success"
          [disabled]="submitted || !form.valid"
          [class.btn-pulse]="submitted">
    Connexion
  </button>
</form>
