<nb-card [size]="'large'" [nbSpinner]="pageHelper.loadingPage" nbSpinnerMessage="Chargement..." nbSpinnerSize="xxlarge">
  <nb-card-header>{{pageHelper.titlePage}}</nb-card-header>
  <nb-card-body *ngIf="pageHelper.utilisateur && pageHelper.paramOnglets && !pageHelper.loadingPage">
      <div class="col-lg-12">
          <nb-card size="small">
            <nb-tabset fullWidth>
                <nb-tab tabTitle="{{paramOnglet.libelle}}" [active]="pageHelper.isActiveTab(paramOnglet)" *ngFor="let paramOnglet of pageHelper.paramOnglets">
                    <nb-card *ngFor="let paramChapitre of paramOnglet.paramChapitres">
                        <nb-card-header>{{paramChapitre.libelle}}</nb-card-header>
                        <nb-card-body >
                          <ng-container *ngIf="paramChapitre.specifique && !pageHelper.crudHelper.crudObjectsLoadings[paramChapitre.paramModule.className]">
                            <ng-container [ngSwitch]="true">{{paramChapitre.paramModule.libelle}}
                              <div *ngSwitchCase="paramChapitre.paramModule.libelleTechnique === 'localisationCarteModule'">
                                Implémentation spécifique Google Maps / Leaflet
                              </div>
                              <div *ngSwitchCase="paramChapitre.paramModule.type === 'TABLE'">
                                <ngx-crud [pTableArray]="pageHelper.pTableArray" [paramArray]="paramArray" [paramChapitre]="paramChapitre" [crudHelper]="pageHelper.crudHelper"></ngx-crud>
                              </div>
                            </ng-container>
                          </ng-container>
                          <ng-container *ngFor="let paramLigne of paramChapitre.paramLignes">
                              <div class="row">
                                <ng-container *ngFor="let paramLigneDefinition of paramLigne.paramLigneDefinitions">
                                    <div class="col-lg-{{paramLigneDefinition.tailleGridLabel}}" >
                                        <div class="form-group" style="padding-top:10px;">
                                            <label>{{paramLigneDefinition.labelValue}}</label>
                                          </div>
                                    </div>
                                    <div class="col-lg-{{paramLigneDefinition.tailleGridValue}}">
                                      <div class="form-group">
                                        <input type="text" placeholder="{{paramLigneDefinition.labelValue}}" class="form-control" [(ngModel)]="pageHelper.fieldBindingHelper.htmlBinding[paramLigneDefinition.paramChamp.modelAttribut]"/>
                                        <select *ngIf="paramLigneDefinition.paramChamp.type === 'SELECT' && pageHelper.editedObjectList[paramLigneDefinition.paramChamp.modelAttribut] && pageHelper.editedObjectList[paramLigneDefinition.paramChamp.modelAttribut]['options']" class="form-control" [(ngModel)]="pageHelper.fieldBindingHelper.htmlBinding[paramLigneDefinition.paramChamp.modelAttribut].id">
                                          <option *ngFor="let option of pageHelper.editedObjectList[paramLigneDefinition.paramChamp.modelAttribut]['options']" [ngValue]="option.id">{{ option.nom }}</option>
                                        </select>
                                      </div>
                                    </div>
                                </ng-container>
                              </div>
                          </ng-container>
                      </nb-card-body>
                    </nb-card>
              </nb-tab>
            </nb-tabset>
          </nb-card>
        </div>
  </nb-card-body>
</nb-card>
