<nb-card [nbSpinner]="currentSurveillance === undefined" nbSpinnerMessage="Chargement..." nbSpinnerSize="xxlarge">
  <nb-card-header>
    FICHE DE SURVEILLANCE
    <button class="btn return-button" (click)="backClicked()">< RETOUR</button>
    <button style="float:right;margin-right:20px;" class="btn btn-success" (click)="switchToOuvrage()">FICHE OUVRAGE</button>
  </nb-card-header>
  <nb-card-body>
    <nb-tabset fullWidth>
      <nb-tab tabTitle="Description Technique">
        <nb-card>
          <nb-card-body>
            <div class="row" style="width:100%;">
              <div class="col">
                Région
              </div>
              <div class="col">
                Infrapole
              </div>
              <div class="col">
                Secteur
              </div>
              <div class="col">
                UO
              </div>
            </div>
            <div class="row" style="width:100%;">
              <div class="col">
                <div class="form-group">
                  <input type="text" disabled pInputText style="background-color:#e4e7ea;" [pKeyFilter]="inputFilter" class="form-control" *ngIf="currentSurveillance" [(ngModel)]="ngModel"/>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <input type="text" disabled pInputText style="background-color:#e4e7ea;" [pKeyFilter]="inputFilter" class="form-control" *ngIf="currentSurveillance" [(ngModel)]="ngModel"/>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <input type="text" disabled pInputText style="background-color:#e4e7ea;" [pKeyFilter]="inputFilter" class="form-control" *ngIf="currentSurveillance" [(ngModel)]="ngModel"/>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <input type="text" disabled pInputText style="background-color:#e4e7ea;" [pKeyFilter]="inputFilter" class="form-control" *ngIf="currentSurveillance" [(ngModel)]="ngModel"/>
                </div>
              </div>
            </div>
            <div class="row" style="width:100%;">
              <div class="col">
                Ligne
              </div>
            </div>
            <div class="row" style="width:100%;">
              <div class="col">
                <div class="form-group">
                  <input type="text" disabled pInputText style="background-color:#e4e7ea;" [pKeyFilter]="inputFilter" class="form-control" *ngIf="currentSurveillance" [(ngModel)]="ngModel"/>
                </div>
              </div>
            </div>
            <div class="row" style="width:100%;">
              <div class="col">
                Pk
              </div>
              <div class="col">
                Pk milieu
              </div>
              <div class="col">
                Pk fin
              </div>
              <div class="col">
                Indice de l'ouvrage
              </div>
            </div>
            <div class="row" style="width:100%;">
              <div class="col">
                <div class="form-group">
                  <input type="text" disabled pInputText style="background-color:#e4e7ea;" [pKeyFilter]="inputFilter" class="form-control" *ngIf="currentSurveillance" [(ngModel)]="ngModel"/>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <input type="text" disabled pInputText style="background-color:#e4e7ea;" [pKeyFilter]="inputFilter" class="form-control" *ngIf="currentSurveillance" [(ngModel)]="ngModel"/>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <input type="text" disabled pInputText style="background-color:#e4e7ea;" [pKeyFilter]="inputFilter" class="form-control" *ngIf="currentSurveillance" [(ngModel)]="ngModel"/>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <input type="text" disabled pInputText style="background-color:#e4e7ea;" [pKeyFilter]="inputFilter" class="form-control" *ngIf="currentSurveillance" [(ngModel)]="ngModel"/>
                </div>
              </div>
            </div>
            <div class="row" style="width:100%;">
              <div class="col">
                Code analytique
              </div>
              <div class="col">
                Code Segment
              </div>
              <div class="col">
                Libellé Segment
              </div>
            </div>
            <div class="row" style="width:100%;">
              <div class="col">
                <div class="form-group">
                  <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="currentSurveillance" [(ngModel)]="ngModel"/>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <input type="text" disabled pInputText style="background-color:#e4e7ea;" [pKeyFilter]="inputFilter" class="form-control" *ngIf="currentSurveillance" [(ngModel)]="ngModel"/>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <input type="text" disabled pInputText style="background-color:#e4e7ea;" [pKeyFilter]="inputFilter" class="form-control" *ngIf="currentSurveillance" [(ngModel)]="ngModel"/>
                </div>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
        <nb-card>
          <nb-card-body>
            <div class="row" style="width:100%;">
              <div class="col">
                Début
              </div>
              <div class="col">
                Fin
              </div>
              <div class="col" title="C'est à partir de cette année que sont calculées toutes les années de visite en fonction des cycles définis">
                Année de référence
              </div>
            </div>
            <div class="row" style="width:100%;">
              <div class="col">
                <div class="form-group">
                  <input type="text" disabled pInputText style="background-color:#e4e7ea;" [pKeyFilter]="inputFilter" class="form-control" *ngIf="currentSurveillance" [(ngModel)]="ngModel"/>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <input type="text" disabled pInputText style="background-color:#e4e7ea;" [pKeyFilter]="inputFilter" class="form-control" *ngIf="currentSurveillance" [(ngModel)]="ngModel"/>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <input type="text" [pKeyFilter]="inputFilter" class="form-control" *ngIf="currentSurveillance" [(ngModel)]="ngModel"/>
                </div>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
        <nb-card>
          <nb-card-body>
            <div class="row" style="width:100%;">
              <div class="col">
                <div class="form-group">
                  <label>1er Moyens</label>
                  <select class="form-control" *ngIf="currentSurveillance" [(ngModel)]="currentSurveillance.firstMeansKey" (ngModelChange)="moyensChange($event)">
                    <option *ngFor="let option of selectOptions.WORK_SURVEILLANCE_MEANS" [ngValue]="option.raw">{{ option.fr }}</option>
                  </select>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label>2ème Moyens</label>
                  <select class="form-control" *ngIf="currentSurveillance" [disabled]="moyensDisabled()[0] === true" [(ngModel)]="currentSurveillance.secondMeansKey" (ngModelChange)="moyensChange($event)">
                    <option *ngFor="let option of selectOptions.WORK_SURVEILLANCE_MEANS" [ngValue]="option.raw">{{ option.fr }}</option>
                  </select>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label>3ème Moyens</label>
                  <select class="form-control" *ngIf="currentSurveillance" [disabled]="moyensDisabled()[1] === true" [(ngModel)]="currentSurveillance.thirdMeansKey" (ngModelChange)="moyensChange($event)">
                    <option *ngFor="let option of selectOptions.WORK_SURVEILLANCE_MEANS" [ngValue]="option.raw">{{ option.fr }}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row" style="width:100%;">
              <div class="col">
                FSA
              </div>
              <div class="col">
                Convention
              </div>
              <div class="col">
                Instrumentation
              </div>
              <div class="col">
                Tournée Intempérie
              </div>
            </div>
            <div class="row" style="width:100%;">
              <div class="col">
                <div class="form-group">
                  <select class="form-control" *ngIf="currentSurveillance" [(ngModel)]="DUMMYSelected">
                    <option *ngFor="let option of selectOptions.FSA_KEY" [ngValue]="option.raw">{{ option.fr }}</option>
                  </select>
                </div>
              </div>
              <div class="col">
                <p-toggleButton *ngIf="currentSurveillance" [(ngModel)]="ngModel" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
              </div>
              <div class="col">
                <p-toggleButton *ngIf="currentSurveillance" [(ngModel)]="ngModel" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
              </div>
              <div class="col">
                <p-toggleButton *ngIf="currentSurveillance" [(ngModel)]="ngModel" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
        <nb-card>
          <nb-card-header style="text-align:center;">
            Surveillance Périodique
          </nb-card-header>
          <nb-card-body>
            <nb-card>
              <nb-card-body>
                <div class="row" style="width:100%;">
                  <div class="col">
                    Type de visite
                  </div>
                  <div class="col">
                    Visite annuelle EFPB
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    <div class="form-group">
                      <select class="form-control" *ngIf="currentSurveillance" [(ngModel)]="currentSurveillance.typeSurveillance">
                        <option *ngFor="let option of typesVisiteOptions" [ngValue]="option.raw">{{ option.fr }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col">
                    <p-toggleButton *ngIf="currentSurveillance" [(ngModel)]="ngModel" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    <div class="form-group">
                      <label>Référent AOAP</label>
                      <select class="form-control" *ngIf="currentSurveillance" [(ngModel)]="ngModel">
                        <option *ngFor="let option of aoaps" [ngValue]="option">{{ option.fullName }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label>Référent technique régional</label>
                      <select class="form-control" *ngIf="currentSurveillance" [(ngModel)]="DUMMYSelected" (ngModelChange)="moyensChange($event)">
                        <option *ngFor="let option of DUMMYOptions" [ngValue]="option">{{ option.fr }}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </nb-card-body>
            </nb-card>
            <nb-card *ngIf="currentSurveillance && currentSurveillance.typeSurveillance === 'VP_OT'">
              <nb-card-body>
                <div class="row" style="width:100%;">
                  <div class="col">
                    Périodicité des VP OT
                  </div>
                  <div class="col">
                    Dernière VP OT
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    <div class="form-group">
                      <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="currentSurveillance" [(ngModel)]="currentSurveillance.periodiciteVpOt"/>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <input type="text" disabled pInputText style="background-color:#e4e7ea;" [pKeyFilter]="inputFilter" class="form-control" *ngIf="currentSurveillance" [(ngModel)]="currentSurveillance.lastDateVpOt"/>
                    </div>
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    Prochaine VP OT
                  </div>
                  <div class="col">
                    Auteur VP OT
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    <div class="form-group">
                      <input type="text" disabled pInputText style="background-color:#e4e7ea;" [pKeyFilter]="inputFilter" class="form-control" *ngIf="currentSurveillance" [(ngModel)]="currentSurveillance.nextDateVpOt"/>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <select class="form-control" *ngIf="currentSurveillance" [(ngModel)]="currentSurveillance.auteurVpOt">
                        <option *ngFor="let option of selectOptions.WORK_SURVEILLANCE_HEAD" [ngValue]="option.raw">{{ option.fr }}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </nb-card-body>
            </nb-card>
            <nb-card *ngIf="currentSurveillance && currentSurveillance.typeSurveillance === 'VD_OT'">
              <nb-card-body>
                <div class="row" style="width:100%;">
                  <div class="col">
                    Périodicité des VD OT
                  </div>
                  <div class="col">
                    Dernière VD OT
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    <div class="form-group">
                      <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="currentSurveillance" [(ngModel)]="currentSurveillance.periodiciteVdOt"/>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <input type="text" disabled pInputText style="background-color:#e4e7ea;" [pKeyFilter]="inputFilter" class="form-control" *ngIf="currentSurveillance" [(ngModel)]="currentSurveillance.lastDateVdOt"/>
                    </div>
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    Prochaine VD OT
                  </div>
                  <div class="col">
                    Auteur VD OT
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    <div class="form-group">
                      <input type="text" disabled pInputText style="background-color:#e4e7ea;" [pKeyFilter]="inputFilter" class="form-control" *ngIf="currentSurveillance" [(ngModel)]="currentSurveillance.nextDateVdOt"/>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <select class="form-control" *ngIf="currentSurveillance" [(ngModel)]="currentSurveillance.auteurVdOt">
                        <option *ngFor="let option of selectOptions.WORK_SURVEILLANCE_HEAD" [ngValue]="option.raw">{{ option.fr }}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </nb-card-body>
            </nb-card>
            <nb-card *ngIf="currentSurveillance && currentSurveillance.typeSurveillance === 'VD_OT'">
              <nb-card-body>
                <div class="row" style="width:100%;">
                  <div class="col">
                    Périodicité des VI OT
                  </div>
                  <div class="col">
                    Dernière VI OT
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    <div class="form-group">
                      <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="currentSurveillance" [(ngModel)]="currentSurveillance.periodiciteViOt"/>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <input type="text" disabled pInputText style="background-color:#e4e7ea;" [pKeyFilter]="inputFilter" class="form-control" *ngIf="currentSurveillance" [(ngModel)]="currentSurveillance.lastDateViOt"/>
                    </div>
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    Prochaine VI OT
                  </div>
                  <div class="col">
                    Auteur VI OT
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    <div class="form-group">
                      <input type="text" disabled pInputText style="background-color:#e4e7ea;" [pKeyFilter]="inputFilter" class="form-control" *ngIf="currentSurveillance" [(ngModel)]="currentSurveillance.nextDateViOt"/>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <select class="form-control" *ngIf="currentSurveillance" [(ngModel)]="currentSurveillance.auteurViOt">
                        <option *ngFor="let option of selectOptions.WORK_SURVEILLANCE_HEAD" [ngValue]="option.raw">{{ option.fr }}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </nb-card-body>
            </nb-card>
            <nb-card *ngIf="currentSurveillance && currentSurveillance.typeSurveillance === 'ID'">
              <nb-card-body>
                <div class="row" style="width:100%;">
                  <div class="col">
                    Périodicité des ID
                  </div>
                  <div class="col">
                    Dernière ID
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    <div class="form-group">
                      <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="currentSurveillance" [(ngModel)]="currentSurveillance.periodiciteId"/>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <input type="text" disabled pInputText style="background-color:#e4e7ea;" [pKeyFilter]="inputFilter" class="form-control" *ngIf="currentSurveillance" [(ngModel)]="currentSurveillance.lastDateId"/>
                    </div>
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    Prochaine ID
                  </div>
                  <div class="col">
                    Auteur ID
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    <div class="form-group">
                      <input type="text" disabled pInputText style="background-color:#e4e7ea;" [pKeyFilter]="inputFilter" class="form-control" *ngIf="currentSurveillance" [(ngModel)]="currentSurveillance.nextDateId"/>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <select class="form-control" *ngIf="currentSurveillance" [(ngModel)]="currentSurveillance.auteurId">
                        <option *ngFor="let option of selectOptions.WORK_SURVEILLANCE_HEAD" [ngValue]="option.raw">{{ option.fr }}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </nb-card-body>
            </nb-card>
            <nb-card *ngIf="currentSurveillance && currentSurveillance.typeSurveillance === 'ID'">
              <nb-card-body>
                <div class="row" style="width:100%;">
                  <div class="col">
                    Périodicité des VI
                  </div>
                  <div class="col">
                    Dernière VI
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    <div class="form-group">
                      <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="currentSurveillance" [(ngModel)]="currentSurveillance.periodiciteVi"/>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <input type="text" disabled pInputText style="background-color:#e4e7ea;" [pKeyFilter]="inputFilter" class="form-control" *ngIf="currentSurveillance" [(ngModel)]="currentSurveillance.lastDateVi"/>
                    </div>
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    Prochaine VI
                  </div>
                  <div class="col">
                    Auteur VI
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    <div class="form-group">
                      <input type="text" disabled pInputText style="background-color:#e4e7ea;" [pKeyFilter]="inputFilter" class="form-control" *ngIf="currentSurveillance" [(ngModel)]="currentSurveillance.nextDateVi"/>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <select class="form-control" *ngIf="currentSurveillance" [(ngModel)]="currentSurveillance.auteurVi">
                        <option *ngFor="let option of selectOptions.WORK_SURVEILLANCE_HEAD" [ngValue]="option.raw">{{ option.fr }}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </nb-card-body>
            </nb-card>
            <nb-card *ngIf="currentSurveillance && currentSurveillance.typeSurveillance === 'VD'">
              <nb-card-body>
                <div class="row" style="width:100%;">
                  <div class="col">
                    Périodicité des VD
                  </div>
                  <div class="col">
                    Dernière VD
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    <div class="form-group">
                      <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="currentSurveillance" [(ngModel)]="currentSurveillance.periodiciteVd"/>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <input type="text" disabled pInputText style="background-color:#e4e7ea;" [pKeyFilter]="inputFilter" class="form-control" *ngIf="currentSurveillance" [(ngModel)]="currentSurveillance.lastDateVd"/>
                    </div>
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    Prochaine VD
                  </div>
                  <div class="col">
                    Auteur VD
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    <div class="form-group">
                      <input type="text" disabled pInputText style="background-color:#e4e7ea;" [pKeyFilter]="inputFilter" class="form-control" *ngIf="currentSurveillance" [(ngModel)]="currentSurveillance.nextDateVd"/>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <select class="form-control" *ngIf="currentSurveillance" [(ngModel)]="currentSurveillance.auteurVd">
                        <option *ngFor="let option of selectOptions.WORK_SURVEILLANCE_HEAD" [ngValue]="option.raw">{{ option.fr }}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </nb-card-body>
            </nb-card>
            <nb-card *ngIf="currentSurveillance && currentSurveillance.typeSurveillance === 'VD'">
              <nb-card-body>
                <div class="row" style="width:100%;">
                  <div class="col">
                    Périodicité des VI
                  </div>
                  <div class="col">
                    Dernière VI
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    <div class="form-group">
                      <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="currentSurveillance" [(ngModel)]="currentSurveillance.periodiciteVi"/>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <input type="text" disabled pInputText style="background-color:#e4e7ea;" [pKeyFilter]="inputFilter" class="form-control" *ngIf="currentSurveillance" [(ngModel)]="currentSurveillance.lastDateVi"/>
                    </div>
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    Prochaine VI
                  </div>
                  <div class="col">
                    Auteur VI
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    <div class="form-group">
                      <input type="text" disabled pInputText style="background-color:#e4e7ea;" [pKeyFilter]="inputFilter" class="form-control" *ngIf="currentSurveillance" [(ngModel)]="currentSurveillance.nextDateVi"/>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <select class="form-control" *ngIf="currentSurveillance" [(ngModel)]="currentSurveillance.auteurVi">
                        <option *ngFor="let option of selectOptions.WORK_SURVEILLANCE_HEAD" [ngValue]="option.raw">{{ option.fr }}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </nb-card-body>
            </nb-card>
            <nb-card *ngIf="currentSurveillance && currentSurveillance.typeSurveillance === 'VS'">
              <nb-card-body>
                <div class="row" style="width:100%;">
                  <div class="col">
                    Périodicité des VS
                  </div>
                  <div class="col">
                    Dernière VS
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    <div class="form-group">
                      <input type="text" pInputText [pKeyFilter]="inputFilter" class="form-control" *ngIf="currentSurveillance" [(ngModel)]="currentSurveillance.periodiciteVs"/>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <input type="text" disabled pInputText style="background-color:#e4e7ea;" [pKeyFilter]="inputFilter" class="form-control" *ngIf="currentSurveillance" [(ngModel)]="currentSurveillance.lastDateVs"/>
                    </div>
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    Prochaine VS
                  </div>
                  <div class="col">
                    Auteur VS
                  </div>
                </div>
                <div class="row" style="width:100%;">
                  <div class="col">
                    <div class="form-group">
                      <input type="text" disabled pInputText style="background-color:#e4e7ea;" [pKeyFilter]="inputFilter" class="form-control" *ngIf="currentSurveillance" [(ngModel)]="currentSurveillance.nextDateVs"/>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <select class="form-control" *ngIf="currentSurveillance" [(ngModel)]="currentSurveillance.auteurVs">
                        <option *ngFor="let option of selectOptions.WORK_SURVEILLANCE_HEAD" [ngValue]="option.raw">{{ option.fr }}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </nb-card-body>
            </nb-card>
          </nb-card-body>
        </nb-card>
        <nb-card>
          <nb-card-header style="text-align:center;">
            Surveillance Particulière / Renforcée
          </nb-card-header>
          <nb-card-body>
            <div class="row" style="width:100%;">
              <div class="col">
                Mesures TOPO
              </div>
              <div class="col">
                Mesures INCLINO
              </div>
            </div>
            <div class="row" style="width:100%;">
              <div class="col">
                <p-toggleButton *ngIf="currentSurveillance" [(ngModel)]="ngModel" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
              </div>
              <div class="col">
                <p-toggleButton *ngIf="currentSurveillance" [(ngModel)]="ngModel" onLabel="OUI" offLabel="NON" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'100%','height':'45px'}"></p-toggleButton>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </nb-tab>
      <nb-tab tabTitle="Propriétaire">
        
      </nb-tab>
      <nb-tab tabTitle="Historique de l'OA">
        <nb-accordion>
          <nb-accordion-item>
            <nb-accordion-item-header [ngStyle]="{'font-weight': historiquesDesVisites.length > 0 ? 'bold' : undefined }">
              Historique des visites ({{ historiquesDesVisites.length }})
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              <!-- List<bouclage> surveillance.ouvrage.id -->
              <p-table [value]="historiquesDesVisites" dataKey="id" [columns]="historiquesDesVisitesCols" [scrollable]="true" frozenWidth="100px">
                <ng-template pTemplate="frozencolgroup" let-columns>
                  <colgroup>
                    <col style="width:50px">
                    <col style="width:50px">
                  </colgroup>
                </ng-template>
                <ng-template pTemplate="colgroup" let-columns>
                  <colgroup>
                    <col *ngFor="let col of columns" [ngClass]="col.style">
                  </colgroup>
                </ng-template>
                <ng-template pTemplate="frozenheader" let-columns>
                  <tr>
                    <th style="width:50px;text-align:center;height:66px;" title="Proposition de Travaux">
                      <i class="fas fa-chevron-circle-right"></i>
                    </th>
                    <th style="width:50px;text-align:center;height:66px;" title="Accès Dossier">
                      <i class="fas fa-folder-open"></i>
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th *ngFor="let col of columns"  style="text-align:center;height:66px;">
                      {{col.header}}
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="frozenbody" let-rowData let-columns="columns">
                  <tr>
                    <td style="width:50px;text-align:center;height:66px;padding:0;">
                      <button style="padding:5px;" title="Proposition de Travaux" class="btn btn-success" (click)="openVisiteOuvragePage(rowData)"><i class="fas fa-chevron-circle-right"></i></button>
                    </td>
                    <td style="width:50px;text-align:center;height:66px;padding:0;">
                      <button style="padding:5px;" title="Accès Dossier" class="btn btn-primary" (click)="doStuff()"><i class="fas fa-folder-open"></i></button>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr>
                    <td *ngFor="let col of columns" style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;height:66px;" [ngClass]="col.style" pTooltip="{{resolveFieldData(rowData, col.field)}}" tooltipPosition="bottom">
                      {{resolveFieldData(rowData, col.field)}}
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </nb-accordion-item-body>
          </nb-accordion-item>
          <!--<nb-accordion-item>
            <nb-accordion-item-header>
              Historique des travaux (NUMERO)
            </nb-accordion-item-header>
            <nb-accordion-item-body>

            </nb-accordion-item-body>
          </nb-accordion-item>-->
          <nb-accordion-item>
            <nb-accordion-item-header [ngStyle]="{'font-weight': historiquesDesSurveillances.length > 0 ? 'bold' : undefined }">
              Historique des surveillances ({{ historiquesDesSurveillances.length }})
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              <!-- List<surveillance> surveillance.ouvrage.id -->
              <p-table [value]="historiquesDesSurveillances" dataKey="id">
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th style="text-align:center;">
                      Date début
                    </th>
                    <th style="text-align:center;">
                      Date fin
                    </th>
                    <th style="text-align:center;">
                      Type
                    </th>
                    <th style="text-align:center;">
                      Date du reclassement
                    </th>
                    <th style="text-align:center;">
                      Motif
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData >
                  <tr [pSelectableRow]="rowData">
                    <td style="text-align:center;">
                      {{ rowData.dateDebut ? rowData.dateDebut.toLocaleDateString() : undefined }}
                    </td>
                    <td>
                      {{ rowData.dateFin ? rowData.dateFin.toLocaleDateString() : undefined }}
                    </td>
                    <td>
                      {{ rowData.typeSurveillance ? rowData.typeSurveillance.replace('_', ' ') : undefined }}
                    </td>
                    <td>
                      {{ rowData.dateReclassement ? rowData.dateReclassement.toLocaleDateString() : undefined }}
                    </td>
                    <td>
                      {{ rowData.motifReclassement }}
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </nb-accordion-item-body>
          </nb-accordion-item>
          <nb-accordion-item>
            <nb-accordion-item-header [ngStyle]="{'font-weight': historiquesDesArchives.length > 0 ? 'bold' : undefined }">
              Historique des archives ({{ historiquesDesArchives.length }})
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              <!-- List<archiveDossier> surveillance.ouvrage.id -->
              <p-table [value]="historiquesDesArchives" dataKey="id" [columns]="historiquesDesArchivesCols" [scrollable]="true" frozenWidth="100px">
                <ng-template pTemplate="colgroup" let-columns>
                  <colgroup>
                    <col *ngFor="let col of columns" [ngClass]="col.style">
                  </colgroup>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th *ngFor="let col of columns" style="text-align:center;height:66px;">
                      {{col.header}}
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr>
                    <td *ngFor="let col of columns" style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;height:66px;" [ngClass]="col.style" pTooltip="{{resolveFieldData(rowData, col.field)}}" tooltipPosition="bottom">
                      {{resolveFieldData(rowData, col.field)}}
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </nb-accordion-item-body>
          </nb-accordion-item>
          <nb-accordion-item>
            <nb-accordion-item-header>
              ECR (NUMERO)
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              <!-- OT ONLY -->
            </nb-accordion-item-body>
          </nb-accordion-item>
          <nb-accordion-item>
            <nb-accordion-item-header>
              Historique des modifications de l'ouvrage (NUMERO)
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              <!-- List<modificationFiche> surveillance.ouvrage.id -->
            </nb-accordion-item-body>
          </nb-accordion-item>
          <nb-accordion-item>
            <nb-accordion-item-header>
              Données Géotechniques (NUMERO)
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              <!-- List<campagne> surveillance.ouvrage.id -->
            </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>