// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';
@import '~@nebular/bootstrap/styles/globals';
// ...

// global app font size
@import './font-size';

// loading progress bar theme
@import './pace.theme';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();
  @include nb-bootstrap-global();

  // loading progress bar
  @include ngx-pace-theme();
};

.btn:not(:disabled):not(.disabled) {
  cursor: pointer!important;
  i {
    float:left;
    font-size:17px;
  }
}

nb-user {
  cursor: pointer!important;
}

.form-group {
  p-autocomplete, p-calendar {
    input.form-control {
      &:hover {
        border: 2px solid #dadfe6!important;
      }

      &:focus {
        border-color: #5dcfe3!important;
      }
    }
  }

  textarea.form-control {
    &:hover {
      border: 2px solid #dadfe6!important;
    }

    &:focus {
      border-color: #5dcfe3!important;
    }
  }
}

.ui-paginator {
  .ui-paginator-pages {
    .ui-paginator-page {
      min-width: 5em!important;
    }
  }
}

.ui-multiselect-panel .ui-multiselect-list {
  padding-left: 0!important;
}

.parent-multi-select {
  font-weight: bold;
}

.child-multi-select {
  margin-left: 20px;
}

::-webkit-scrollbar {
  width: 15px!important;
  height: 15px!important;
}

.column-center {
  text-align: center;
}

.column-width-30 {
  width: 30px;
}

.column-width-50 {
  width: 50px;
}

.column-width-100 {
  width: 100px;
}

.column-width-150 {
  width: 150px;
}

.column-width-200 {
  width: 200px;
}

.column-width-250 {
  width: 250px;
}

.column-width-300 {
  width: 300px;
}

select {
  &:disabled {
    color: lightgrey!important;
    border-color: #f3f6f9!important;
  }
}

.dialog-footer {
  text-align: center;
  button {
    margin: 0px 5px;
    width: 200px;
    text-align: center;
  }
}

.dialog-popup {
  width:600px;
  max-height:600px;
  .confirm-button {
    text-align: center;
    button {
      margin: 0px 5px;
      width: 200px;
      text-align: center;
    }
  }
  .form-group {
    p-checkbox {
      margin-left : 15px;
      margin-right : 15px;
    }
  }
}

.cdk-global-scrollblock {
  position: static;
  overflow: hidden !important;
}

.date-is-blue {
  color: blue;
}

.date-is-orange {
  color: orange;
}

.date-is-red {
  color: red !important;
}

.is-red {
  background-color: red !important;
}

.is-pink {
  background-color: pink !important;
}

.blue-white-button {
  background-color: #006CB1!important;
  color:white!important;
}

.blue-black-button {
  background-color: #006CB1!important;
  color:black!important;
}

.green-white-button {
  background-color: #81B706!important;
  color:white!important;
}

.green-black-button {
  background-color: #81B706!important;
  color:black!important;
}

.return-button {
  float: right;
  padding: 10px!important;
  background-color: lightgrey;
  &:hover {
    background-color: grey;
  }
}
